{% extends 'AppBundle:Front:base.html.twig' %}



{% block content %}

<!-- Page Content-->
<main class="page-content section-75 section-md-top-90 section-md-bottom-110">
    <!-- 404-->
    <section>
        <div class="shell">
            <div>
                <h1>{{ status_code }}</h1>
            </div>
            <h5 class="text-spacing-75">{% trans %}{{ status_text }}{% endtrans %}</h5>
            {% if status_code == 404 %}
                <div class="offset-top-25">
                    <p>The page requested couldn't be found - this could be due to a spelling error in the URL or a removed page.</p>
                </div>
                <div class="offset-top-30"><a href="{{ path("home") }}" style="min-width: 210px;" class="btn btn-primary">back to homepage</a></div>
            {% elseif status_code == 500 %}
                <div class="offset-top-25">
                    <p>Server error</p>
                </div>
                <div class="offset-top-30"><a href="{{ path("home") }}" style="min-width: 210px;" class="btn btn-primary">back to homepage</a></div>
            {% elseif status_code == 403 %}
                <div class="offset-top-25">
                    <p>Forbiden</p>
                </div>
                <div class="offset-top-30"><a href="{{ path("home") }}" style="min-width: 210px;" class="btn btn-primary">back to homepage</a></div>
            {% elseif status_code == 503 %}
                <div class="offset-top-25">
                    <p>Maintance</p>
                </div>
                <div class="offset-top-30"><a href="{{ path("home") }}" style="min-width: 210px;" class="btn btn-primary">back to homepage</a></div>
            {% endif %}

            <div class="offset-top-20"><svg width="135" height="2" viewBox="0 0 134 2"><line x1="0" y1="2" x2="134" y2="2" style="stroke: #8d8d8d; stroke-width: 4;"/></svg></div>
        </div>
    </section>
</main>

{% endblock %}
