{% extends 'AppBundle:Dash:base.html.twig' %}
{% block pagetitle %}Servicios de Taxi | Experiencias{% endblock pagetitle %}
{% set pagename = 'services' %}

{% block content %}

    <div class="row">

        <a class="btn-primary btn" href="{{ path('dash_experience_new') }}" style="float: right">Crear una nueva Experiencia</a>

    </div>


        {% for experience in experiences %}

            <div class="media card">
                <div class="col-md-2">
                    <a class="pull-left" href="#">
                        <img class="img-responsive" style="height: 100%" src="{{ asset(experience.WebPath) }}" alt="{{ experience.name }}">
                    </a>
                </div>


                <div class="col-md-8">
                    <h4 class="media-heading">{{ experience.name }} <small>{{ experience.targetPlace }}</small></h4>
                    <h5>{{ experience.basePrice }}</h5>
                    <p>{{ utils.cutText( experience.description | striptags, 400)}}</p>
                    <p>{{ experience.priceSumary }}</p>
                </div>

                <div class="col-md-2">
                    <ul style="list-style: none" class="btn-list">
                        <li>
                            <a href="{{ path('dash_experience_edit', { 'id': experience.id }) }}"><i class="ti-pencil-alt"></i> Editar</a>
                        </li>


                    {% if experience.important %}
                        <li>
                            <i class="fa fa-star fa-2x" style="color: greenyellow"></i> <span>Destacado</span>
                        </li>
                    {% endif %}
                    {% if experience.isExternalBook %}
                       <li>
                           <i class="fa fa-rocket fa-2x" style="color: #db5012"></i> <span>Reservas externas</span>
                       </li>
                    {% endif %}
                    </ul>
                </div>

            </div>
        {% endfor %}

{% endblock %}
