{% extends 'AppBundle:Dash:base.html.twig' %}
{% set pagename = 'booking'  %}
{% block content %}
    <h2>Editar Reservaci&oacute;n <small> {{ edit_form.vars.value.id }}</small></h2>

    {{ form_start(edit_form) }}

    <div class="row">
        <div class="col-md-6">
            <h3>
                Datos generales
            </h3>
            <div class="col-md-12 card">
                {{ form_row(edit_form.serviceType) }}
                {{ form_row(edit_form.pickuptime) }}
                {{ form_row(edit_form.airport) }}
                {{ form_row(edit_form.details) }}
                {{ form_row(edit_form.airportName) }}
                {{ form_row(edit_form.flynumber) }}
            </div>
            <div class="col-md-12 card">
                {{ form_row(edit_form.targetPlace) }}
                {{ form_row(edit_form.returnpickup) }}
                {{ form_row(edit_form.returnpickuptime) }}
                {{ form_row(edit_form.returnpickupplacce) }}
                {{ form_row(edit_form.timelinetravel) }}
            </div>
        </div>

        <div class="col-md-6">
            <h3>
                Datos del cliente
            </h3>
            <div class="col-md-12 card">
                {{ form_row(edit_form.fullname) }}
                {{ form_row(edit_form.email) }}
                {{ form_row(edit_form.telephone) }}
                {{ form_row(edit_form.bookingLanguage) }}
                {{ form_row(edit_form.numpeople) }}
                {{ form_row(edit_form.children) }}
                {{ form_row(edit_form.comment) }}
            </div>
        </div>

        <div class="col-md-6">
            <h3>
                Sobre la Experiencia
            </h3>
            <div class="col-md-12 card">
                {{ form_row(edit_form.experience) }}
                {{ form_row(edit_form.experienceTaxi) }}
                {{ form_row(edit_form.experienceTime) }}
            </div>
        </div>

        <div class="col-md-6">
            <h3>
                Gestión Interna
            </h3>
            <div class="col-md-12 card">
                {{ form_row(edit_form.bookingSource, {'disabled':true}) }}
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(edit_form.price) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(edit_form.currency) }}
                    </div>
                </div>
                {{ form_row(edit_form.payed) }}
                {{ form_row(edit_form.payedDate) }}
                {{ form_row(edit_form.paymentDetails) }}
                {#{ form_row(edit_form.drivermsg) }#}
                {{ form_row(edit_form.drivername) }}

                <hr>
                {{ form_row(edit_form.accepted) }}
                {{ form_row(edit_form.confirmed) }}

            </div>
        </div>
    </div>
    {{ form_widget(edit_form) }}

    <input type="submit" value="Guardar" class="btn btn-primary"/>
    {{ form_end(edit_form) }}
    <hr>
    <a class="btn" href="{{ path('dash_bookings_index') }}">Regresar a la lista</a>
       
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn-danger btn" style="float:right;">
            {{ form_end(delete_form) }}
      
{% endblock %}
