{% extends 'AppBundle:Dash/booking:base.html.twig' %}
{% set pagename = 'booking'  %}
{% block content %}
    <h1>Todas las reservas</h1>

    <a href="{{ path('dash_bookings_new') }}" class="btn btn-primary">Agregar Reservaci&oacute;n</a>
    {% if prev_page > 0 %}
    <a href="{{ path('dash_bookings_index', {'page': prev_page}) }}" class="btn">P&aacute;gina anterior</a>
    {% endif %}
    <a href="{{ path('dash_bookings_index', {'page': next_page}) }}" class="btn">P&aacute;gina siguiente</a>

<hr>
    <table id="booking-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de reserva</th>
                <th>Servicio</th>
                <th>Airport/Crucero</th>
                <th>Lugar</th>
                <th>Tour</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Flynumber</th>
                <th>Detalles del Lugar</th>
                <th>Fecha/Hora de Recogida</th>
                <th>Recogida</th>
                <th>Taxi/Experiencia</th>
                <th>Tiempo en la Experiencia</th>
                <th>Ida al Aeropuerto</th>
                <th>Viajes intermedios</th>
                <th>Ni&ntilde;os</th>
                <th>Idioma</th>
                <th>Detalles/Pago</th>
                <th>Chofer</th>
                <th>Telefono/Chofer</th>
                <th>Fecha/Hora de Retorno</th>
                <th>Lugar de Recogida/ Retorno</th>
                <th>Cantidad de personas</th>
                <th>Precio</th>
                <th>Comentario</th>
                <th>Aceptada</th>
                <th>Confirmada</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{% if booking.bookingTime and booking.bookingTime | date('Y') > 2000 %}{{ booking.bookingTime|date('Y-M-d H:i:s') }}{% endif %}</td>
                <td>{{ booking.serviceType }}</td>
                <td>{{ booking.airport }}</td>
                <td>{{ booking.place }}</td>
                <td>{% if booking.tour %}Yes{% else %}No{% endif %}</td>
                <td>{{ booking.fullname }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.telephone }}</td>
                <td>{{ booking.flynumber }}</td>
                <td>{{ booking.details }}</td>
                <td>{% if booking.pickuptime %}{{ booking.pickuptime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if booking.returnpickup %}Yes{% else %}No{% endif %}</td>
                <td>{% if booking.experienceTaxi %}Yes{% else %}No{% endif %}</td>
                <td>{{ booking.experienceTime }}</td>
                <td>{% if booking.toAirport %}Yes{% else %}No{% endif %}</td>
                <td>{{ booking.timelinetravel }}</td>
                <td>{% if booking.children %}Yes{% else %}No{% endif %}</td>
                <td>{{ booking.bookingLanguage }}</td>
                <td>{{ booking.paymentDetails }}</td>
                <td>{{ booking.drivername }}</td>
                <td>{{ booking.drivertelephone }}</td>
                <td>{% if booking.returnpickuptime %}{{ booking.returnpickuptime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ booking.returnpickupplacce }}</td>
                <td>{{ booking.numpeople }}</td>
                <td>{{ booking.price }}</td>
                <td>{{ booking.comment }}</td>
                <td>{% if booking.accepted %}Yes{% else %}No{% endif %}</td>
                <td>{% if booking.confirmed %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dash_bookings_show', { 'id': booking.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dash_bookings_edit', { 'id': booking.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <a href="{{ path('dash_bookings_new') }}" class="btn btn-primary">Agregar Reservaci&oacute;n</a>
    {% if prev_page > 0 %}
        <a href="{{ path('dash_bookings_index', {'page': prev_page}) }}" class="btn">P&aacute;gina anterior</a>
    {% endif %}
    <a href="{{ path('dash_bookings_index', {'page': next_page}) }}" class="btn">P&aacute;gina siguiente</a>

    <link href="{{ asset('css/tabulator.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ asset('js/tabulator.min.js') }}"></script>
    <script>
        var table = new Tabulator("#booking-table", {});
    </script>
{% endblock %}
