{% extends 'AppBundle:Dash/booking:pdf_export_base.html.twig' %}
{% block content %}
    {% for booking in bookings %}
    <h2 style="width: 80%;">Detalles de Reservaci&oacute;n <small style="font-size: 120%;"> {{booking.id}} ({{booking.token}})</small></h2>

    <p style="">Agregada el {{ booking.bookingTime | date('d/m/Y h:i') }}</p>

    <hr>
    <table style="width: 100%">
        <tr>
            <td style="width: 45%;">
                <h3>
                    Datos generales
                </h3>
                <div class="card">
                    <p>
                        <b>Tipo de servicio:</b>
                        {{ booking.serviceType }}
                    </p>
                    <p>
                        <b>Fecha/Hora Recogida:</b>
                        {{ booking.pickuptime | date('d/M/Y h:i')}}
                    </p>
                    <p>
                        <b>Lugar de recogida:</b>
                        {% if booking.airport == 'airport' %}
                            {% if booking.airportName %}
                                {{ booking.airportName }}
                            {% else %}
                                Aeropuerto
                            {% endif %}
                            <br>
                            <b>Vuelo:</b> {{ booking.flynumber }}
                        {% elseif booking.airport == 'cruise' %}
                            Crucero
                        {% endif %}
                    </p>

                    <p>
                        {{ booking.details }}
                    </p>
                    <hr>
                    <p>
                        <b>Destino:</b>{{ booking.targetPlace }}
                    </p>
                    <p>
                        {% if booking.returnpickup %}
                            <b>Viajar&aacute; de regreso:</b>
                            {{ booking.returnpickuptime| date('d/M/Y h:i')}}
                            <br>
                            <b>Lugar de recogida:</b>
                            {{ booking.returnpickupplacce }}
                        {% endif %}

                    </p>
                    {% if booking.timelinetravel %}
                        <p>

                            <b>Varios lugares de destino:</b>
                            {{ booking.timelinetravel }}
                        </p>
                    {% endif %}
                </div>
            </td>
            <td style="width: 5%">&nbsp;</td>
            <td style="width: 45%;">
                <h3>
                    Enlace a la reservaci&oacute;n
                </h3>
                <div class="card">
                    <p>
                    Para ver los detalles de esta reservaci&oacute;n siga este enlace:
                        <br>
                        <b>{{ absolute_url(path('purchase_details', {'_token':booking.token})) }}</b>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 45%;">
                <h3>
                    Gestión Interna
                </h3>
                <div class="card">
                    <p>
                        <b>Origen de esta reserva:</b>
                        {{ booking.bookingSource }}
                    </p>
                    <p>
                        <b>Precio: </b>
                        {% if booking.price %}
                        {{ booking.price }} EUR
                        {% else %}
                        A&uacute;n no hay un precio
                    </p>
                    {%endif %}
                    <hr>
                    {%if booking.paymentDetails %}
                        <p>
                            <b>Detalles de pago:</b>{{ booking.paymentDetails }}
                        </p>
                    {%endif%}

                    {%if booking.drivermsg %}
                        <p>
                            <b>Mensaje enviado al cliente:</b>{{ booking.drivermsg }}
                        </p>
                    {%endif%}


                    {%if booking.drivername %}
                        <p>
                            <b>Contacto del Chofer:</b>{{ booking.drivername }}
                        </p>
                    {%endif%}


                    {%if booking.accepted %}
                        <p>
                            <b>Reservaci&oacute;n aceptada</b>
                        </p>
                    {%endif%}
                </div>
            </td>

            <td style="width: 5%">&nbsp;</td>

            <td style="width: 45%;">
                <h3>
                    Datos del cliente
                </h3>
                <div class="card">
                    <p>
                        <b>Nombre:</b>
                        {{ booking.fullname }}
                    </p>
                    <p><b>Email:</b>
                        {{ booking.email }}
                    </p>
                    {% if booking.telephone %}
                    <p><b>Telefono:</b>
                        {{ booking.telephone }}
                    </p>
                    {% endif %}
                    <p>
                        <b>Idioma:</b>
                        {{ booking.bookingLanguage }}

                    </p>
                    <p><b>Cantidad de personas:</b>
                        {{ booking.numpeople }}.
                        {% if booking.children %}
                            Incluyen ni&ntilde;os
                        {% endif %}

                    </p>
                    {% if booking.comment is not empty %}
                    <p>
                        <b>Comentarios del cliente:</b>

                        {{ booking.comment }}
                    </p>
                    {% endif %}
                </div>
            </td>


        </tr>
        <tr>

            <td style="width: 45%;">
                {% if booking.experience %}
                    <h3>
                        Sobre la Experiencia
                    </h3>
                    <div class="card">
                        <p>
                            <b>{{ booking.experience }}</b>

                            {% if booking.experienceTime %}
                                <br>
                                Durante {{ booking.experienceTime }} horas.
                            {% endif %}
                        </p>

                        <p>
                            {%if booking.experienceTaxi %}
                                <b>Necesita transporte</b>
                            {% endif %}
                        </p>

                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr style="border-top: solid 4px #000000;">
        {% else %}
        No hay reservas para esta semana
    {% endfor %}
{% endblock %}