{% extends 'AppBundle:Dash:base.html.twig' %}
{% set pagename = 'booking'  %}
{% block content %}
    <h2>
{% if booking.isStared %}
<i class="fa fa-warning text-warning"></i> &nbsp;
{% endif %}
        Reservaci&oacute;n <small> ({{booking.id}}) - {{booking.token}}</small></h2>

    {{ include('@App/Dash/booking/_partial_show.html.twig') }}
    {% if delete_form is defined %}
<hr>
        <div class="row">
            <div class="col-md-6">
                <a class="btn" href="{{ path('dash_bookings_index') }}" style="float: left">Regresar a la lista</a>
                <a class="btn" href="{{ path('dash_bookings_edit', { 'id': booking.id }) }}">Editar</a>
            </div>
            <div class="col-md-6">
                {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger" style="float: right">
                {{ form_end(delete_form) }}
            </div>
        </div>


    {% endif %}
{% endblock %}
