{% extends 'AppBundle:Dash/booking:base.html.twig' %}
{% set pagename = 'booking'  %}
{% block content %}
    <h2>Reservaci&oacute;n</h2>
    <p style="float: right">{{ booking.bookingTime | date('d/m/Y h:i') }}</p>

    <div class="row">
        <div class="col-md-6">
            <h2>
                Datos generales
            </h2>
            <div class="col-md-12 card">
                {{ booking.serviceType }}
                {{ booking.pickuptime | date('d/m/Y h:i')}}
                {{ booking.airport }}
                {{ booking.details }}
                {{ booking.airportName }}
                {{ booking.flynumber }}
            </div>
            <div class="col-md-12 card">
                {{ booking.targetPlace }}
                {{ booking.returnpickup }}
                {{ booking.returnpickuptime| date('d/m/Y h:i')}}
                {{ booking.returnpickupplacce }}
                {{ booking.timelinetravel }}
            </div>
        </div>

        <div class="col-md-6">
            <h2>
                Datos del cliente
            </h2>
            <div class="col-md-12 card">
                {{ booking.fullname }}
                {{ booking.email }}
                {{ booking.telephone }}
                {{ booking.bookingLanguage }}
                {{ booking.numpeople }}
                {{ booking.children }}
                {{ booking.comment }}
            </div>
        </div>

        <div class="col-md-6">
            <h2>
                Sobre la Experiencia
            </h2>
            <div class="col-md-12 card">
                {{ booking.experience }}
                {{ booking.experienceTaxi }}
                {{ booking.experienceTime }}
            </div>
        </div>

        <div class="col-md-6">
            <h2>
                Gestión Interna
            </h2>
            <div class="col-md-12 card">
                {{ booking.bookingSource }}
                {{ booking.price }}
                {{ booking.paymentDetails }}
                {{ booking.drivermsg }}
                {{ booking.drivername }}
                {{ booking.drivername }}
                <hr>
                {{ booking.accepted }}
                {{ booking.confirmed }}

            </div>
        </div>
    </div>
<hr>
            <a class="btn" href="{{ path('dash_bookings_index') }}">Regresar a la lista</a>
           <a class="btn" href="{{ path('dash_bookings_edit', { 'id': booking.id }) }}">Editar</a>
           {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger" style="float: right">
            {{ form_end(delete_form) }}

{% endblock %}
