{% extends 'AppBundle:Dash:base.html.twig' %}

{% set pagename = 'experience' %}

{% block content %}

    <div class="row">
        <h1>Experiencias</h1>

        <a class="btn-primary btn" href="{{ path('dash_experience_new') }}" style="float: right">Crear una nueva Experiencia</a>

    </div>


        {% for experience in experiences %}

            <div class="media card">
                <div class="col-md-2">
                    <a class="pull-left" href="#">
                        <img class="img-responsive" style="height: 100%" src="{{ asset(experience.WebPath) }}" alt="{{ experience.name }}">
                    </a>
                </div>


                <div class="col-md-8">
                    <h4 class="media-heading">{{ experience.name }} <small>{{ experience.price }}</small></h4>
                    <h5>{{ experience.place }}</h5>
                    <p>{{ experience.description }}</p>
                    <p>{{ experience.priceSumary }}</p>
                </div>

                <div class="col-md-2">
                    <ul style="list-style: none" class="btn-list">
                        <li>
                            <a href="{{ path('dash_experience_edit', { 'id': experience.id }) }}"><i class="ti-pencil-alt"></i> Editar</a>
                        </li>

                    </ul>
                </div>

            </div>
        {% endfor %}

{% endblock %}
