{% extends 'AppBundle:Front:base.html.twig' %}

{% set description = content.getReservationDescriptionLocale %}


{% block content %}
    <!-- Page Content-->
    <main class="page-content">

        <section class="section-75 section-md-top-90 section-md-bottom-110">
            <div class="shell">
                <h2>{% trans %}Form reservation for{% endtrans %} {{ title }}</h2>
                {{ form_start(booking_form, {'attr':{'class':'offset-top-44 well rd-mailform text-md-left',
                                                     'data-form-type':'order',
                                                     'data-form-output':'form-output-global'}}) }}

                    <!-- airport data -->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                            {% trans %}Pickup from airport{% endtrans %}
                        </p>
                    </div>
                <div class="row section-md-top-20 section-md-bottom-20">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="well-row">
                            <div class="range range-xs-middle">
                                <div>
                                    <input  data-toggle="toggle" type="checkbox" id="{{ booking_form.airport.vars.id }}" name="{{ booking_form.airport.vars.full_name }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well-row">
                            <div class="range range-xs-middle">
                                <div id="flynumber" style="display: none">
                                    <div class="form-group">
                                        <label for="{{ booking_form.flynumber.vars.id }}" class="form-label rd-input-label">{% trans %}Fly number{% endtrans %}</label>
                                        <input id="{{ booking_form.flynumber.vars.id }}" name="{{ booking_form.flynumber.vars.full_name }}" data-constraints="@Required" class="form-control form-control-has-validation form-control-last-child" type="text">

                                        <span class="form-validation"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    <!--- Where are you going --->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">Where are you going?</p>
                    </div>
                    <div class="routes">
                        {% block destination %}
                        {% endblock %}
                    </div>

                    <!--- Pickup Data --->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">Pickup time</p>
                    </div>
                    <div class="well-row">

                        <div class="range">
                            <div class="cell-sm-5 cell-md-4 col-md-offset-2 well-row-flex">
                                <label class="custom-label text-gray-dark">{% trans %}No. of passengers{% endtrans %}</label>
                                <div class="form-group">
                                    <input type="number" data-zeros="true" value="1" min="1" max="20" class="form-control" id="{{ booking_form.numpeople.vars.id }}" name="{{ booking_form.numpeople.vars.full_name }}">
                                </div>
                            </div>
                            <div class="offset-top-15 offset-sm-top-0 cell-sm-5 cell-md-4 well-row-flex">
                                <label class="custom-label text-gray-dark">{% trans %}No. of luggage{% endtrans %}</label>
                                <div class="form-group">
                                    <input type="number" data-zeros="true" value="1" min="1" max="20" class="form-control" id="{{ booking_form.burden.vars.id }}" name="{{ booking_form.burden.vars.full_name }}">
                                </div>
                            </div>

                            <div class="offset-top-15 cell-sm-5 cell-md-8 col-md-offset-2 well-row-flex">
                                <label class="custom-label text-gray-dark">{% trans %}Date & Time{% endtrans %}</label>
                                <div style="max-width: 400px; width: 350%;" class="form-group">
                                    <input placeholder="Week Day, Day, Month, Year, Time" dataformatas="yyyy-MM-dd'T'HH:mm:ss" data-time-picker="" type="text" style="text-align: left; padding: 10px 12px;" class="form-control" id="{{ booking_form.pickuptime.vars.id }}" name="{{ booking_form.pickuptime.vars.full_name }}">
                                </div>
                            </div>

                            <div class="offset-top-15 cell-sm-5 cell-md-8 col-md-offset-2 well-row-flex">
                                <label for="{{ booking_form.details.vars.id }}"  class="custom-label text-gray-dark">{% trans %}Place{% endtrans %}</label>
                                <div style="max-width: 400px; width: 350%;" class="form-group">
                                    <input placeholder="Address" type="text" style="padding: 10px 12px;" class="form-control" id="{{ booking_form.details.vars.id }}" name="{{ booking_form.details.vars.full_name }}">
                                </div>
                            </div>
                        </div>
                    </div>


                    <!---Personal Data--->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">{% trans %}Personal Data{% endtrans %}</p>
                    </div>
                    <div class="well-row">

                        <div class="range range-xs-center">

                            <!---Name-->
                            <div class="cell-md-4 inset-lg-right-8">
                                <div class="form-group">
                                    <label for="{{ booking_form.fullname.vars.id }}" class="form-label rd-input-label">{% trans %}Name{% endtrans %}</label>
                                    <input name="{{ booking_form.fullname.vars.full_name }}" id="{{ booking_form.fullname.vars.id }}" data-constraints="@Required" class="form-control form-control-has-validation form-control-last-child" type="text">
                                    <span class="form-validation"></span>

                                </div>
                            </div>

                            <!---Email--->
                            <div class="cell-md-4 inset-lg-left-8 inset-lg-right-8 offset-top-15 offset-md-top-0">
                                <div class="form-group">
                                    <label for="{{ booking_form.email.vars.id }}" class="form-label rd-input-label">Email</label>
                                    <input name="{{ booking_form.email.vars.full_name }}" id="{{ booking_form.email.vars.id }}" data-constraints="@Email @Required" class="form-control form-control-has-validation form-control-last-child" type="email">
                                    <span class="form-validation"></span>

                                </div>
                            </div>

                            <!--Phone Number--->
                            <div class="cell-md-4 inset-lg-left-8 inset-lg-right-8 offset-top-15 offset-md-top-0">
                                <div class="form-group">
                                    <label for="{{ booking_form.telephone.vars.id }}" class="form-label rd-input-label">Phone number</label>

                                    <input  name="{{ booking_form.telephone.vars.full_name }}" id="{{ booking_form.telephone.vars.id }}" data-constraints="@Required" class="form-control form-control-has-validation form-control-last-child" type="text"><span class="form-validation"></span>

                                </div>
                            </div>

                            <div class="cell-sm-12 offset-top-15">
                                <div class="form-group">
                                    <label for="{{ booking_form.comment.vars.id }}" class="form-label rd-input-label">Anything that you need to tell us</label>
                                    <textarea id="{{ booking_form.comment.vars.id }}" name="{{ booking_form.comment.vars.full_name }}" style="max-height: 115px;" class="form-control form-control-has-validation form-control-last-child"></textarea>
                                    <span class="form-validation"></span>
                                </div>

                            </div>

                        </div>

                    </div>

                <div class="well-row">

                    <div class="range range-xs-center">
                        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_public_key }}"></div>
                    </div>
                </div>
                    <!--Submit button-->
                    <div class="well-row well-row-bg">
                        <div class="text-center offset-top-33">
                            <button class="btn btn-sm btn-primary" id="booking_submit">book now</button>
                        </div>
                    </div>
                    {{ form_widget(booking_form._token)}}
                    {{ form_widget(booking_form.places_collection)}}

                {% if place is defined %}
                    {{ form_widget(booking_form.place, {'value':place.id, 'type':'hidden'}) }}
                    {{ form_widget(booking_form.tour, {'value':place.istour, 'type':'hidden'}) }}

                {% else %}
                    {{ form_widget(booking_form.tour, {'value':0, 'type':'hidden'}) }}

                    {{ form_widget(booking_form.place, {'value':0, 'type':'hidden'}) }}
                {% endif %}
                </form>
            </div>
        </section>
    </main>

{% endblock %}
{% block javascript %}
{{ parent() }}
    <script>
        $(document).ready(function(){
            $('#booking_submit').click(function(){
                $('form.offset-top-44')[0].submit(); /*TODO: poner identificador al formulario*/
            })

            $("#{{ booking_form.airport.vars.id }}").change(function() {
                $('.toggle')[0].classList.contains('off') ?
                    $('#flynumber').fadeOut(200) :
                    $('#flynumber').fadeIn(200);
            })
        });
    </script>
{% endblock %}