{% extends 'AppBundle:Front:base.html.twig' %}

{% block content %}
    <!-- Page Content-->
    <main class="page-content">
        <section class="section-75 section-md-top-90 section-md-bottom-110">
            <div class="shell">
                <h2>{% trans %}Reservation form{% endtrans %}</h2>
                {{ form_start(booking_form, {'attr':{'class':'booking offset-top-44 well text-md-left',
                                                     'data-form-type':'order',
                                                     'data-form-output':'form-output-global'}}) }}
                <!--- Where are you going --->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                            {{ experience.getNameLocale }}
                        </p>
                    </div>
                    <div class="routes">
                        {% block destination %}
                        {% endblock %}
                    </div>
                    <div class="routes-description">
                        {{ experience.targetPlace.getPlaceDescLocale | raw }}
                        <hr>
                        {{ experience.getDescriptionLocale | raw }}
                    </div>

                <div class="row">
                    {% if testimonials | length > 0 %}
                        <div class="col-md-9">
                    {% else %}
                        <div class="col-md-12">
                    {% endif %}
                        <!--- Pickup Data --->
                        <div class="well-row well-row-bg">
                            <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}Pickup details{% endtrans %}
                            </p>
                        </div>

                        <div class="well-row row">
                            <div class="col-md-10 cell-md-10">
                                <!--Pickup place-->
                                <div class="row offset-top-15 well-row-flex">
                                    <div class="col-md-3">
                                        <label for="{{ booking_form.details.vars.id }}"  class="custom-label text-gray-dark">{% trans %}Place{% endtrans %}</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <input placeholder="{% trans %}Address{% endtrans %}" type="text" style="padding: 10px 12px;" class="form-control" id="{{ booking_form.details.vars.id }}" name="{{ booking_form.details.vars.full_name }}">
                                        {{ form_errors(booking_form.details, {'class':'danger'}) }}
                                    </div>
                                </div>



                                <!--Date Time -->
                                <div class="row offset-top-15 well-row-flex">
                                    <!--Pickup place-->
                                    <div class="col-md-3">
                                        <label class="custom-label text-gray-dark">{% trans %}Date and time{% endtrans %}
                                        </label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <input data-constraints="@Required" required placeholder="Week Day, Day, Month, Year, Time" dataformatas="yyyy-MM-dd'T'HH:mm:ss" data-time-picker="" type="text" style="text-align: left; padding: 10px 12px;" class="form-control" id="{{ booking_form.pickuptime.vars.id }}" name="{{ booking_form.pickuptime.vars.full_name }}">
                                        <span class="form-validation"></span>
                                        {{ form_errors(booking_form.pickuptime, {'class':'danger'}) }}
                                    </div>
                                </div>



                                <!--Persons-->
                                <div class="row offset-top-15 well-row-flex">
                                    <!--Pickup place-->
                                    <div class="col-md-3">
                                        <label class="custom-label text-gray-dark">{% trans %}No. of persons{% endtrans %}</label>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <input type="number" data-zeros="true" value="1" min="1" max="20" class="form-control" id="{{ booking_form.numpeople.vars.id }}" name="{{ booking_form.numpeople.vars.full_name }}">
                                    </div>

                                    <div class="col-md-6">
                                        <p><strong>{% trans %}Price{% endtrans %}</strong></p>
                                        <ul>
                                            <li id="labelPrice">{{ experience.basePrice | number_format(2,'.') }} USD </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!---Personal Data--->
                        <div class="well-row well-row-bg">
                            <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">{% trans %}Personal Data{% endtrans %}</p>
                        </div>
                        <div class="well-row row">

                            <!---Name-->
                            <div class="col-md-10 offset-top-15 well-row-flex">
                                <div class="col-md-3">
                                    <label for="{{ booking_form.fullname.vars.id }}" class="custom-label text-gray-dark">
                                        {% trans %}Name{% endtrans %}
                                    </label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input name="{{ booking_form.fullname.vars.full_name }}" id="{{ booking_form.fullname.vars.id }}" data-constraints="@Required" required class="form-control form-control-has-validation form-control-last-child" type="text">
                                </div>
                            </div>

                            <!---Email--->
                            <div class="col-md-10 offset-top-15 well-row-flex">
                                <div class="col-md-3">
                                    <label for="{{ booking_form.email.vars.id }}" class="custom-label text-gray-dark">Email</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input name="{{ booking_form.email.vars.full_name }}" id="{{ booking_form.email.vars.id }}" data-constraints="@Email @Required" required class="form-control form-control-has-validation form-control-last-child" type="email">
                                </div>
                            </div>


                            <!---Telephone--->
                            <div class="col-md-10 offset-top-15 well-row-flex">
                                <div class="col-md-3">
                                    <label for="{{ booking_form.telephone.vars.id }}" class="custom-label text-gray-dark">Telephone</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input name="{{ booking_form.telephone.vars.full_name }}" id="{{ booking_form.telephone.vars.id }}" class="form-control form-control-has-validation form-control-last-child" type="text">
                                </div>
                            </div>

                            <!-- Comment -->
                            <div class="col-md-10 well-row-flex offset-top-15">
                                <label for="{{ booking_form.comment.vars.id }}" class="custom-label text-gray-dark">{% trans %}Anything that you need to tell us?{% endtrans %}</label>
                                <div class="form-group col-xs-12 offset-top-15" style="padding-left: 0;">
                                    <textarea id="{{ booking_form.comment.vars.id }}" name="{{ booking_form.comment.vars.full_name }}" style="max-height: 115px;" class="form-control form-control-has-validation form-control-last-child"></textarea>
                                    <span class="form-validation"></span>
                                </div>

                            </div>

                        </div>


                        <div class="well-row">
                            <div class="range range-xs-center">
                                <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_public_key }}"></div>
                            </div>
                        </div>
                    </div>
                    {% if testimonials %}
                    <div class="col-md-3 testimonial-grid">
                        <div class="testimonials-header">
                            <a target="_blank" href="https://www.tripadvisor.es/">
                                <img src="{{ asset('images/tripadvisor-logo.png') }}" alt="TripAdvisor"/>
                            </a>
                        </div>
                        {% for testimony in testimonials %}
                            <div class="owl-item" style="margin: 1em; text-align: center; ">
                                <!-- Blockquote-->
                                <blockquote class="quote">

                                    {% set alt = locale=='en'? "TripAdvisor Testimony by" : "Testimonio de TripAdvisor por" %}
                                    <a href="{{ testimony.link }}">
                                        <img alt="{{ alt }} {{ testimony.getName }}" data-src="{{ asset(testimony.getFullImageWebPath) }}" width="120" height="120" class="img-circle img-responsive center-block lazy">
                                        <div class="offset-top-10 offset-md-top-25">
                                            <cite class="font-accent text-bold text-spacing-inverse-25 text-primary">
                                                <span class="text-mine-shaft">{{ testimony.getName }}</span>
                                            </cite>
                                        </div>
                                    </a>

                                    {% if testimony.points %}
                                        <span class="badge">
                                            {% for i in 1 .. testimony.points %}
                                                <i class="fa fa-star" style="color: gold; font-size: .5em"></i>
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                    <div class="offset-top-15 offset-md-top-30">
                                        <p style="font-size: 0.7em;">
                                            {{ testimony.getTextLocale|striptags|slice(0, 200) }}
                                            {% if testimony.getTextLocale|striptags|length > 200 %}
                                                ...
                                            {% endif %}
                                        </p>

                                    </div>

                                    {% if not loop.last %}
                                    <div class="offset-top-10">
                                        <h5 class="text-spacing-20 text-silver-chalice">....</h5>
                                    </div>
                                    {% endif %}
                                </blockquote>
                            </div>

                        {% endfor %}

                    </div>
                    {% endif %}
                </div>

                </div>

                    <!--Submit button-->
                    <div class="well-row well-row-bg">
                        {% block submitAlert %}
                        {% endblock submitAlert %}

                        <div class="text-center offset-top-33">
                            <button type="submit" class="btn btn-xl btn-primary" id="booking_submit">
                                <i class="fa fa-shopping-cart "></i>
                                {% trans %}Book Now{% endtrans %}
                                <span class="text-extra-small">*</span>
                            </button>
                        </div>

                    </div>

                    {{ form_widget(booking_form._token)}}

                <input type="hidden" value="{{ experience.serviceType }}" name="{{ booking_form.serviceType.vars.full_name }}">
                <input type="hidden" value="{{ experience.id }}" name="{{ booking_form.experience.vars.full_name }}">

                </form>
            </div>
        </section>

        <div class="modal fade" id="myModal" style="margin-top: 5em">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 id="tourTitle" class="modal-title"></h2>
                    </div>
                    <div class="modal-body text-left">
                        <p id="tourDescription" style="margin-bottom: 25px;">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary text-capitalize" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </main>

{% endblock %}

{% block javascript %}
{{ parent() }}
    <script async src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{{ asset("js/flickity.pkgd.min.js") }}"></script>

    <script >
    $('.main-carousel').flickity({
      // options
      cellAlign: 'left',
      contain: true,
      autoPlay: 4000,
      pauseAutoPlayOnHover: false,
      wrapAround: true
    });
    </script>

    <script>
        numberPeople = 1;
        buttonTaxi = false;
        pickup_from_airport = false;
        pickup_from_cruise = false;
        pickup_place = $('#{{ booking_form.details.vars.id }}')[0];
        transferPrice = {% if experience.basePrice %}{{ experience.basePrice }}{% else %}0{% endif %};
        increment = {{ config['price.increment'] }};

        function activeOrDeactivePickupPlace(){


            var pickup = pickup_from_airport || pickup_from_cruise;

            if (pickup){
                var origin = pickup_from_airport? "airport": "cruise";
                var place = '{% trans %}we will pick up you in{% endtrans %} ' + (pickup_from_airport? "{% trans %}Airport{% endtrans %}" : "{% trans %}Cruise{% endtrans %}");
                pickup_place.setAttribute('disabled','true');
                pickup_place.setAttribute('placeholder', place);
                pickup_place.setAttribute('value', place);
                pickup_place.removeAttribute('data-constraints');
                pickup_place.removeAttribute('required');
            }
            else{
                pickup_place.removeAttribute('disabled');
                pickup_place.setAttribute('data-constraints','@Required');
                pickup_place.setAttribute('required','true');
                pickup_place.removeAttribute('value');
                pickup_place.setAttribute('placeholder', '{% trans %}Address{% endtrans %}');
            }
        }

        function activeOrDeactiveTaxi(){
            if (buttonTaxi){
                $("#taxiDetails").fadeIn();
                pickup_place.setAttribute('data-constraints','@Required');
                pickup_place.setAttribute('required','true');
                pickup_place.removeAttribute('value');
            }
            else{
                $("#taxiDetails").fadeOut();
                pickup_place.removeAttribute('data-constraints');
                pickup_place.removeAttribute('required');
            }
        }

    $(document).ready(function()
        {
            updatePrice();

            $('#booking_submit').click(function(e){

                {% block onsubmitBookingForm %}
                {% endblock %}
                {% block stringfy %}
                {% endblock %}
            });

            //button to pickup from airport or cruise
            $(".source-cuba").change(function() {

                var source_input = $('#{{ booking_form.flynumber.vars.id }}')[0];
                var source_label_input = $('label[for="{{ booking_form.flynumber.vars.id }}"]')[0];

                pickup_from_airport = $("#pickup_airport")[0].classList.contains('active');
                pickup_from_cruise = $("#pickup_cruise")[0].classList.contains('active');

                source_label_input.innerHTML = "{% trans %}Flight number or cruiser name{% endtrans %}";
                if (pickup_from_airport)
                    source_label_input.innerHTML = "{% trans %}Flight number{% endtrans %}";
                if (pickup_from_cruise)
                    source_label_input.innerHTML = "{% trans %}Cruise name{% endtrans %}";

                var pickup = pickup_from_airport || pickup_from_cruise;

                pickup ? (source_input.removeAttribute('disabled') ||
                    source_input.setAttribute('data-constraints','@Required')) :
                    (source_input.setAttribute('disabled','true') ||
                    source_input.removeAttribute('data-constraints'));

                activeOrDeactivePickupPlace();
            });

            //Button of active return
            $("#activeTaxi").change(function() {
                buttonTaxi = !$('.toggle')[0].classList.contains('off');
                activeOrDeactiveTaxi();
            });

        function wrapperPrice(price)
        {
            if (typeof(price)=="number" && price > 0)
                return "<i class=\'fa fa-dollar color-sky\'></i> "+price+".00 USD";
            else
                return "{% trans %}We need to negotiate {% endtrans %} <span class=\"text-extra-small\">*</span>";
            return price;
        }

        function updatePrice()
        {      if (numberPeople <= 3)
                        priceContent = wrapperPrice(transferPrice);
                    if (numberPeople > 3  && transferPrice > 0)
                        priceContent = wrapperPrice(transferPrice+increment*(numberPeople-3));


                if (numberPeople > 5)
                    priceContent = wrapperPrice("");

                $("#labelPrice")[0].innerHTML = priceContent;

        }


            $("#{{ booking_form.numpeople.vars.id }}").change(function() {
                numberPeople = $('#{{ booking_form.numpeople.vars.id }}')[0].value;
                  updatePrice();
                  console.log('update price')
            });

        });

    </script>
{% endblock %}