{% extends 'AppBundle:Front:base.html.twig' %}

{% set description = content.getReservationDescriptionLocale %}


{% block content %}
    <!-- Page Content-->
    <main class="page-content">

        <section class="section-75 section-md-top-90 section-md-bottom-110">
            <div class="shell">
                <h2>{% trans %}Reservation form{% endtrans %}</h2>
                {{ form_start(booking_form, {'attr':{'class':'booking offset-top-44 well text-md-left',
                                                     'data-form-type':'order',
                                                     'data-form-output':'form-output-global'}}) }}

                    <!-- airport data -->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                            {% trans %}Pickup from airport or cruise?{% endtrans %}
                        </p>
                    </div>
                <div class="row section-md-top-20 section-md-bottom-20">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="well-row">
                            <div class="range range-xs-middle">
                                <div>
                                    <input data-toggle="toggle" type="checkbox" id="{{ booking_form.airport.vars.id }}" name="{{ booking_form.airport.vars.full_name }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well-row">
                            <div class="range range-xs-middle">
                                <div id="flynumber">
                                    <div class="form-group">
                                        <label for="{{ booking_form.flynumber.vars.id }}" class="form-label rd-input-label">{% trans %}Flight or cruiser number{% endtrans %}</label>
                                        <input id="{{ booking_form.flynumber.vars.id }}" name="{{ booking_form.flynumber.vars.full_name }}"  class="form-control form-control-has-validation form-control-last-child" type="text" required disabled>
                                        <span class="form-validation"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    <!--- Where are you going --->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">{% trans %}Where are you going?{% endtrans %}</p>
                    </div>
                    <div class="routes">
                        {% block destination %}
                        {% endblock %}
                    </div>

                    <!--- Pickup Data --->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                            {% trans %}Pickup time and Price{% endtrans %}
                        </p>
                    </div>
                    <div class="well-row">

                        <div class="">

                            <div class="row">

                                <div class="row">
                                        <div id="tourToggle" class="offset-top-15 cell-sm-6 cell-md-8 well-row-flex" style="margin-bottom: 25px; display: none;">
                                            <label class="custom-label text-gray-dark">
                                                {% trans %}
                                                    The selected place, admits a tour. Do you want to activate it?
                                                {% endtrans %}
                                            </label>
                                            <div style="max-width: 200px; width: 350%;" class="form-group">
                                                <input data-toggle="toggle" type="checkbox" id="activeTour" name="{{ booking_form.tour.vars.full_name }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="cell-md-8">
                                            <p id="tourDescription" style="margin-bottom: 25px; display: none;">
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class=" cell-sm-5 cell-md-12 well-row-flex form-inline">
                                            <label class="custom-label text-gray-dark">{% trans %}No. of passengers{% endtrans %}</label>
                                            <div class="form-group">
                                                <input type="number" data-zeros="true" value="1" min="1" max="20" class="form-control" id="{{ booking_form.numpeople.vars.id }}" name="{{ booking_form.numpeople.vars.full_name }}">
                                            </div>
                                            <label style="margin: 0 2em;" class="custom-label text-gray-dark text-right">
                                                {% trans %}Price{% endtrans %}: <span id="labelPrice"></span>
                                            </label>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="offset-top-15 cell-sm-5 cell-md-8 well-row-flex">
                                            <label class="custom-label text-gray-dark">{% trans %}Date and time{% endtrans %}</label>
                                            <div style="max-width: 400px; width: 350%;" class="form-group">
                                                <input data-constraints="@Required" required placeholder="Week Day, Day, Month, Year, Time" dataformatas="yyyy-MM-dd'T'HH:mm:ss" data-time-picker="" type="text" style="text-align: left; padding: 10px 12px;" class="form-control" id="{{ booking_form.pickuptime.vars.id }}" name="{{ booking_form.pickuptime.vars.full_name }}">
                                                <span class="form-validation"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="offset-top-15 cell-sm-5 cell-md-8 well-row-flex">
                                            <label for="{{ booking_form.details.vars.id }}"  class="custom-label text-gray-dark">{% trans %}Place{% endtrans %}</label>
                                            <div style="max-width: 400px; width: 350%;" class="form-group">
                                                <input placeholder="Address" type="text" style="padding: 10px 12px;" class="form-control" id="{{ booking_form.details.vars.id }}" name="{{ booking_form.details.vars.full_name }}">
                                            </div>
                                        </div>
                                    </div>



                            </div>
                        </div>
                    </div>


                    <!---Personal Data--->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">{% trans %}Personal Data{% endtrans %}</p>
                    </div>
                    <div class="well-row">

                        <div class="range range-xs-center">

                            <!---Name-->
                            <div class="cell-md-4 inset-lg-right-8">
                                <div class="form-group">
                                    <label for="{{ booking_form.fullname.vars.id }}" class="form-label rd-input-label">{% trans %}Name{% endtrans %}</label>
                                    <input name="{{ booking_form.fullname.vars.full_name }}" id="{{ booking_form.fullname.vars.id }}" data-constraints="@Required" required class="form-control form-control-has-validation form-control-last-child" type="text">
                                    <span class="form-validation"></span>
                                </div>
                            </div>

                            <!---Email--->
                            <div class="cell-md-4 inset-lg-left-8 inset-lg-right-8 offset-top-15 offset-md-top-0">
                                <div class="form-group">
                                    <label for="{{ booking_form.email.vars.id }}" class="form-label rd-input-label">Email</label>
                                    <input name="{{ booking_form.email.vars.full_name }}" id="{{ booking_form.email.vars.id }}" data-constraints="@Email @Required" required class="form-control form-control-has-validation form-control-last-child" type="email">
                                    <span class="form-validation"></span>

                                </div>
                            </div>

                            <div class="cell-sm-12 offset-top-15">
                                <div class="form-group">
                                    <label for="{{ booking_form.comment.vars.id }}" class="form-label rd-input-label">Anything that you need to tell us</label>
                                    <textarea id="{{ booking_form.comment.vars.id }}" name="{{ booking_form.comment.vars.full_name }}" style="max-height: 115px;" class="form-control form-control-has-validation form-control-last-child"></textarea>
                                    <span class="form-validation"></span>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="well-row">

                        <div class="range range-xs-center">
                            <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_public_key }}"></div>
                        </div>
                    </div>

                    <!--Submit button-->
                    <div class="well-row well-row-bg">
                        <div class="text-center offset-top-33">
                            <button type="submit" class="btn btn-xl btn-primary" id="booking_submit">
                                <i class="fa fa-shopping-cart "></i>
                                {% trans %}Book Now{% endtrans %}
                                <span class="text-extra-small">*</span>
                            </button>
                        </div>

                        <div>
                            <p class="text-extra-small offset-top-30 text-justify">*
                                {% trans %}The prices can vary in function of the amount of passengers and customs places.
                                {% endtrans %}
                            </p>
                        </div>
                    </div>

                    {{ form_widget(booking_form._token)}}
                    {{ form_widget(booking_form.ownroute, {'type':'hidden'})}}



                {% if place is defined %}
                    {{ form_widget(booking_form.place, {'value':place.id, 'type':'hidden'}) }}
                {% else %}
                    {{ form_widget(booking_form.place, {'value':0, 'type':'hidden'}) }}
                {% endif %}
                </form>
            </div>
        </section>
    </main>

{% endblock %}
{% block javascript %}
{{ parent() }}
    <script>
    $(document).ready(function()
        {

            $('#booking_submit').click(function(e){
                 e.preventDefault();

                {% block stringfy %}
                {% endblock %}

                 $('form.booking')[0].submit();
            });

            $("#{{ booking_form.airport.vars.id }}").change(function() {
                var item = $('#{{ booking_form.flynumber.vars.id }}')[0];
                $('.toggle')[0].classList.contains('off') ?
                    (item.setAttribute('disabled','true') ||
                    item.removeAttribute('data-constraints')):
                    (item.removeAttribute('disabled') ||
                    item.setAttribute('data-constraints','@Required'));
            });

            //Si active tour cambia entonces mostrar la descripcion del tour
            $("#activeTour").change(function() {
                  if (!$('.toggle')[1].classList.contains('off'))
                      $('#tourDescription').fadeIn(500);
                  else
                      $('#tourDescription').fadeOut(500);
            });

        });
    </script>
{% endblock %}