{% set logo_small = asset("images/logo.png") %}
{% set logo_wide = asset("images/logo-wide.png") %}
{% set divider = asset("images/divider-01-135x4.png") %}

<!DOCTYPE html>
<html lang="{{ locale }}" class="wide wow-animation smoothscroll  scrollTo desktop landscape mag-js rd-navbar-fullwidth-linked">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset("/images/favicon.png") }}" />
	<title>{{ title }} | Taxi Drivers Cuba</title>

    <!-- Meta tags -->
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ content.getSitekeywordsLocale }}">
    <meta name="author" content="Taxi Drivers Cuba">

    <!-- Facebook Tags -->
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ title }}" />
    <meta property="og:description"        content="{{ description }}" />
    <meta property="og:image"              content="{{ absolute_url(asset(featureImage)) }}" />

    <!-- Twitter tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@taxiDriverCuba" />
    <meta name="twitter:creator" content="@taxiDriverCuba" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ absolute_url(asset(featureImage)) }}" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Source+Sans+Pro" rel="stylesheet">
    {#<link rel="stylesheet" type="text/css" href="{{ asset("css/css.css") }}">#}

    <link rel="stylesheet" href="{{ asset("css/myBootstrap.css") }}">

    <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
    {#<link rel="stylesheet" type="text/css" href="{{ asset("css/style2.css") }}">#}

    <link rel="stylesheet" type="text/css" href="{{ asset("css/custom.css") }}">

    <script src="https://use.fontawesome.com/f922c63c85.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120939597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-120939597-1');
    </script>
</head>

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<body>
    <!-- Page-->
    <div class="page text-center">

        {% block header %}
            <header class="page-header slider-menu-position">

                <!-- RD Navbar-->

                <div class="rd-navbar-wrap">

                    <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="50px" data-lg-stick-up-offset="1px" class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static">
                        <div class="rd-navbar-inner">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">

                                <!-- RD Navbar Toggle-->
                                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle">
                                    <span></span>
                                </button>

                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand veil reveal-md-block">
                                    <div class="pull-md-left veil reveal-lg-inline-block">
                                        <ul class="rd-navbar-nav">
                                            <li>
                                                <a class="btn-book" href="{{ path("add_booking") }}">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    {% trans %}Book Now{% endtrans %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block">
                                    <a href="" class="brand-name">
                                        <img style='margin-top: -7px;' width='128' height='24' src='{{ logo_wide }}' alt='logo Taxi Drivers Cuba'/>
                                    </a>
                                </div>

                                <!-- RD Navbar Toggle-->
                                <button data-rd-navbar-toggle=".rd-navbar-collapse-wrap" class="rd-navbar-collapse">
                                    <span></span>
                                </button>
                            </div>
                            <div class="rd-navbar-right-side">


                                <!--- Links --->
                                <div class="rd-navbar-nav-wrap reveal-md-inline-block">
                                    <ul class="rd-navbar-nav">
                                        <!-- RD Navbar Nav-->
                                        <li><a href="{{ path("home") }}#home">{% trans %}home{% endtrans %}</a></li>
                                        <li><a href="{{ path("home") }}#services">{% trans %}services{% endtrans %}</a></li>
                                        <li><a href="{{ path("home") }}#about">{% trans %}about us{% endtrans %}</a></li>
                                        <li><a href="{{ path("home") }}#contact">{% trans %}contacts{% endtrans %}</a></li>
                                        <li><a href="{{ path("blog") }}">blog</a></li>
                                    </ul>
                                </div>

                                <!-- Social Network --->
                                <div class="rd-navbar-collapse-wrap reveal-md-inline-block">

                                        <ul class="list-inline list-inline-0 list-social">
                                            {% for socialNetwork in socialNetworks %}
                                                <li class="text-center">
                                                    <a target="_blank" href="{{ socialNetwork.getProfilelink }}" class="text-white">
                                                        <i class="fa fa-{{ socialNetwork.getName }}"></i>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                </div>

                                <div class="rd-navbar-collapse-wrap reveal-md-inline-block">

                                    <ul class="list-inline list-inline-2 flags">
                                        <li class="text-center">
                                            <a href="{{ english_page }}">
                                                <img src="{{ asset('images/flags/uk-flags.svg') }}" alt="{% trans %}change language to english{% endtrans %}">
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a href="{{ spanish_page }}">
                                                <img src="{{ asset('images/flags/spana-flags.svg') }}" alt="{% trans %}change languaje to spanish{% endtrans %}">
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </nav>
                </div>

                <!-- Modern Breadcrumbs-->
                <section class="{% block class %}{% endblock %} section-height-800 breadcrumb-modern rd-parallax context-dark">
                    <div data-speed="0.6" data-type="media" data-url="
                    {% block header_image %}
                        {{ asset(content.getHeaderimage.getWideImageWebPath) }}
                    {% endblock %}
                    " class="rd-parallax-layer"></div>
                    <div data-speed="0" data-type="html" class="rd-parallax-layer">
                        <div class="shell section-top-34 section-bottom-34 section-md-top-175 section-md-bottom-75 section-lg-top-158 section-lg-bottom-125 section-md-tablet-75">

                            <div class="offset-top-75">
                                <div class="title-over-image text-extra-big font-accent text-bold text-spacing-inverse-50">
                                    {{ title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
        {% endblock %}

        {% block content %}
            A sobreeescribir este contenido
        {% endblock %}


        <!-- Page Footer-->
        <footer class="page-footer bg-gray-base section-75 section-md-top-103 section-md-bottom-55 text-md-left">
        <div class="shell">

            <div class="range range-xs-center range-lg-justify">
                {#
                <!-- about -->
                <div class="cell-xs-12 cell-sm-6 cell-md-4">
                    <div class="inset-lg-right-40">
                        <div>
                            <p class="text-uppercase text-bold font-accent text-spacing-25 text-white">{% trans %} about {% endtrans %}</p>
                        </div>
                        <div class="offset-top-25">
                            <p class="text-gray-light text-spacing-0">
                                {{ content.getAbouttextfooterLocale() }}
                            </p>
                        </div>
                    </div>
                </div>
                #}
                <!-- contact -->
                <div class="cell-xs-12 cell-sm-6 cell-md-3 offset-top-44 offset-sm-top-0">
                    <div class="inset-lg-right-40">

                        <div>
                            <p class="text-uppercase text-bold font-accent text-spacing-25 text-white">{% trans %}contacts{% endtrans %}</p>
                        </div>
                        <!-- Contact Info-->
                        <address class="contact-info offset-top-25">
                            <div>
                                <p class="text-gray-light text-spacing-0">{{ content.getContactaddressLocale }}</p>
                            </div>
                            <dl>
                                <dt class="text-gray-light text-regular reveal-inline-block">{% trans %}Phone{% endtrans %}:</dt>
                                <dd class="text-gray-light reveal-inline-block p">
                                    <a href="tel://{{ content.getContacttelephone }}" class="text-gray-light">{{ content.getContacttelephone() }}</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="text-gray-light text-regular reveal-inline-block">{% trans %}E-mail{% endtrans %}:</dt>
                                <dd class="text-gray-light p reveal-inline-block">
                                    <a href="mailto:{{ content.getContactemail() }}" class="color-sky">{{ content.getContactemail() }}</a>
                                </dd>
                            </dl>
                        </address>

                    </div>
                </div>

                <div class="cell-xs-12 cell-sm-6 cell-md-3 offset-top-44 offset-sm-top-0">
                    <div class="inset-lg-right-40">

                        <p class="text-uppercase text-bold font-accent text-spacing-25 text-white">{% trans %}Follow us{% endtrans %}</p>
                        <div class="offset-top-25">

                            <ul class="list-inline list-inline-0 list-social">
                                {% for socialNetwork in socialNetworks %}
                                    <li class="text-center">
                                        <a href="{{ socialNetwork.getProfilelink }}" class="text-gray-light">
                                            <i class="fa fa-{{ socialNetwork.getName }} fa-2x"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="offset-top-25">
                            <div>
                                {% for hashtag in hashtags %}
                                    <p><a href="https://www.facebook.com/hashtag/{{ hashtag.name }}" target="_blank" class="color-sky"><i class="fa fa-hashtag"></i> {{ hashtag.name }}</a></p>
                                {% else %}
                                    no hay
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="cell-xs-12 cell-sm-6 cell-md-3 offset-top-44 offset-md-top-0">
                    <!-- Taxi -->
                    <div>
                        <p class="text-uppercase text-bold font-accent text-spacing-25 text-white">
                            {% trans %}Taxi{% endtrans %}
                        </p>
                    </div>
                    <div class="reveal-inline-block offset-top-15 offset-md-top-30">
                        <ul class="list-marked p text-left">
                            {% for place in places %}
                                {% if not place.istour %}
                                    <li class="offset-top-5">
                                        <a href="{{ path("booking_place", {"_id":place.id, "_name":place.getNameLocale}) }}" class="color-sky">
                                            {{ place.getNameLocale }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="cell-xs-12 cell-sm-6 cell-md-3 offset-top-44 offset-md-top-0">
                    <!-- Taxi-Tours -->
                    <div>
                        <p class="text-uppercase text-bold font-accent text-spacing-25 text-white">
                            {% trans %}Taxi-Tours{% endtrans %}
                        </p>
                    </div>
                    <div class="reveal-inline-block offset-top-15 offset-md-top-30">
                        <ul class="list-marked p text-left">
                            {% for place in places %}
                                {% if place.istour %}
                                    <li class="offset-top-5">
                                        <a href="{{ path("booking_place", {"_id":place.id, "_name":place.getNameLocale}) }}" class="color-sky">
                                            {{ place.getNameLocale }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-12">
                    <ul class="offset-top-25">
                        <li class="text-center">
                            <a href="{{ path("bookingOwnTour") }}" class="h3 color-sky" style="font-size: 1.15em;">
                                <i class="fa fa-heart"></i>
                                {% trans %}Make your own way!{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="offset-top-60">
                <div class="hr bg-gray-darker"></div>
            </div>
            <div class="offset-top-50">

                <p class="text-extra-small text-gray-light">Taxi Drivers Cuba &#169; <span id="copyright-year"></span></p>
                <p class="text-extra-small text-gray-lighter">
                    {% trans %}Your private info always will be private, we don't share any information with third party{% endtrans %}.
                </p>
                <p class="text-extra-small text-gray-light">Make with <i class="fa fa-heart"></i> and <i class="fa fa-code"></i> by <a href="#">Habana.Tech</a></p>
            </div>
        </div>
    </footer>

    </div>


    {% block javascript %}
        <!-- Java script-->
        <script src="{{ asset("js/core.min.js") }}"></script>
        <script src="{{ asset("js/script.js") }}"></script>
        <script src="{{ asset("js/custom.js") }}"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places"></script>
    {% endblock %}
</body>
</html>