{% set logo_small = asset("images/logo.png") %}
{% set logo_wide = asset("images/logo-wide.png") %}
{% set divider = asset("images/divider-01-135x4.png") %}

<!DOCTYPE html>
<html lang="{{ locale }}" class="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset("/images/favicon.png") }}" />
	<title>{{ title }} | Taxi Drivers Cuba</title>

    {% block hreflang %}
    {% endblock %}

    {% block canonical %}
    {% endblock %}

    {# Meta tags #}
    <meta name="description" content="ðŸš• ðŸ–ï¸ {{ description }}">
    <meta name="keywords" content="{{ content.getSitekeywordsLocale | replace({ '\r\n': ', ', '\n': ', ', '\r': ', ' }) }}">
    <meta name="author" content="Taxi Drivers Cuba">

    {# Facebook Tags #}
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ title }}" />
    <meta property="og:description"        content="{{ description }}" />
    <meta property="og:image"              content="{{ absolute_url(asset(featureImage)) }}" />

    {# Twitter tags #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@taxiDriverCuba" />
    <meta name="twitter:creator" content="@taxiDriverCuba" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ absolute_url(asset(featureImage)) }}" />

    {# Color chrome tab #}
    <meta name="theme-color" content="#18acfb">

    {% set asset_style_version = 'v20181214' %}
    <link rel="preload" href="{{ asset("css/styles.min.css?" ~ asset_style_version) }}" as="style">
    <link rel="stylesheet"  type="text/css" href="{{ asset("css/styles.min.css?" ~ asset_style_version) }}">

    {% if app.Environment == "dev" %}
        {#
        <link rel="stylesheet" href="{{ asset("css/myBootstrap.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
        #}
        <link rel="stylesheet" type="text/css" href="{{ asset("css/styles.min.css") }}">

        <link rel="stylesheet" type="text/css" href="{{ asset("css/css.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("css/font-awesome.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("css/flickity.min.css") }}">
    {% else %}
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{{ asset("css/flickity.min.css") }}">
    {% endif %}

    {% block inline_css %}
    {% endblock %}

    {% block structure_data %}
    {% endblock %}

    <style>
        img.lazy {
            display: block;
        }
    </style>

    <style>
        .carousel-cell{
            width: 100%;
            height: auto;
            max-height: 80vh;
        }
        .carousel-cell img{
            width: 100%;
        }

        .routes-description{
            margin: 3em ;
        }

        .carousel-cell__description{
            position: absolute;
            z-index: 5;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
        }

        .carousel-cell__description h2{
            color: white;
        }

        .carousel-cell__button{
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

</head>

<body>
    <!-- Page-->
    <div class="page text-center">

        {% block header %}
            <header class="page-header slider-menu-position">

                <!-- RD Navbar-->

                <div class="rd-navbar-wrap">

                    <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="50px" data-lg-stick-up-offset="1px" class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static">
                        <div class="rd-navbar-inner">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">

                                <!-- RD Navbar Toggle-->
                                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle">
                                    <span></span>
                                </button>

                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand veil reveal-md-block">
                                    <div class="pull-md-left veil reveal-lg-inline-block">
                                        <ul class="rd-navbar-nav">
                                            <li>
                                                <a class="btn-book" href="{{ path("home") }}#services">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    {% trans %}Book Now{% endtrans %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block">
                                    <a href="{{ path("home") }}" class="brand-name">
                                        <img style='margin-top: -7px;' width='128' height='24' src='{{ logo_wide }}' alt='logo Taxi Drivers Cuba'/>
                                    </a>
                                </div>

                                <!-- RD Navbar Toggle-->
                                <button data-rd-navbar-toggle=".rd-navbar-collapse-wrap" class="rd-navbar-collapse">
                                    <span></span>
                                </button>
                            </div>
                            <div class="rd-navbar-right-side">


                                <!--- Links --->
                                <div class="rd-navbar-nav-wrap reveal-md-inline-block">
                                    <ul class="rd-navbar-nav">
                                        <!-- RD Navbar Nav-->
                                        <li><a href="{{ path("home") }}#home">{% trans %}home{% endtrans %}</a></li>
                                        <li><a href="{{ path("home") }}#services">{% trans %}services{% endtrans %}</a></li>
                                        <li><a href="{{ path("home") }}#about">{% trans %}about us{% endtrans %}</a></li>
                                        <li><a href="{{ path("home") }}#contact">{% trans %}contacts{% endtrans %}</a></li>
                                        <li><a href="{{ path("blog") }}">blog</a></li>
                                    </ul>
                                </div>

                                <!-- Social Network and flags --->
                                <div class="rd-navbar-collapse-wrap reveal-md-inline-block">

                                        <ul class="list-inline list-inline-0 list-social">
                                            {% for socialNetwork in socialNetworks %}
                                                <li class="text-center">
                                                    <a target="_blank" href="{{ socialNetwork.getProfilelink }}" class="text-white">
                                                        <i class="fa fa-{{ socialNetwork.getName }}"></i>
                                                    </a>
                                                </li>
                                            {% endfor %}

                                            <li class="text-center flags">
                                                <a href="{{ english_page }}">
                                                    <img src="{{ asset('images/flags/uk-flags.svg') }}" alt="{% trans %}change language to english{% endtrans %}">
                                                </a>
                                            </li>
                                            <li class="text-center flags">
                                                <a href="{{ spanish_page }}">
                                                    <img src="{{ asset('images/flags/spana-flags.svg') }}" alt="{% trans %}change languaje to spanish{% endtrans %}">
                                                </a>
                                            </li>
                                        </ul>
                                </div>

                            </div>
                        </div>
                    </nav>
                </div>

                <!-- Modern Breadcrumbs-->
                <section class="{% block class %}{% endblock %} section-height-800 breadcrumb-modern rd-parallax context-dark">
                    <div data-speed="0.6" data-type="media" data-url="
                    {% block header_image %}
                        {{ asset(content.getHeaderimage.getWideImageWebPath) }}
                    {% endblock %}
                    " class="rd-parallax-layer"></div>
                    <div data-speed="0" data-type="html" class="rd-parallax-layer">
                        <div class="shell section-top-34 section-bottom-34 section-md-top-175 section-md-bottom-75 section-lg-top-158 section-lg-bottom-125 section-md-tablet-75">

                            <div class="offset-top-75">
                                <div class="title-over-image text-extra-big font-accent text-bold text-spacing-inverse-50">
                                    {{ title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
        {% endblock %}

        {% block content %}
            A sobreeescribir este contenido
        {% endblock %}


        <!-- Page Footer-->
        <footer class="page-footer bg-gray-base section-75 section-md-top-103 section-md-bottom-55 text-md-left">
        <div class="shell">

            <div class="range range-xs-center range-lg-justify">
                <!-- contact -->
                <div class="cell-xs-12 cell-sm-6 cell-md-3 offset-top-44 offset-sm-top-0">
                    <div class="inset-lg-right-40">

                        <div>
                            <p class="text-uppercase text-bold font-accent text-spacing-25 text-white">{% trans %}contacts{% endtrans %}</p>
                        </div>
                        <!-- Contact Info-->
                        <address class="contact-info offset-top-25">
                            <div>
                                <p class="text-gray-light text-spacing-0">{{ content.getContactaddressLocale }}</p>
                            </div>
                            <dl>
                                <dt class="text-gray-light text-regular reveal-inline-block">{% trans %}Phone{% endtrans %}:</dt>
                                <dd class="text-gray-light reveal-inline-block p">
                                    <a href="tel://{{ content.getContacttelephone }}" class="text-gray-light">{{ content.getContacttelephone() }}</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="text-gray-light text-regular reveal-inline-block">{% trans %}Email{% endtrans %}:</dt>
                                <dd class="text-gray-light p reveal-inline-block">
                                    <a href="mailto:{{ content.getContactemail() }}" class="color-sky">{{ content.getContactemail() }}</a>
                                </dd>
                            </dl>
                        </address>

                    </div>
                </div>

                <div class="cell-xs-12 cell-sm-6 cell-md-3 offset-top-44 offset-sm-top-0">
                    <div class="inset-lg-right-40">

                        <p class="text-uppercase text-bold font-accent text-spacing-25 text-white">{% trans %}Follow us{% endtrans %}</p>
                        <div class="offset-top-25">

                            <ul class="list-inline list-inline-0 list-social">
                                {% for socialNetwork in socialNetworks %}
                                    <li class="text-center">
                                        <a href="{{ socialNetwork.getProfilelink }}" target="_blank" class="text-gray-light">
                                            <i class="fa fa-{{ socialNetwork.getName }} fa-2x"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="offset-top-25">
                            <div>
                                {% for hashtag in hashtags %}
                                    <p><a href="https://www.facebook.com/hashtag/{{ hashtag.name }}" target="_blank" class="color-sky"><i class="fa fa-hashtag"></i> {{ hashtag.name }}</a></p>
                                {% else %}
                                    no hay
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="cell-xs-12 cell-sm-6 cell-md-5 offset-top-44 offset-md-top-0">
                    <!-- Taxi -->
                    <div>
                        <p class="text-uppercase text-bold font-accent text-spacing-25 text-white">
                            {% trans %}Taxi{% endtrans %}
                        </p>
                    </div>
                    <div class="reveal-inline-block offset-top-15 offset-md-top-30" style="margin-right: 2em;">
                        <ul class="list-marked p text-left">
                            {% for place in places %}
                                {% if loop.index is odd %}
                                   <li class="offset-top-5">
                                        <a href="{{ path("booking_place", {"_id":place.id, "_name":utils.slugify(place.getNameLocale)}) }}" class="color-sky">
                                            {{ place.getNameLocale }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>


                    <div class="reveal-inline-block offset-top-15 offset-md-top-30">
                        <ul class="list-marked p text-left">
                            {% for place in places %}
                                {% if loop.index is even %}
                                <li class="offset-top-5">
                                    <a href="{{ path("booking_place", {"_id":place.id, "_name":utils.slugify(place.getNameLocale)}) }}" class="color-sky">
                                        {{ place.getNameLocale }}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                </div>



            </div>

            <div class="offset-top-60">
                <div class="hr bg-gray-darker"></div>
            </div>
            <div class="offset-top-50">

                <p class="text-extra-small text-gray-light">Taxi Drivers Cuba &#169; <span id="copyright-year"></span></p>
                <p class="text-extra-small text-gray-lighter">
                    {% trans %}Your private info always will be private, we don't share any information with third party{% endtrans %}.
                </p>
                <p class="text-extra-small text-gray-light">Make with <i class="fa fa-heart"></i> and <i class="fa fa-code"></i> by <a href="#">Habana.Tech</a></p>
            </div>
        </div>
    </footer>

    </div>


    {% block javascript %}
        <!-- Java script-->
        {% if app.Environment == "dev" %}
            <script src="{{ asset("js/jquery.min.js") }}"></script>
            <script src="{{ asset("js/jquery.lazy.min.js") }}"></script>

            <script>
                 $(function() {
                    $('.lazy').lazy({
                      effect: "fadeIn",
                      effectTime: 250,
                      threshold: 0
                    });
                });
            </script>

            <script src="{{ asset("js/bootstrap3.3.6.min.js") }}"></script>

        {% else %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js" integrity="sha256-7PSmF2ojY04Z7YCwG5wwvH+bdUxV1PPCIORvvTYHo7M=" crossorigin="anonymous"></script>

            <script>
             $(function() {
                $('.lazy').lazy({
                  threshold: 0
                });
            });
            </script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo=" crossorigin="anonymous"></script>
        {% endif %}

        <script defer src="{{ asset("js/core.min.js") }}"></script>
        <script defer src="{{ asset("js/script.min.js") }}"></script>

        <script src="https://www.googletagmanager.com/gtag/js?id=UA-120939597-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-120939597-1');
        </script>

   <script src="{{ asset("js/flickity.pkgd.min.js") }}"></script>
       <!--  Notifications Plugin    -->
    <script src="{{ asset("/js/bootstrap-notify.js")}}"></script>


    <script >
    $('.main-carousel').flickity({
      // options
      cellAlign: 'left',
      contain: true,
      autoPlay: 5000,
      pauseAutoPlayOnHover: false,
      wrapAround: true
    });
    </script>

      {% if app.session.flashbag.get('notice') %}
        <script>
            $('document').ready(function(){

                {% for flash_message in app.session.flashbag.get('notice') %}
                    {% set thisflash = utils.formatFlashBagNotification(flash_message) %}
                $.notify({
                    icon: '{{ thisflash[2] }}',
                    message: "{{ thisflash[0] }}"

                },{
                    type: '{{ thisflash[1] }}',
                    timer: 4000
                });
                {% endfor %}
            });
        </script>
        {% endif %}
    {% endblock %}
</body>
</html>