{% extends 'AppBundle:Front:base.html.twig' %}

{% block inline_css %}
    {{ parent() }}
    <style>
        .carousel-cell{
            width: 100%;
            max-height: 80vh;
            min-height: 60vh;
        }
        .carousel-cell img{
            width: 100%;
        }

        .routes-description{
            margin: 3em ;
        }
    </style>

{% endblock %}

{% block content %}
    <!-- Page Content-->
    <main class="page-content">
        <section class="section-75 section-md-top-90 section-md-bottom-110">
            <div class="shell">
                <h2>{% trans %}Reservation form{% endtrans %}</h2>
                {% block tour_explication %}
                {% endblock %}
                {{ form_start(booking_form, {'attr':{'class':'booking offset-top-44 well text-md-left',
                                                     'data-form-type':'order',
                                                     'data-form-output':'form-output-global'}}) }}

                <!--- Where are you going --->
                <div class="well-row well-row-bg">
                    <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                        {% if ownTourPage is defined %}
                            {% trans %}Add the places you wanna to visit{% endtrans %}
                        {% else %}
                            {% trans %}You're going to {% endtrans %} {{ place.getNameLocale }}
                        {% endif %}
                    </p>
                </div>
                <div class="routes">
                    {% block destination %}
                    {% endblock %}
                </div>
                {% if ownTourPage is not defined %}
                    <div class="routes-description">
                        {{ place.getPlaceDescLocale | raw }}
                        <hr>
                        {{ transfer.getDescriptionLocale | raw }}
                    </div>
                {% endif %}


                <div class="row">
                    {% if testimonials | length > 0 %}
                    <div class="col-md-9">
                        {% else %}
                        <div class="col-md-12">
                            {% endif %}


                            <!-- airport or cruise data -->
                            <div class="well-row well-row-bg">
                                <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                                    {% trans %}Pick you up from airport or cruise?{% endtrans %}<br>
                                    <small class="subtitle">
                                        {% trans %}If you arrive to Cuba through some airport or cruise terminal, we can pick you up!{% endtrans %}</small>
                                </p>
                            </div>

                            <div class="row well-row section-md-top-20 section-md-bottom-20">


                                <div class="col-md-6 col-xs-12 offset-top-15" style="margin-bottom:  1em;">
                                    <div class="btn-group source-cuba" data-toggle="buttons">

                                        <label class="btn btn-primary">
                                            <label id="pickup_no" class="btn btn-primary active">
                                                <input checked type="radio" name="{{ booking_form.airport.vars.full_name }}" id="{{ booking_form.airport.vars.id }}" value="no"> No
                                            </label>
                                            <label id="pickup_airport" class="btn btn-primary">
                                                <input type="radio" name="{{ booking_form.airport.vars.full_name }}" id="{{ booking_form.airport.vars.id }}" value="airport"> {% trans %}Airport{% endtrans %}
                                            </label>
                                            <label id="pickup_cruise" class="btn btn-primary">
                                                <input type="radio" name="{{ booking_form.airport.vars.full_name }}" id="{{ booking_form.airport.vars.id }}" value="cruise"> {% trans %}Cruise{% endtrans %}
                                            </label>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-5 col-md-push-1 col-xs-12 offset-xs-top-15">
                                    <div id="flynumber">
                                        <label for="{{ booking_form.airportname.vars.id }}" class="text-extra-small custom-label text-gray-dark">{% trans %}Airport name{% endtrans %}</label>
                                        <div class="form-group">
                                            {{ form_widget(booking_form.airportname) }}

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-5 col-md-push-1 col-xs-12 offset-xs-top-15">
                                    <div id="flynumber">
                                        <label for="{{ booking_form.flynumber.vars.id }}" class="text-extra-small custom-label text-gray-dark">{% trans %}Flight number or cruiser name{% endtrans %}</label>
                                        <div class="form-group">
                                            <input id="{{ booking_form.flynumber.vars.id }}" name="{{ booking_form.flynumber.vars.full_name }}"  class="form-control form-control-has-validation form-control-last-child" type="text" required disabled>
                                            <span class="form-validation"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <!--- Pickup Data --->
                        <div class="well-row well-row-bg">
                            <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}Pickup details{% endtrans %}
                            </p>
                        </div>

                        <div class="well-row row">

                            <div class="col-md-10 cell-md-10">
                                <!--Pickup place-->
                                <div class="row offset-top-15 well-row-flex">
                                    <div class="col-md-3">
                                        <label for="{{ booking_form.details.vars.id }}"  class="custom-label text-gray-dark">{% trans %}Place{% endtrans %}</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <input placeholder="{% trans %}Address{% endtrans %}" type="text" style="padding: 10px 12px;" class="form-control" id="{{ booking_form.details.vars.id }}" name="{{ booking_form.details.vars.full_name }}">
                                        {{ form_errors(booking_form.details, {'class':'danger'}) }}
                                    </div>
                                </div>



                                <!--Date Time -->
                                <div class="row offset-top-15 well-row-flex">
                                    <!--Pickup place-->
                                    <div class="col-md-3">
                                        <label class="custom-label text-gray-dark">{% trans %}Date and time{% endtrans %}
                                        </label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <input data-constraints="@Required" required placeholder="Week Day, Day, Month, Year, Time" dataformatas="yyyy-MM-dd'T'HH:mm:ss" data-time-picker="" type="text" style="text-align: left; padding: 10px 12px;" class="form-control" id="{{ booking_form.pickuptime.vars.id }}" name="{{ booking_form.pickuptime.vars.full_name }}">
                                        <span class="form-validation"></span>
                                        {{ form_errors(booking_form.pickuptime, {'class':'danger'}) }}
                                    </div>
                                </div>



                                <!--Persons-->
                                <div class="row offset-top-15 well-row-flex">
                                    <!--Pickup place-->
                                    <div class="col-md-3">
                                        <label class="custom-label text-gray-dark">{% trans %}No. of persons{% endtrans %}</label>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <input type="number" data-zeros="true" value="1" min="1" max="20" class="form-control" id="{{ booking_form.numpeople.vars.id }}" name="{{ booking_form.numpeople.vars.full_name }}">
                                    </div>

                                    <div class="col-md-6">
                                        <p><strong>{% trans %}Price{% endtrans %}</strong></p>
                                        <ul>
                                            <li id="labelPrice">{{ transfer.basePrice | number_format(2,'.') }} USD </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>



                        <!---Personal Data--->
                        <div class="well-row well-row-bg">
                            <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">{% trans %}Personal Data{% endtrans %}</p>
                        </div>
                        <div class="well-row row">

                            <!---Name-->
                            <div class="col-md-10 offset-top-15 well-row-flex">
                                <div class="col-md-3">
                                    <label for="{{ booking_form.fullname.vars.id }}" class="custom-label text-gray-dark">
                                        {% trans %}Name{% endtrans %}
                                    </label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input name="{{ booking_form.fullname.vars.full_name }}" id="{{ booking_form.fullname.vars.id }}" data-constraints="@Required" required class="form-control form-control-has-validation form-control-last-child" type="text">
                                </div>
                            </div>

                            <!---Email--->
                            <div class="col-md-10 offset-top-15 well-row-flex">
                                <div class="col-md-3">
                                    <label for="{{ booking_form.email.vars.id }}" class="custom-label text-gray-dark">Email</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input name="{{ booking_form.email.vars.full_name }}" id="{{ booking_form.email.vars.id }}" data-constraints="@Email @Required" required class="form-control form-control-has-validation form-control-last-child" type="email">
                                </div>
                            </div>


                            <!---Telephone--->
                            <div class="col-md-10 offset-top-15 well-row-flex">
                                <div class="col-md-3">
                                    <label for="{{ booking_form.telephone.vars.id }}" class="custom-label text-gray-dark">Telephone</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input name="{{ booking_form.telephone.vars.full_name }}" id="{{ booking_form.telephone.vars.id }}" class="form-control form-control-has-validation form-control-last-child" type="text">
                                </div>
                            </div>

                            <!-- Comment -->
                            <div class="col-md-10 well-row-flex offset-top-15">
                                <label for="{{ booking_form.comment.vars.id }}" class="custom-label text-gray-dark">{% trans %}Anything that you need to tell us?{% endtrans %}</label>
                                <div class="form-group col-xs-12 offset-top-15" style="padding-left: 0;">
                                    <textarea id="{{ booking_form.comment.vars.id }}" name="{{ booking_form.comment.vars.full_name }}" style="max-height: 115px;" class="form-control form-control-has-validation form-control-last-child"></textarea>
                                    <span class="form-validation"></span>
                                </div>

                            </div>

                        </div>


                    </div>
                    {% if testimonials %}

                    <div class="col-md-3 testimonial-grid">
                        <div class="testimonials-header">
                            <a target="_blank" href="https://www.tripadvisor.es/">
                                <img src="{{ asset('images/tripadvisor-logo.png') }}" alt="TripAdvisor"/>
                            </a>
                        </div>
                        {% for testimony in testimonials %}
                            <div class="owl-item" style="margin: 1em; text-align: center; ">
                                <!-- Blockquote-->
                                <blockquote class="quote">

                                    {% set alt = locale=='en'? "TripAdvisor Testimony by" : "Testimonio de TripAdvisor por" %}
                                    <a href="{{ testimony.link }}">
                                        <img alt="{{ alt }} {{ testimony.getName }}" data-src="{{ asset(testimony.getFullImageWebPath) }}" width="120" height="120" class="img-circle img-responsive center-block lazy">
                                        <div class="offset-top-10 offset-md-top-25">
                                            <cite class="font-accent text-bold text-spacing-inverse-25 text-primary">
                                                <span class="text-mine-shaft">{{ testimony.getName }}</span>
                                            </cite>
                                        </div>
                                    </a>

                                    {% if testimony.points %}
                                        <span class="badge">
                                            {% for i in 1 .. testimony.points %}
                                                <i class="fa fa-star" style="color: gold; font-size: .5em"></i>
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                    <div class="offset-top-15 offset-md-top-30">
                                        <p style="font-size: 0.7em;">
                                            {{ testimony.getTextLocale|striptags|slice(0, 200) }}
                                            {% if testimony.getTextLocale|striptags|length > 200 %}
                                                ...
                                            {% endif %}
                                        </p>

                                    </div>

                                    {% if not loop.last %}
                                        <div class="offset-top-10">
                                            <h5 class="text-spacing-20 text-silver-chalice">....</h5>
                                        </div>
                                    {% endif %}
                                </blockquote>
                            </div>

                        {% endfor %}

                    </div>
                    {% endif %}
                </div>

                <div class="well-row">

                        <div class="range range-xs-center">
                            <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_public_key }}"></div>
                        </div>
                    </div>

                    <!--Submit button-->
                    <div class="well-row well-row-bg">
                        {% block submitAlert %}
                        {% endblock submitAlert %}

                        <div class="text-center offset-top-33">
                            <button type="submit" class="btn btn-xl btn-primary" id="booking_submit">
                                <i class="fa fa-shopping-cart "></i>
                                {% trans %}Book Now{% endtrans %}
                                <span class="text-extra-small">*</span>
                            </button>
                        </div>

                        <div>
                            <p class="text-extra-small offset-top-30 text-justify">*
                                {% trans %}The price can vary in function of the amount of passengers and distance of the place
                                {% endtrans %}.
                            </p>
                        </div>


                    </div>

                    {{ form_widget(booking_form._token)}}
                    <input type="hidden" value="{{ transfer.id }}" name="{{ booking_form.transfer.vars.full_name }}">
                    <input type="hidden" value="{{ transfer.serviceType }}" name="{{ booking_form.serviceType.vars.full_name }}">




                {% if place is defined %}
                    {{ form_widget(booking_form.place, {'value':place.id, 'type':'hidden'}) }}
                {% else %}
                    {{ form_widget(booking_form.place, {'value':'', 'type':'hidden'}) }}
                {% endif %}
                </form>
            </div>

                {% if suggestedPlaces %}

                    <div class="row" style="margin-top: 2em">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                            {% trans %}Popular transfers you could prefer{% endtrans %}
                        </p>
                        <div class="grid13-cards small-foot">
                            {% for transfer in suggestedPlaces %}
                                <div class="grid_item grid_card">
                                    <div class="grid_card_image">
                                        <a href="{{ path("booking_place", {"_id":transfer.id, "_name": utils.slugify(transfer.getNameLocale) }) }}" class="text-mine-shaft">
                                            <img data-src="{{ asset(transfer.getWebPath) }}" src="{{ asset(transfer.getWebPath(0)) }}"  alt="{{ transfer.getNameLocale }}" class="img-responsive center-block img-zoom lazy">
                                            <noscript>
                                                <img src="{{ asset(transfer.getWebPath) }}" alt="{{ transfer.getNameLocale }}" class="img-responsive center-block">
                                            </noscript>
                                        </a>
                                    </div>
                                    <div class="grid_card_name">
                                        <a href="{{ path("booking_place", {"_id":transfer.id, "_name": utils.slugify(transfer.getNameLocale) }) }}" class="text-mine-shaft">
                                            {{ transfer.getNameLocale }}
                                        </a>

                                    </div>
                                    <div class="grid_card_description">
                                        {% if transfer.basePrice > 0 %}
                                            <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-dollar"></i>
                                                    {% trans %}Price{% endtrans %}: </b>
                                                {{ transfer.basePrice | number_format(2,'.') }} USD
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
        </section>

    </main>

{% endblock %}

{% block javascript %}
{{ parent() }}
    <script async src='https://www.google.com/recaptcha/api.js'></script>

    <script>
    numberPeople = 1;
    buttonTourOn = false;
    buttonReturnOn = false;
    pickup_from_airport = false;
    pickup_from_cruise = false;

        function hideOrShowReturn(){
            if (buttonTourOn){
                $("#returnLine").fadeOut(500);
                $("#returnToggle").fadeOut(500);
                $("#returnPlace").fadeOut(500);
                $("#returnTime").fadeOut(500);
            }
            else {
                $("#returnLine").fadeIn(500);
                $("#returnToggle").fadeIn(500);
                $("#returnPlace").fadeIn(500);
                $("#returnTime").fadeIn(500);
            }
        }
/*
        function activeOrDeactiveReturn(){
            var returnPlaceInput = $('#{{ booking_form.returnpickupplacce.vars.id }}')[0];
            var returnTimeInput = $('#{{ booking_form.returnpickuptime.vars.id }}')[0];

            if (buttonReturnOn){
                returnPlaceInput.removeAttribute('disabled');
                returnPlaceInput.setAttribute('data-constraints','@Required');
                returnTimeInput.removeAttribute('disabled');
                returnTimeInput.setAttribute('data-constraints','@Required');
            }
            else{
                returnPlaceInput.setAttribute('disabled','true');
                returnPlaceInput.removeAttribute('data-constraints');
                returnTimeInput.setAttribute('disabled','true');
                returnTimeInput.removeAttribute('data-constraints');
            }
        }
*/
        function activeOrDeactivePickupPlace(){

            var pickup_place = $('#{{ booking_form.details.vars.id }}')[0];
            var pickup = pickup_from_airport || pickup_from_cruise;

            if (pickup){
                var origin = pickup_from_airport? "airport": "cruise";
                var place = '{% trans %}we will pick up you in{% endtrans %} ' + (pickup_from_airport? "{% trans %}Airport{% endtrans %}" : "{% trans %}Cruise{% endtrans %}");
                pickup_place.setAttribute('disabled','true');
                pickup_place.setAttribute('placeholder', place);
                pickup_place.setAttribute('value', place);
                pickup_place.removeAttribute('data-constraints');
                pickup_place.removeAttribute('required');
            }
            else{
                pickup_place.removeAttribute('disabled');
                pickup_place.setAttribute('data-constraints','@Required');
                pickup_place.setAttribute('required','true');
                pickup_place.removeAttribute('value');
                pickup_place.setAttribute('placeholder', '{% trans %}Address{% endtrans %}');
            }
        }

    $(document).ready(function()
        {
             _tourPrice = 0 {#{ place.getPrice }#};

             tourPrice = _tourPrice;

            $('#booking_submit').click(function(e){

                {% block onsubmitBookingForm %}
                {% endblock %}
                {% block stringfy %}
                {% endblock %}
            });

            //button to pickup from airport or cruise
            $(".source-cuba").change(function() {

                var source_input = $('#{{ booking_form.flynumber.vars.id }}')[0];
                var source_label_input = $('label[for="{{ booking_form.flynumber.vars.id }}"]')[0];

                var airport_name = $('#{{ booking_form.airportname.vars.id }}')[0];

                pickup_from_airport = $("#pickup_airport")[0].classList.contains('active');
                pickup_from_cruise = $("#pickup_cruise")[0].classList.contains('active');

                source_label_input.innerHTML = "{% trans %}Flight number or cruiser name{% endtrans %}";
                if (pickup_from_airport)
                    source_label_input.innerHTML = "{% trans %}Flight number{% endtrans %}";
                if (pickup_from_cruise)
                    source_label_input.innerHTML = "{% trans %}Cruise name{% endtrans %}";

                var pickup = pickup_from_airport || pickup_from_cruise;

                pickup ? (source_input.removeAttribute('disabled') ||
                    source_input.setAttribute('data-constraints','@Required')) :
                    (source_input.setAttribute('disabled','true') ||
                    source_input.removeAttribute('data-constraints'));

                {# TODO: modificar los precios al seleccionar un aereopuerto, eliminar el dump(place) #}
                if(pickup_from_airport){
                    airport_name.removeAttribute('disabled')
                }
                else{
                    airport_name.setAttribute('disabled','true');
                }

                activeOrDeactivePickupPlace();
            });

            //select airport names
                $("select#appbundle_booking_airportname").change(function() {
                pickup_from_airport = true; //por si el formulario se recargo con ese valors
                var selectedName = this.selectedOptions[0].dataset['airportname'];
                try {
                  if(typeof airport_prices[selectedName] != null ){
                      current_price =  airport_prices[selectedName];

                  }
                    console.log(airport_prices[selectedName]);
                }
                catch (e) {
                  console.log("No se conocen los precios")
                }




            });

            //Button of active Tour
            $("#activeTour").change(function() {
                buttonTourOn = !$('.toggle')[0].classList.contains('off');
                hideOrShowReturn();
            });

            //Button of active return
            /*
            $("#activeReturn").change(function() {
                buttonReturnOn = !$('.toggle')[1].classList.contains('off');
                activeOrDeactiveReturn();
            });
            */

            $("#{{ booking_form.numpeople.vars.id }}").change(function() {
                numberPeople = $('#{{ booking_form.numpeople.vars.id }}')[0].value;
            });

        });

    </script>
{% endblock %}