<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll  scrollTo desktop landscape mag-js rd-navbar-fullwidth-linked">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{% block title %}{% endblock %} | Taxi Drivers Cuba</title>

	<link rel="stylesheet" type="text/css" href="{{ asset("css/css.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ asset("css/custom.css") }}">
</head>
<body>

	{% block content %}
	    A sobreeescribir este contenido
	{% endblock %}

    <!-- Java script-->
    <script src="{{ asset("js/core.min.js") }}"></script>
    <script src="{{ asset("js/script.js") }}"></script>
    <script src="{{ asset("js/custom.js") }}"></script>
</body>
</html>