{% extends 'AppBundle:Front:base.html.twig' %}


{% set title = blogEntry.getTitleLocale %}
{% set featureImage = asset(blogEntry.getFullImageWebPath) %}
{% set description = blogEntry.getTeaserLocale|striptags|slice(0,200)~'...' %}

{% block header_image %}
    {{ asset(blogEntry.getFullImageWebPath) }}
{% endblock %}

{% block class %}blog-post{% endblock %}

{% set spanish_page = path("blogEntry", {"_locale":"es", "_id":blogEntry.getId, "_name":blogEntry.getTitle}) %}
{% set english_page = path("blogEntry", {"_locale":"en", "_id":blogEntry.getId, "_name":blogEntry.getTitleen}) %}

{% block content %}
    <!-- Page Content-->
    <main class="page-content">

        <!-- Single Post-->

        <!--- Part One -->
        <section class="section-75 section-md-top-103 section-md-bottom-60">
            <div class="shell">
                <div class="range">

                    <div class="cell-md-8 col-md-offset-2 text-justify">

                        <!-- Post Data -->
                        <ul class="post-controls list-inline list-inline-2 list-primary text-center text-md-left">
                            <li>
                                <span style="width: 30px;" class="text-middle icon icon-sm text-primary mdi mdi-clock text-center"></span>
                                <time datetime="{{ blogEntry.getPublisheddate|date("M, d, Y") }}" class="text-sbold text-extra-small text-middle">
                                    {{ blogEntry.getPublisheddate|date("M, d, Y") }}
                                </time>
                            </li>
                            <li>
                                <span class="text-middle icon icon-sm text-turquoise mdi mdi-heart-outline text-center"></span>
                                <a href="#" class="text-middle"><span class="inset-left-5 text-sbold text-extra-small text-silver-chalice">542</span></a></li>
                            <li>
                                <span class="text-middle icon icon-sm text-turquoise mdi mdi-share text-right"> </span>
                                <a href="#" class="text-middle">
                                    <span class="inset-left-5 text-sbold text-extra-small text-silver-chalice">42</span></a>
                            </li>
                        </ul>

                        <!-- Title --->
                        {#<div class="offset-top-25 offset-md-top-5">
                            <h1 class="text-spacing-inverse-50 text-capitalize text-center text-md-left">
                                {{ title }}
                            </h1>
                        </div>#}

                        <!--- Content -->
                        <div class="blog-content offset-top-30">
                            {{ blogEntry.getTeaserLocale|nl2br }}
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!--- Parallax -->
        <section class="blog-post context-dark offset-top-0" style="margin-top: -8px;">
            <!-- RD Parallax-->
            <div data-on="false" data-md-on="true" class="rd-parallax">
                <div data-speed="0.25" data-type="media" data-url="{{ asset(blogEntry.getImageSecondary.getWebPath) }}" class="rd-parallax-layer"></div>
                <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
                    <div class="shell section-75 section-md-top-103 section-md-bottom-110">
                        <div class="range range-xs-center">
                            <div class="cell-sm-10">
                                <div class="offset-top-35 offset-md-top-30">

                                    <h2 class="h3 text-spacing-0"
                                        style="border-radius: 5px;">
                                        "{{ blogEntry.getQuoteLocale }}"
                                    </h2>
                                    <div class="offset-top-75 offset-md-top-75">
                                        {% set link = path("add_booking",{_locale:locale}) %}
                                        {% if blogEntry.getPlace %}
                                            {% set link = path("booking_place", {_id:blogEntry.getPlace.id, _name:blogEntry.getPlace.getNameLocale}) %}
                                        {% endif %}

                                        <a href="{{ link }}" style="min-width:140px;" class="btn btn-calypso">
                                            <span class="icon icon-xs fa fa-shopping-cart"></span>
                                            {% trans %}Book Now{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Conclusion-->
        <section class="section-75 section-md-top-60 section-md-bottom-110">
            <div class="shell">
                <div class="range">
                    <div class="cell-md-8 col-md-offset-2 text-justify">
                        <!--- Content -->
                        <div class="blog-content">
                            {{ blogEntry.getPostTextLocale|nl2br }}
                        </div>

                        <div class="group group-xs btn-tags offset-top-50 offset-md-top-30">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path("blogEntry", {"_locale":locale, "_name":blogEntry.getTitleLocale, "_id":blogEntry.getId}))|url_encode }}&amp;src=sdkpreparse" class="btn btn-info btn-icon btn-icon-left">
                                <span class="icon icon-xs fa fa-facebook"></span>
                                <span class="text-lowercase text-regular text-spacing-0 font-default">facebook</span>
                            </a>
                            {#Todo: google share#}
                            <a href="#" class="btn btn-mandy btn-icon btn-icon-left">
                                <span class="icon icon-xs fa fa-google-plus"></span>
                                <span class="text-lowercase text-regular text-spacing-0 font-default">google +</span>
                            </a>
                            <a href="mailto:yourfriend@mail.com?subject={% trans %}Check out this post!!{% endtrans %}&amp;body={{ absolute_url(path("blogEntry", {"_locale":locale, "_name":blogEntry.getTitleLocale, "_id":blogEntry.getId})) }}" class="btn btn-success btn-icon btn-icon-left">
                                <span class="icon icon-xs fa fa-send"></span>
                                <span class="text-lowercase text-regular text-spacing-0 font-default">Email</span>
                            </a>
                        </div>
                        <div class="offset-top-30">
                            <!-- List inline marked-->
                            <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                                {% for tag in blogEntry.getTags %}
                                    <li><a href="#" class="text-turquoise">{{ tag.getTagLocale }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="offset-top-30">
                            <div class="hr gray-lighter"></div>
                        </div>

                        <div class="offset-top-55">
                            <p class="font-accent text-bold text-uppercase text-mine-shaft text-spacing-25 text-center text-sm-left">Related Posts</p>
                        </div>

                        <div class="range range-sm-center range-lg-left offset-top-25">
                            <div class="cell-sm-6 cell-lg-5">
                                <div class="inset-left-30 inset-right-30 inset-lg-left-0 inset-lg-right-0">

                                    <!-- Unit-->
                                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs text-center text-sm-left">
                                        <div class="unit-left">
                                            <img src="images/places/varadero.jpg" alt=" " width="70" height="70" class="img-rounded"></div>
                                        <div class="unit-body">
                                            <div>
                                                <p class="text-extra-small text-bold">July 25, 2016</p>
                                            </div>
                                            <div class="offset-top-5">
                                                <p class="font-accent text-extra-small text-spacing-25 text-uppercase text-bold">
                                                    <a href="blog-single-post.html" class="text-turquoise">Ridesharing is not worth the risk</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="offset-top-30">
                                        <div class="hr gray-lighter"></div>
                                    </div>

                                    <div class="offset-top-30">
                                        <!-- Unit-->
                                        <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs text-center text-sm-left">
                                            <div class="unit-left">
                                                <img src="images/places/varadero.jpg" alt=" " width="70" height="70" class="img-rounded"></div>
                                            <div class="unit-body">
                                                <div>
                                                    <p class="text-extra-small text-bold">July 25, 2016</p>
                                                </div>
                                                <div class="offset-top-5">
                                                    <p class="font-accent text-extra-small text-spacing-25 text-uppercase text-bold">
                                                        <a href="blog-single-post.html" class="text-turquoise">Ridesharing is not worth the risk</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="offset-top-30">
                                        <div class="hr gray-lighter"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="cell-sm-6 offset-top-24 offset-sm-top-0">
                                <div class="inset-left-30 inset-right-30 inset-lg-left-30 inset-lg-right-25">

                                    <!-- Unit-->
                                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs text-center text-sm-left">
                                        <div class="unit-left">
                                            <img src="images/places/varadero.jpg" alt=" " width="70" height="70" class="img-rounded"></div>
                                        <div class="unit-body">
                                            <div>
                                                <p class="text-extra-small text-bold">July 25, 2016</p>
                                            </div>
                                            <div class="offset-top-5">
                                                <p class="font-accent text-extra-small text-spacing-25 text-uppercase text-bold">
                                                    <a href="blog-single-post.html" class="text-turquoise">Ridesharing is not worth the risk</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="offset-top-30">
                                        <div class="hr gray-lighter"></div>
                                    </div>

                                    <div class="offset-top-30">
                                        <!-- Unit-->
                                        <div class="unit unit-sm unit-sm-horizontal unit-spacing-xs text-center text-sm-left">
                                            <div class="unit-left">
                                                <img src="images/places/varadero.jpg" alt=" " width="70" height="70" class="img-rounded"></div>
                                            <div class="unit-body">
                                                <div>
                                                    <p class="text-extra-small text-bold">July 25, 2016</p>
                                                </div>
                                                <div class="offset-top-5">
                                                    <p class="font-accent text-extra-small text-spacing-25 text-uppercase text-bold">
                                                        <a href="blog-single-post.html" class="text-turquoise">Ridesharing is not worth the risk</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="offset-top-30">
                                        <div class="hr gray-lighter"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}