{% extends 'AppBundle:Front:baseBooking.html.twig' %}


{% set title = "I'm going to "%}
{% if locale=='es' %}
    {% set title = "Voy a ir a " %}
{% endif %}

{% set title = title~place.getNameLocale %}

{% set featureImage =  asset(place.getFullImageWebPath) %}
{% set formTitle = place.getNameLocale %}

{% set spanish_page = path("booking_place", {"_locale":"es", "_id":place.getId,  "_name":place.getName}) %}
{% set english_page = path("booking_place", {"_locale":"en", "_id":place.getId, "_name":place.getNameEn}) %}

{% block destination %}

<!--- Parallax -->
    <div class="booking-place context-dark offset-top-0" style="margin-top: -8px;">
        <!-- RD Parallax-->
        <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="{{ asset(place.getFullImageWebPath) }}" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
                <div class="shell section-75 section-md-top-103 section-md-bottom-110">
                    <div class="range range-xs-center">
                        <div class="cell-sm-10">

                            <div class="offset-top-60 offset-md-top-30">

                                <h2 class=" h1 text-center text-spacing-0 text-uppercase" style="border-radius: 5px;">
                                    {{ place.getNameLocale }}
                                </h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}

    <script>

        function wrapperPrice(price)
        {
            if (typeof(price)=="number")
                return '<i class=\'fa fa-dollar color-sky\'></i> '+price+' CUC';
            else
                return "{% trans %}We need to negotiate {% endtrans %} <span class=\"text-extra-small\">*</span>";
            return price;
        }

        function updatePrice()
        {
            var price = {{ place.getPrice }};
            var isTour = {{ place.isTour? "true":"false" }};
            var numberPeople = $('#{{ booking_form.numpeople.vars.id }}')[0].value;


            {#todo: we shoul use a better identificator of the toggle botton not the element in [1]#}
            {#la idea de tour es hacer cortocircuito#}
            if ((!isTour || $('.toggle')[1].classList.contains('off')) && numberPeople <= 5)
                priceContent = wrapperPrice(price);

            if ((!isTour || !$('.toggle')[1].classList.contains('off')) && numberPeople > 2 && numberPeople <= 5)
                priceContent = wrapperPrice(price + (numberPeople-2)*10);

            if ((!isTour || !$('.toggle')[1].classList.contains('off')) && numberPeople <= 2)
                priceContent = wrapperPrice(price);

            //vinnales hard-coded
            {% if "viñales" in place.nameLocale|lower or "vinales" in place.nameLocale|lower %}
                if (!$('.toggle')[1].classList.contains('off') && numberPeople <=3 )
                    priceContent = wrapperPrice(135);
                if (!$('.toggle')[1].classList.contains('off') && numberPeople >=4 && numberPeople <= 5)
                    priceContent = wrapperPrice(160);

            {% endif %}

            if (numberPeople > 5)
                priceContent = wrapperPrice("");

            $("#labelPrice")[0].innerHTML = priceContent;
        }


        $("#document").ready(function (){
            updatePrice();

            $("#activeTour").change(function() {
              updatePrice();
            });

            $("#{{ booking_form.numpeople.vars.id }}").change(function() {
              updatePrice();
            });

        });

    </script>

    {% if place.isTour %}
    {#Como es un tour mostrar el toggle del tour
    y anadir la descripcion del lugar.#}
        <script>
            $("#tourToggle").fadeIn(500);
            $("#tourDescription")[0].innerHTML = "{{ place.getPlaceDescLocale | nl2br }}";
        </script>
    {% endif %}

{% endblock %}