{% extends 'AppBundle:Front:base.html.twig' %}

{% set title = "Book a Taxi to "%}
{% if locale=='es' %}
    {% set title = "Reservar un Taxi para " %}
{% endif %}

{% set spanish_page = path("booking_place", {"_locale":"es", "_id":transfer.getId,  "_name":transfer.getNameEs}) %}
{% set english_page = path("booking_place", {"_locale":"en", "_id":transfer.getId, "_name":transfer.getName}) %}


{% set title = title~transfer.getNameLocale %}


{% block canonical %}
    {% if locale == 'es' %}
        <link rel="canonical" href="{{ absolute_url(spanish_page) }}" />
    {% else %}
        <link rel="canonical" href="{{ absolute_url(english_page) }}" />
    {% endif %}
{% endblock %}

{% set featureImage =  asset(transfer.getWideImageWebPath) %}


{% block hreflang %}
    <link rel="alternate" hreflang="en" href="{{ absolute_url(english_page) }}" />
    <link rel="alternate" hreflang="es" href="{{ absolute_url(spanish_page) }}" />
    <link rel="alternate" hreflang="x-default" href="{{ absolute_url(english_page) }}" />
{% endblock %}

{% block structure_data %}
    {#breadcrumbs#}
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{ absolute_url(path("home")) }}",
              "name": "Home",
              "image": "{{ asset("/images/favicon.png") }}"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ absolute_url(english_page) }}",
              "name": "{{ transfer.getNameEs }}",
              "image": "{{ asset("/images/favicon.png") }}"
            }
          }]
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Product",
                "name": "Tour or Taxi to {{ transfer.getNameLocale }}",
            "image": [
            "{{ absolute_url(asset(transfer.getWebPath("full-1x1"))) }}",
            "{{ absolute_url(asset(transfer.getWebPath("full-4x3"))) }}",
            "{{ absolute_url(asset(transfer.getWebPath("full-16x9"))) }}"
            ],
            "description": "Taxi Tour to {{ transfer.getName }}",
            "mpn": "",
            "brand": {
                "@type": "Thing",
                "name": "Taxi Drivers Cuba"
            },
            "offers": {
                "@type": "Offer",
                "priceCurrency": "EUR",
                "price": "{{ (transfer.basePrice) | number_format(2,'.') }}",
                "priceValidUntil": "2018-12-31",
                "itemCondition": "http://schema.org/UsedCondition",
                "availability": "http://schema.org/InStock",
                "seller": {
                    "@type": "Organization",
                    "name": "Taxi Drivers Cuba"
                    }
                }
        }
        </script>
{% endblock %}

{% if locale=='es' %}
    {% set description = 'Reserva ahora un taxi para '~transfer.targetAirport.getNameLocale~' el cual es uno de los lugares maravillosos de nuestra isla. '~content.getReservationDescriptionLocale %}
{% else %}
    {% set description = 'Book now a taxi for '~transfer.targetAirport.getNameLocale~' wich is one of the most wonderful place of our island. '~content.getReservationDescriptionLocale %}
{% endif %}


{% block inline_css %}
    {{ parent() }}
    <style>
        .carousel-cell{
            width: 100%;
            max-height: 80vh;
            min-height: 60vh;
        }
        .carousel-cell img{
            width: 100%;
        }

        .routes-description{
            margin: 3em ;
        }
    </style>

{% endblock %}

{% block content %}
    <!-- Page Content-->
    <main class="page-content">
        <section class="section-75 section-md-top-90 section-md-bottom-110">
            <div class="shell">
                <h2>{% trans %}Reservation form{% endtrans %}</h2>
                {% block tour_explication %}
                {% endblock %}


                <!--- Where are you going --->
                <div class="well-row well-row-bg">
                    <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                        {{ transfer.NameLocale }}
                    </p>
                </div>
                <div class="routes">

                    {% block destination %}
                        <div class="main-carousel">
                            <div class="carousel-cell">
                                <img src="{{ asset(transfer.getWideImageWebPath) }}">
                            </div>

                        </div>

                    {% endblock %}


                </div>
                <div class="routes-description">
                        {{ transfer.getDescriptionLocale | raw }}
                </div>




            <div>

                {#
					{% if transfer.isExternalBook %}

                    {{ include('@App/Front/booking_form/__trekksof_integration.html.twig', 
                        {
                            'trekksoftId': transfer.trekksoftId,
                            'trekksoftTourId': transfer.trekksoftTourId,
                            'locale': locale
                        }
                    ) }}
                        
                    {% endif %}
                #}

                <div class="booking_form"  {#% if transfer.isExternalBook %}style="display: none"{% endif %#}>
                {{ form_start(booking_form, {'attr':{'class':'booking well text-md-left',
                    'data-form-type':'order',
                    'data-form-output':'form-output-global'}}) }}

                    <!-- airport or cruise data -->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                            {% trans %}Pick you up from airport or cruise?{% endtrans %}<br>
                            <small class="subtitle">
                                {% trans %}If you arrive to Cuba through some airport or cruise terminal, we can pick you up!{% endtrans %}
                            </small>
                        </p>
                    </div>


                    <div class="grid4 well-row">


                        <div class="" style="margin-bottom:  1em;">
                            <div class="btn-group source-cuba" data-toggle="buttons">

                                <label class="btn btn-primary">
                                    <label id="pickup_airport" class="btn btn-primary active">
                                        <input checked type="radio" name="{{ booking_form.airport.vars.full_name }}" id="{{ booking_form.airport.vars.id }}" value="airport"> {% trans %}Airport{% endtrans %}
                                    </label>
                                    <label id="pickup_cruise" class="btn btn-primary">
                                        <input type="radio" name="{{ booking_form.airport.vars.full_name }}" id="{{ booking_form.airport.vars.id }}" value="cruise"> {% trans %}Cruise{% endtrans %}
                                    </label>
                                </label>
                            </div>
                        </div>

                        <div class="" style="display: none">
                            <div id="flynumber">
                                <label for="{{ booking_form.airportname.vars.id }}" class="text-extra-small custom-label text-gray-dark">{% trans %}Airport name{% endtrans %}</label>
                                <div class="form-group">
                                    {{ form_widget(booking_form.airportname, {'attr':{'value':airport.id} }) }}
                                    <input type="hidden" id="current_airportname_machiname" value="{{ airport.machineName }}">
                                    {#{{ form_widget(booking_form.airportname, {'attr':{'value':airport.machineName} }) }}#}

                                </div>
                            </div>
                        </div>





                        <div class="">
                            <div id="flynumber">
                                <label for="{{ booking_form.flynumber.vars.id }}" class="text-extra-small custom-label text-gray-dark">{% trans %}Flight number or cruiser name{% endtrans %}</label>
                                <div class="form-group">
                                    <input id="{{ booking_form.flynumber.vars.id }}" name="{{ booking_form.flynumber.vars.full_name }}"  class="form-control form-control-has-validation form-control-last-child" type="text" required>
                                    <span class="form-validation"></span>
                                </div>
                            </div>
                        </div>



                        <div class="" style="margin-bottom:  1em;">
                            <div class="">
                                <div class="form-group">
                                    <label for="targetPlaceAutocompletion" class="text-extra-small custom-label text-gray-dark">{% trans %}Destination place{% endtrans %}</label>
                                    <br>
                                    <input type="text" class="tt-autocomplete form-control form-control-has-validation form-control-last-child" id="targetPlaceAutocompletion">
                                    {{ form_widget(booking_form.targetPlace, { 'attr': {'class': 'autocomplete hidden' } }) }}
                                </div>
                            </div>
                        </div>

                    </div>


                    <!--- Pickup Data --->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                            {% trans %}details{% endtrans %}
                        </p>
                    </div>

                    <div class="well-row row">

                        <div class="col-md-10 cell-md-10">

                            <div class="row offset-top-15 well-row-flex">
                                <!--Pickup place-->
                                <div class="col-md-3">
                                    <label for="{{ booking_form.details.vars.id }}" class="custom-label text-gray-dark custom-label text-gray-dark">{% trans %}Exact address of your destination{% endtrans %}</label>

                                </div>
                                <div class="col-md-9 form-group">
                                    <input id="{{ booking_form.details.vars.id }}" name="{{ booking_form.details.vars.full_name }}"  class="form-control form-control-has-validation form-control-last-child" type="text" required>
                                    <span class="form-validation"></span>
                                </div>
                            </div>



                            <!--Date Time -->
                            <div class="row offset-top-15 well-row-flex">
                                <!--Pickup place-->
                                <div class="col-md-3">
                                    <label class="custom-label text-gray-dark">{% trans %}Date and time{% endtrans %}
                                    </label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <input data-constraints="@Required" required placeholder="Week Day, Day, Month, Year, Time" dataformatas="yyyy-MM-dd'T'HH:mm:ss" data-time-picker="" type="text" style="text-align: left; padding: 10px 12px;" class="form-control" id="{{ booking_form.pickuptime.vars.id }}" name="{{ booking_form.pickuptime.vars.full_name }}">
                                    <span class="form-validation"></span>
                                    {{ form_errors(booking_form.pickuptime, {'class':'danger'}) }}
                                </div>
                            </div>



                            <!--Persons-->
                            <div class="row offset-top-15 well-row-flex">
                                <!--Pickup place-->
                                <div class="col-md-3">
                                    <label class="custom-label text-gray-dark">{% trans %}No. of persons{% endtrans %}</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <input type="number" data-zeros="true" value="1" min="1" max="20" class="form-control" id="{{ booking_form.numpeople.vars.id }}" name="{{ booking_form.numpeople.vars.full_name }}">
                                </div>

                                <div class="col-md-6">
                                    <p><strong>{% trans %}Price{% endtrans %}</strong></p>

                                    <div class="price-inline">
                                        <span id="labelPrice">{{ transfer.basePrice | number_format(2,'.') }} </span>
                                        {{ form_widget(booking_form.currency, { 'attr' : {'class': 'myclass'} } ) }}

                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>


                    <!---Personal Data--->
                    <div class="well-row well-row-bg">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">{% trans %}Personal Data{% endtrans %}</p>
                    </div>
                    <div class="well-row row">

                        <!---Name-->
                        <div class="col-md-10 offset-top-15 well-row-flex">
                            <div class="col-md-3">
                                <label for="{{ booking_form.fullname.vars.id }}" class="custom-label text-gray-dark">
                                    {% trans %}Name{% endtrans %}
                                </label>
                            </div>
                            <div class="col-md-9 form-group">
                                <input name="{{ booking_form.fullname.vars.full_name }}" id="{{ booking_form.fullname.vars.id }}" data-constraints="@Required" required class="form-control form-control-has-validation form-control-last-child" type="text">
                            </div>
                        </div>

                        <!---Email--->
                        <div class="col-md-10 offset-top-15 well-row-flex">
                            <div class="col-md-3">
                                <label for="{{ booking_form.email.vars.id }}" class="custom-label text-gray-dark">Email</label>
                            </div>
                            <div class="col-md-9 form-group">
                                <input name="{{ booking_form.email.vars.full_name }}" id="{{ booking_form.email.vars.id }}" data-constraints="@Email @Required" required class="form-control form-control-has-validation form-control-last-child" type="email">
                            </div>
                        </div>


                        <!---Telephone--->
                        {% include '@App/Front/booking_form/__booking_field_telephone.html.twig' %}

                        <!-- Comment -->
                        <div class="col-md-10 well-row-flex offset-top-15">
                            <label for="{{ booking_form.comment.vars.id }}" class="custom-label text-gray-dark">{% trans %}Anything that you need to tell us?{% endtrans %}</label>
                            <div class="form-group col-xs-12 offset-top-15" style="padding-left: 0;">
                                <textarea id="{{ booking_form.comment.vars.id }}" name="{{ booking_form.comment.vars.full_name }}" style="max-height: 115px;" class="form-control form-control-has-validation form-control-last-child"></textarea>
                                <span class="form-validation"></span>
                            </div>

                        </div>

                    </div>


                    <div class="well-row">

                        <div class="range range-xs-center">
                            <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_public_key }}"></div>
                        </div>
                    </div>

                <!-- Submit or Pay btn -->
                {% include '@App/Front/booking_form/__booking_submit_and_pay_btn.html.twig' %}


                {{ form_widget(booking_form._token)}}
                <input type="hidden" value="{{ transfer.id }}" name="{{ booking_form.airportTransfer.vars.full_name }}">
                <input type="hidden" value="{{ transfer.serviceType }}" name="{{ booking_form.serviceType.vars.full_name }}">




                {% if place is defined %}
                    {{ form_widget(booking_form.place, {'value':place.id, 'type':'hidden'}) }}
                {% else %}
                    {{ form_widget(booking_form.place, {'value':'', 'type':'hidden'}) }}
                {% endif %}
                </form>

            </div>

                {{ include('@App/Front/booking_form/__booking_testimonials.html.twig', {'isExternalBooking' : transfer.externalBook }) }}

            </div>


                {% if suggestedPlaces %}

                    <div class="suggestedPlaces" style="margin-top: 2em">
                        <p class="text-uppercase text-bold text-spacing-25 font-accent text-gray-dark">
                            {% trans %}Popular transfers you could prefer{% endtrans %}
                        </p>
                        <div class="grid13-cards small-foot">
                            {% for transfer in suggestedPlaces %}
                                <div class="grid_item grid_card">
                                    <div class="grid_card_image">
                                        <a href="{{ path("booking_place", {"_id":transfer.id, "_name": utils.slugify(transfer.getNameLocale) }) }}" class="text-mine-shaft">
                                            <img data-src="{{ asset(transfer.getWebPath) }}" src="{{ asset(transfer.getWebPath(0)) }}"  alt="{{ transfer.getNameLocale }}" class="img-responsive center-block img-zoom lazy">
                                            <noscript>
                                                <img src="{{ asset(transfer.getWebPath) }}" alt="{{ transfer.getNameLocale }}" class="img-responsive center-block">
                                            </noscript>
                                        </a>
                                    </div>
                                    <div class="grid_card_name">
                                        <a href="{{ path("booking_place", {"_id":transfer.id, "_name": utils.slugify(transfer.getNameLocale) }) }}" class="text-mine-shaft">
                                            {{ transfer.getNameLocale }}
                                        </a>

                                    </div>
                                    <div class="grid_card_description">
                                        {% if transfer.basePrice > 0 %}
                                            <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-dollar"></i>
                                                    {% trans %}Price{% endtrans %}: </b>
                                                {{ transfer.basePrice | number_format(2,'.') }} EUR
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
            </div>





        </section>

    </main>

{% endblock %}

{% block javascript %}
{{ parent() }}
    <script async src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ asset('js/typeahead.bundle.js') }}"></script>


    <script>
    numberPeople = 1;
    buttonTourOn = false;
    buttonReturnOn = false;
    pickup_from_airport = false;
    pickup_from_cruise = false;


$('#targetPlaceAutocompletion').change(function(){
    setPriceByPlace();
});
$('#{{ booking_form.airportname.vars.id }}').change(function(){
    setPriceByPlace();
})

    var setPriceByPlace = function()
    {
        var _name = $('#targetPlaceAutocompletion')[0].value;
        if(_name.length > 0)
        {
            var _optionPlace = $('option[data-targetplace="'+_name+'"]')[0];
            if(_optionPlace)
            {
                var _value = _optionPlace.value;
                $('#{{ booking_form.targetPlace.vars.id }}').val(_value);
                //var _airportname = $('#{{ booking_form.airportname.vars.id }}')[0].selectedOptions[0].dataset['airportname'];
                var _airportname = $('#current_airportname_machiname')[0].value;
                _airportname = _airportname.replace('_airportname_','');
                var _place_airports_price = $('#{{ booking_form.targetPlace.vars.id }}')[0].selectedOptions[0].dataset['airportpricesjson'];

                if (_place_airports_price)
                {
                    var _prices = JSON.parse(_place_airports_price);
                    if(_prices)
                        transferPrice = _prices['_airportprice_'+_airportname];
                    else
                        transferPrice = 0;

                }
            }
        }
        updatePrice();
    };

    $(document).ready(function(){
        updatePrice();

        var substringMatcher = function(strs) {
          return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
              if (substrRegex.test(str)) {
                matches.push(str);
              }
            });

            cb(matches);
          };
        };

        var _places = [
            {% for place in places %}'{{ place.name }}',{% endfor %}
        ];

        $('#targetPlaceAutocompletion').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
        },
        {
          name: '_places',
          source: substringMatcher(_places)
        });

        });

        function hideOrShowReturn(){
            if (buttonTourOn){
                $("#returnLine").fadeOut(500);
                $("#returnToggle").fadeOut(500);
                $("#returnPlace").fadeOut(500);
                $("#returnTime").fadeOut(500);
            }
            else {
                $("#returnLine").fadeIn(500);
                $("#returnToggle").fadeIn(500);
                $("#returnPlace").fadeIn(500);
                $("#returnTime").fadeIn(500);
            }
        }

        function activeOrDeactiveReturn(){
            var returnPlaceInput = $('#{{ booking_form.returnpickupplacce.vars.id }}')[0];
            var returnTimeInput = $('#{{ booking_form.returnpickuptime.vars.id }}')[0];

            if (buttonReturnOn){
                returnPlaceInput.removeAttribute('disabled');
                returnPlaceInput.setAttribute('data-constraints','@Required');
                returnTimeInput.removeAttribute('disabled');
                returnTimeInput.setAttribute('data-constraints','@Required');
            }
            else{
                returnPlaceInput.setAttribute('disabled','true');
                returnPlaceInput.removeAttribute('data-constraints');
                returnTimeInput.setAttribute('disabled','true');
                returnTimeInput.removeAttribute('data-constraints');
            }
        }



    $(document).ready(function()
    {
        $('#booking_submit').click(function(e){

            {% block onsubmitBookingForm %}
            {% endblock %}
            {% block stringfy %}
            {% endblock %}
        });

        //button to pickup from airport or cruise
        $(".source-cuba").change(function() {

            var source_input = $('#{{ booking_form.flynumber.vars.id }}')[0];
            var source_label_input = $('label[for="{{ booking_form.flynumber.vars.id }}"]')[0];

            var airport_name = $('#{{ booking_form.airportname.vars.id }}')[0];

            pickup_from_airport = $("#pickup_airport")[0].classList.contains('active');
            pickup_from_cruise = $("#pickup_cruise")[0].classList.contains('active');

            source_label_input.innerHTML = "{% trans %}Flight number or cruiser name{% endtrans %}";
            if (pickup_from_airport)
                source_label_input.innerHTML = "{% trans %}Flight number{% endtrans %}";
            if (pickup_from_cruise)
                source_label_input.innerHTML = "{% trans %}Cruise name{% endtrans %}";

            var pickup = pickup_from_airport || pickup_from_cruise;

            pickup ? (source_input.removeAttribute('disabled') ||
                source_input.setAttribute('data-constraints','@Required')) :
                (source_input.setAttribute('disabled','true') ||
                source_input.removeAttribute('data-constraints'));

            {# TODO: modificar los precios al seleccionar un aereopuerto, eliminar el dump(place) #}
            if(pickup_from_airport){
                airport_name.removeAttribute('disabled')
            }
            else{
                airport_name.setAttribute('disabled','true');
            }

        });

        //Button of active Tour
        $("#activeTour").change(function() {
            buttonTourOn = !$('.toggle')[0].classList.contains('off');
            hideOrShowReturn();
        });

        //Button of active return

        $("#activeReturn").change(function() {
            buttonReturnOn = !$('.toggle')[1].classList.contains('off');
            activeOrDeactiveReturn();
        });


        $("#{{ booking_form.numpeople.vars.id }}").change(function() {
            numberPeople = $('#{{ booking_form.numpeople.vars.id }}')[0].value;
        });

    });

    increment = {{ config['price.increment'] }};
    _transferPrice = {{ transfer.basePrice }};
    transferPrice = _transferPrice;
    isTour = false;


    $("#{{ booking_form.numpeople.vars.id }}").change(function() {
            numberPeople = $('#{{ booking_form.numpeople.vars.id }}')[0].value;
        });

    function wrapperPrice(price)
    {
        var currency = document.querySelector('#appbundle_booking_currency');
        var currencySelected = currency.options.selectedIndex;
        var currencyExchange = currency.options[currencySelected].getAttribute('data-change');

        price = currencyExchange*price;

        if (typeof(price)==="number" && price > 0)
            return "<i class=\'fa fa-dollar color-sky\'></i> "+price.toFixed(2);
        else
            return "{% trans %}We need to negotiate {% endtrans %} <span class=\"text-extra-small\">*</span>";
        return price;
    }

    function updatePrice()
    {        if (numberPeople <= 3)
                    priceContent = wrapperPrice(transferPrice);
                if (numberPeople > 3  && transferPrice > 0)
                    priceContent = wrapperPrice(transferPrice+increment*(numberPeople-3));


            if (numberPeople > 5)
                priceContent = wrapperPrice("");

            $("#labelPrice")[0].innerHTML = priceContent;
    }

    function ShowReturnAdv(){
        if (isTour){
            if (buttonReturnOn){
                $("#returnAdv").css('display', 'block');
            }
            else{
                $("#returnAdv").css('display', 'none');
            }
        }
    }

    $("#document").ready(function (){

        initAutocompletion =function(){
            var HavanaID = $('[data-targetplace="La Habana"]')[0].value
            console.log('Havana ID:' + HavanaID);
            if(HavanaID > 0)
                $('#appbundle_booking_targetPlace')[0].value = HavanaID;

            $('#targetPlaceAutocompletion').typeahead('val', "La Habana");

        };

        initAutocompletion();

        setPriceByPlace();

        updatePrice();

        document.querySelector('#appbundle_booking_currency').addEventListener('change', updatePrice);
        document.querySelector('#appbundle_booking_currency').classList.remove('form-control');

        $("#activeTour").change(function() {
            updatePrice();
        });

        $("#activeReturn").change(function() {
            updatePrice();
            ShowReturnAdv();
        });

        $("#{{ booking_form.numpeople.vars.id }}").change(function() {
          updatePrice();
          console.log('update price')
        });


       // activeOrDeactiveReturn();
        $("#returnLine").fadeIn(500);
        $("#returnToggle").fadeIn(500);
        $("#returnPlace").fadeIn(500);
        $("#returnTime").fadeIn(500);
    });

    </script>

{% endblock %}
