{% extends 'AppBundle:Front:baseBookingExperience.html.twig' %}


{% set title = experience.getNameLocale %}

{% set featureImage =  asset(experience.getWideImageWebPath) %}

{% set spanish_page = path("show_experience", {"_locale":"es", "id":experience.getId, "_name":utils.slugify(experience.getNameEs)}) %}
{% set english_page = path("show_experience", {"_locale":"en", "id":experience.getId, "_name":utils.slugify(experience.getName)}) %}

{% block hreflang %}
    <link rel="alternate" hreflang="en" href="{{ absolute_url(english_page) }}" />
    <link rel="alternate" hreflang="es" href="{{ absolute_url(spanish_page) }}" />
    <link rel="alternate" hreflang="x-default" href="{{ absolute_url(english_page) }}" />
{% endblock %}

{% block structure_data %}
    {#breadcrumbs#}
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{ absolute_url(path("home")) }}",
              "name": "Home",
              "image": "{{ asset("/images/favicon.png") }}"
            }
          }
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ absolute_url(english_page) }}",
              "name": "{{ experience.getName }}",
              "image": "{{ asset("/images/favicon.png") }}"
            }
          }]
        }
    </script>
{% endblock %}

{% if locale=='es' %}
    {% set description = 'Reserva ahora una experiencia para '~experience.getNameLocale~' el cual es uno de los lugares maravillosos de nuestra isla.' %}
{% else %}
    {% set description = 'Book now a experience for '~experience.getNameLocale~' wich is one of the most wonderful place of our island.'%}
{% endif %}


{% block destination %}
    <div class="main-carousel">
        <div class="carousel-cell">
            <img src="{{ asset(experience.getWideImageWebPath) }}">
        </div>
        {% set gallery = experience.galleryImages %}
        {% if gallery | length > 0%}
            {% for image in gallery %}
                <div class="carousel-cell">
                    <img src="{{ asset(image.getWideImageWebPath) }}">
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
