{% extends 'AppBundle:Front:baseBooking.html.twig' %}


{% set title = "Book a Taxi to "%}
{% if locale=='es' %}
    {% set title = "Reservar un Taxi para " %}
{% endif %}

{% set spanish_page = path("booking_place", {"_locale":"es", "_id":transfer.getId,  "_name":transfer.getNameEs}) %}
{% set english_page = path("booking_place", {"_locale":"en", "_id":transfer.getId, "_name":transfer.getName}) %}


{% set title = title~transfer.getNameLocale %}


{% block canonical %}
    {% if locale == 'es' %}
        <link rel="canonical" href="{{ absolute_url(spanish_page) }}" />
    {% else %}
        <link rel="canonical" href="{{ absolute_url(english_page) }}" />
    {% endif %}
{% endblock %}

{% set featureImage =  asset(transfer.getWideImageWebPath) %}


{% block hreflang %}
    <link rel="alternate" hreflang="en" href="{{ absolute_url(english_page) }}" />
    <link rel="alternate" hreflang="es" href="{{ absolute_url(spanish_page) }}" />
    <link rel="alternate" hreflang="x-default" href="{{ absolute_url(english_page) }}" />
{% endblock %}

{% block structure_data %}
    {#breadcrumbs#}
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{ absolute_url(path("home")) }}",
              "name": "Home",
              "image": "{{ asset("/images/favicon.png") }}"
            }
          }
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ absolute_url(english_page) }}",
              "name": "{{ transfer.getNameEs }}",
              "image": "{{ asset("/images/favicon.png") }}"
            }
          }]
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Product",
                "name": "Tour or Taxi to {{ transfer.getNameLocale }}",
            "image": [
            "{{ absolute_url(asset(transfer.getWebPath("full-1x1"))) }}",
            "{{ absolute_url(asset(transfer.getWebPath("full-4x3"))) }}",
            "{{ absolute_url(asset(transfer.getWebPath("full-16x9"))) }}"
            ],
            "description": "Taxi Tour to {{ transfer.getName }}",
            "mpn": "",
            "brand": {
                "@type": "Thing",
                "name": "Taxi Drivers Cuba"
            },
            "offers": {
                "@type": "Offer",
                "priceCurrency": "USD",
                "price": "{{ (transfer.basePrice) | number_format(2,'.') }}",
                "priceValidUntil": "2018-12-31",
                "itemCondition": "http://schema.org/UsedCondition",
                "availability": "http://schema.org/InStock",
                "seller": {
                    "@type": "Organization",
                    "name": "Taxi Drivers Cuba"
                    }
                }
        }
        </script>
{% endblock %}

{% if locale=='es' %}
    {% set description = 'Reserva ahora un taxi para '~transfer.targetPlace.getNameLocale~' el cual es uno de los lugares maravillosos de nuestra isla. '~content.getReservationDescriptionLocale %}
{% else %}
    {% set description = 'Book now a taxi for '~transfer.targetPlace.getNameLocale~' wich is one of the most wonderful place of our island. '~content.getReservationDescriptionLocale %}
{% endif %}


{% block destination %}
    <div class="main-carousel">
        <div class="carousel-cell">
            <img src="{{ asset(transfer.getWideImageWebPath) }}">
        </div>
        {% set gallery = transfer.targetPlace.galleryImages %}
        {% if gallery | length > 0%}
            {% for image in gallery %}
                <div class="carousel-cell">
                    <img src="{{ asset(image.getWideImageWebPath) }}">
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}


{% block javascript %}
{{ parent() }}

    <script>
        increment = {{ config['price.increment'] }};
        isTour = false;


        function wrapperPrice(price)
        {
            if (typeof(price)=="number")
                return "<i class=\'fa fa-dollar color-sky\'></i> "+price+" USD";
            else
                return "{% trans %}We need to negotiate {% endtrans %} <span class=\"text-extra-small\">*</span>";
            return price;
        }

        function updatePrice()
        {      if (numberPeople <= 3)
                    priceContent = wrapperPrice(transferPrice);
                if (numberPeople > 3)
                    priceContent = wrapperPrice(transferPrice+increment*(numberPeople-3));


            if (numberPeople > 5)
                priceContent = wrapperPrice("");

            $("#labelPrice")[0].innerHTML = priceContent;
        }

        function ShowReturnAdv(){
            if (isTour){
                if (buttonReturnOn){
                    $("#returnAdv").css('display', 'block');
                }
                else{
                    $("#returnAdv").css('display', 'none');
                }
            }
        }

        $("#document").ready(function (){
            updatePrice();

            $("#activeTour").change(function() {
                updatePrice();
            });

            $("#activeReturn").change(function() {
                updatePrice();
                ShowReturnAdv();
            });

            $("#{{ booking_form.numpeople.vars.id }}").change(function() {
              updatePrice();
            });

          
           // activeOrDeactiveReturn();
            $("#returnLine").fadeIn(500);
            $("#returnToggle").fadeIn(500);
            $("#returnPlace").fadeIn(500);
            $("#returnTime").fadeIn(500);
        });

    </script>

{% endblock %}