<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moving you to Paypal...</title>
</head>
<body>
{#TODO: change paypal url outside from sandbox#}
    <form name="myform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="cancel_return" value="{{ absolute_url(path("purchase_details_paypal",
            {'_paypalCallback':'cancel', '_token':_token, '_locale':_locale})) }}">
        <input type="hidden" name="return" value="{{ absolute_url(path("purchase_details_paypal",
            {'_paypalCallback':'success', '_token':_token, '_locale':_locale})) }}">
        <input type="hidden" name="business" value="karlita.garcia.l0ve@gmail.com">
        <input type="hidden" name="lc" value="C2">
        <input type="hidden" name="item_name" value="{{ product_name }}">
        <input type="hidden" name="item_number" value="{{ _token }}">
        <input type="hidden" name="amount" value="{{ product_price }}">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
    </form>
    <script type="text/javascript">
        document.myform.submit();
    </script>

</body>
</html>