{% extends 'AppBundle:Front:base.html.twig' %}

{% if locale=='es' %}
    {% set title = 'Taxi y Tours para Viñales, Varadero o cualquier otro lugar de Cuba' %}
{% else %}
    {% set title = 'Taxi and Tours to Vinales, Varadero or any other place in Cuba' %}
{% endif %}
{% set description = content.getSiteDescriptionLocale %}

{% block hreflang %}
    <link rel="alternate" hreflang="en" href="{{ absolute_url(path("home", {"_locale":"en"})) }}" />
    <link rel="alternate" hreflang="es" href="{{ absolute_url(path("home", {"_locale":"es"})) }}" />
    <link rel="alternate" hreflang="x-default" href="{{ absolute_url(path("home", {"_locale":"en"})) }}" />
{% endblock %}


{% block structure_data %}
    {#breadcrumbs#}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ absolute_url(path("home")) }}",
          "name": "Home",
          "image": "{{ asset("/images/favicon.png") }}"
        }
      }]
    }
    </script>

    {#Logo and customer Service Number#}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "TaxiDriversCuba",
      "url": "https://www.taxidriverscuba.com",
      "logo": "https://www.taxidriverscuba.com/images/logo.png",
      "contactPoint": [
        { "@type": "ContactPoint",
          "telephone": "{{ content.getContacttelephone }}",
          "contactType": "customer service",
          "availableLanguage": [
          "English",
          "Spanish"
           ]
        }
      ],
      "sameAs": [
        "http://www.facebook.com/taxidriverscuba",
        "http://instagram.com/taxidriverscuba",
        "http://plus.google.com/taxidriverscuba"
      ]
    }
    </script>

{% endblock %}

{% block header %}
    <!-- Page Header-->
    <header class="page-header">

        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" class="rd-navbar rd-navbar-panel">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand veil reveal-md-block veil-tablet-md">
                            <a href="{{ path("home") }}" class="brand-name">
                                <img class="logo" width="auto" src="{{ logo_wide }}" alt="Logo Taxi Drivers Cuba">
                            </a>
                        </div>
                        <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block">
                            <a href="{{ path("home") }}" class="brand-name">
                                <img style="margin-top: -7px;" width="182" height="34" src="{{ logo_wide }}" alt="logo Taxi Drivers Cuba">
                            </a>
                        </div>
                        <!-- RD Navbar Toggle-->
                        <button data-rd-navbar-toggle=".rd-navbar-collapse-wrap" class="rd-navbar-collapse"><span></span></button>
                    </div>
                    <div class="rd-navbar-right-side">
                        <div class="pull-md-left veil reveal-lg-inline-block">
                            <ul class="rd-navbar-nav">
                                <li>
                                    <a class="btn-book" href="#services">
                                        <i class="fa fa-shopping-cart"></i>
                                        {% trans %}Book Now{% endtrans %}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!--- Links --->
                        <div class="rd-navbar-nav-wrap reveal-md-inline-block">
                            <ul class="rd-navbar-nav">
                                <!-- RD Navbar Nav-->
                                <li><a href="#">{% trans %}home{% endtrans %}</a></li>
                                <li><a href="#services">{% trans %}services{% endtrans %}</a></li>
                                <li><a href="#about">{% trans %}about us{% endtrans %}</a></li>
                                <li><a href="#contact">{% trans %}contacts{% endtrans %}</a></li>
                                <li><a href="{{ path("blog") }}">blog</a></li>
                            </ul>
                        </div>

                        <div class="pull-md-right">

                            <!-- Social Network and flags --->
                            <div class="rd-navbar-collapse-wrap reveal-md-inline-block">

                                <ul class="list-inline list-inline-0 list-social">
                                    {% for socialNetwork in socialNetworks %}
                                        <li class="text-center">
                                            <a target="_blank" href="{{ socialNetwork.getProfilelink }}" class="text-white">
                                                <i class="fa fa-{{ socialNetwork.getName }}"></i>
                                            </a>
                                        </li>
                                    {% endfor %}

                                    <li class="text-center flags">
                                        <a href="{{ path("home", {"_locale":"en"}) }}">
                                            <img src="{{ asset('images/flags/uk-flags.svg') }}" alt="{% trans %}change language to english{% endtrans %}">
                                        </a>
                                    </li>
                                    <li class="text-center flags">
                                        <a href="{{ path("home", {"_locale":"es"}) }}">
                                            <img src="{{ asset('images/flags/spana-flags.svg') }}" alt="{% trans %}change languaje to spanish{% endtrans %}">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </div>

      {#  <!-- Swiper Gallery-->
        <div  id="home" class="swiper-container gallery-top">

            <div class="swiper-wrapper">

                {% for blogEntry in blogEntries %}

                    <div style="background-image:url( {{ asset(blogEntry.getWideImageWebPath) }} )" class="swiper-slide">
                        <div class="shell">
                            <div class="range range-xs-center">
                                <div class="cell-sm-10">
                                    <div class="text-extra-big font-accent text-bold text-spacing-inverse-50 text-white">
                                        {{ blogEntry.getTitleLocale }}
                                    </div>
                                    <h5 class="offset-top-10 text-white text-spacing-0 text-transform-none">
                                        {{ blogEntry.getQuoteLocale }}
                                    </h5>
                                    <div style="max-width:510px;" class="btn-both-lines offset-top-30 center-block">
                                        <a href="{{ path("blogEntry",{"_id":blogEntry.getId, "_name": utils.slugify(blogEntry.getTitleLocale) }) }}" style="min-width:240px;" class="btn btn-primary">
                                            {% trans %}Read more{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>#}


            <div class="main-carousel" style="position: relative;">

                {% for poster in posters %}
                    <div class="carousel-cell">
                        <img src="{{ asset(poster.getWideImageWebPath) }}"/>
                        <div class="carousel-cell__description">
                            <h2>
                                {{ poster.getTitleLocale }}
                            </h2>
                        </div>
                        <div class="carousel-cell__button">
                            <a id="call-to-action" href="#services" class="btn btn-calypso btn-icon btn-icon-left">
                                <span class="icon icon-xs fa fa-cab"></span>
                                &nbsp;
                                {% trans %}See our offers{% endtrans %}
                            </a>
                        </div>
                    </div>
                {% endfor %}

                {#{% for blogEntry in blogEntries %}#}
                    {#<div class="carousel-cell">#}
                        {#<img src="{{ asset(blogEntry.getWideImageWebPath) }}"/>#}
                    {#</div>#}
                {#{% endfor %}#}
            </div>


    </header>

{% endblock %}

{% block content %}

    <!-- Page Content-->
    <main class="page-content">

        <!-- Routes-->
        <section id="services" style="margin-top: 5em;">
            <div class="shell offset-top-100">

                <div class="offset-top-100">
                    <h1 class="text-spacing-inverse-50">
                        {{ content.getServicestitleLocale() }}
                    </h1>
                    <div class="range range-xs-center offset-top-20">
                        <div class="cell-sm-10 cell-lg-8">
                            <p class="text-spacing-0">
                                {{ content.getServicestextLocale | raw }}
                            </p>
                        </div>
                    </div>


                    <div class="offset-top-35">
                        <svg width="135" height="2" viewBox="0 0 134 2"><line x1="0" y1="2" x2="134" y2="2" style="stroke: #8d8d8d; stroke-width: 4;"/></svg>
                    </div>

                    <!-- Taxi subsection -->
                    <div class="offset-top-25">
                        {% set alt = locale=='en'?"Taxi sign":"señal de Taxi" %}
                        <img alt="{{ alt }}" src="{{ asset("images/custom-icons/taxi-sign.svg") }}">
                        <h2 class="text-spacing-25">
                            {% trans %}Taxi{% endtrans %}
                        </h2>
                    </div>

                    <div class="range range-xs-center offset-top-20">
                        <div class="cell-sm-10 cell-lg-8">
                            <p class="text-spacing-0">
                                {{ content.getServicestaxitextLocale | raw }}
                            </p>
                        </div>
                    </div>

                    <!--- list of taxis services -->
                    <div class="range range-xs-center offset-top-44 offset-md-top-53 text-sm-left">

                        {% for place in places %}
                            {% if not place.istour %}
                                <div class="cell-sm-10 cell-md-7 cell-lg-6 offset-top-60">
                                    <div style="max-width: 100%;" class="reveal-inline-block">
                                        <!-- Unit-->
                                        <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-left">
                                            <div class="unit-left">
                                                <a href="{{ path("booking_place", {"_id":place.id, "_name": utils.slugify(place.getNameLocale) }) }}" class="text-mine-shaft">
                                                    <img data-src="{{ asset(place.getWebPath) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=" width="270" alt="{{ place.getNameLocale }}" class="img-responsive center-block img-zoom lazy">
                                                    <noscript>
                                                        <img src="{{ asset(place.getWebPath) }}" width="270" alt="{{ place.getNameLocale }}" class="img-responsive center-block">
                                                    </noscript>
                                                </a>
                                            </div>
                                            <div class="unit-body">
                                                <div class="place-description">
                                                    <p class="p h5 text-capitalize text-spacing-inverse-25" style="height: 3em">
                                                        <a href="{{ path("booking_place", {"_id":place.id, "_name": utils.slugify(place.getNameLocale) }) }}" class="text-mine-shaft">
                                                            {{ place.getNameLocale }}
                                                        </a>
                                                    </p>

                                                    <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-dollar"></i> {% trans %}Price{% endtrans %}: </b> {% trans %}since{% endtrans %} {{ place.getTrasferprice }}.00 USD <br/></p>

                                                    <div class="offset-top-40">
                                                        <a href="{{ path("booking_place", {"_id":place.id, "_name": utils.slugify(place.getNameLocale) }) }}" class="btn btn-calypso btn-icon btn-icon-left">
                                                            <span class="icon icon-xs fa fa-info-circle"></span>
                                                            {% trans %}More{% endtrans %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>

                    <!--- Divider -->
                    <div class="offset-top-35">
                        <svg width="135" height="2" viewBox="0 0 134 2"><line x1="0" y1="2" x2="134" y2="2" style="stroke: #8d8d8d; stroke-width: 4;"/>
                        </svg>
                    </div>

                    <!-- Taxi-Tours subsection -->
                    <div class="offset-top-25">
                        <i class="fa fa-binoculars fa-3x color-sky"></i>
                        <h2 class="text-spacing-25">
                            {% trans %}Taxi-Tours{% endtrans %}
                        </h2>
                    </div>

                    <div class="range range-xs-center offset-top-20">
                        <div class="cell-sm-10 cell-lg-8">
                            <p class="text-spacing-0">
                                {{ content.getServicestaxitourstextLocale | raw}}
                            </p>
                        </div>
                    </div>

                    <!--List of Tours -->
                    <div class="range range-xs-center offset-top-44 offset-md-top-53 text-sm-left">

                        {% for place in places %}
                            {% if place.istour %}
                                <div class="cell-sm-10 cell-md-7 cell-lg-6 offset-top-60">
                                    <div style="max-width: 100%;" class="reveal-inline-block">
                                        <!-- Unit-->
                                        <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-left">
                                            <div class="unit-left">
                                                <a href="{{ path("booking_place", {"_id":place.id, "_name": utils.slugify(place.getNameLocale) }) }}" class="text-mine-shaft">
                                                    <img data-src="{{ asset(place.getWebPath) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=" width="270" alt="{{ place.getNameLocale }}" class="img-responsive center-block img-zoom lazy">
                                                    <noscript>
                                                        <img src="{{ asset(place.getWebPath) }}" width="270" alt="{{ place.getNameLocale }}" class="img-responsive center-block">
                                                    </noscript>
                                                </a>
                                            </div>
                                            <div class="unit-body">
                                                <div class="place-description">
                                                    <h3 class="p h5 text-capitalize text-spacing-inverse-25" style="height: 3em">
                                                        <a href="{{ path("booking_place", {"_id":place.id, "_name": utils.slugify(place.getNameLocale) }) }}" class="text-mine-shaft">
                                                            {{ place.getNameLocale }}
                                                        </a>
                                                    </h3>

                                                    <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-dollar"></i> {% trans %}Price{% endtrans %}: </b> {% trans %}since{% endtrans %} {{ place.getTrasferprice }}.00 USD <br/></p>

                                                    <div class="offset-top-40">
                                                        <a href="{{ path("booking_place", {"_id":place.id, "_name": utils.slugify(place.getNameLocale) }) }}" class="btn btn-calypso btn-icon btn-icon-left">
                                                            <span class="icon icon-xs fa fa-info-circle"></span>
                                                            {% trans %}More{% endtrans %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>

                    <!--- Divider -->
                    <div class="offset-top-35">
                        <svg width="135" height="2" viewBox="0 0 134 2"><line x1="0" y1="2" x2="134" y2="2" style="stroke: #8d8d8d; stroke-width: 4;"/>
                        </svg>
                    </div>


                    <!-- Experiences subsection -->
                    <div class="offset-top-25">
                        <i class="fa fa-binoculars fa-3x color-sky"></i>
                        <h2 class="text-spacing-25">
                            {% trans %}Experiences{% endtrans %}
                        </h2>
                    </div>

                    <div class="range range-xs-center offset-top-20">
                        <div class="cell-sm-10 cell-lg-8">
                            <p class="text-spacing-0">
                                {{ content.getExperiencesTextLocale |raw }}
                            </p>
                        </div>
                    </div>

                    <!--List of Experiences -->
                    <div class="range range-xs-center offset-top-44 offset-md-top-53 text-sm-left">

                        {% for experience in experiences %}
                            {% set link = path("show_experience", {"id":experience.getId, "_name":utils.slugify(experience.getNameLocale)}) %}
                            <div class="cell-sm-10 cell-md-7 cell-lg-6 offset-top-60">
                                <div style="max-width: 100%;" class="reveal-inline-block">
                                    <!-- Unit-->
                                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-left">
                                        <div class="unit-left">
                                            <a href="{{ link }}" class="text-mine-shaft">
                                                <img data-src="{{ asset(experience.getWebPath) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=" width="270" alt="{{ experience.getNameLocale }}" class="img-responsive center-block img-zoom lazy">
                                                <noscript>
                                                    <img src="{{ asset(experience.getWebPath) }}" width="270" alt="{{ experience.getNameLocale }}" class="img-responsive center-block">
                                                </noscript>
                                            </a>
                                        </div>
                                        <div class="unit-body">
                                            <div class="place-description">
                                                <h3 class="p h5 text-capitalize text-spacing-inverse-25" style="height: 3em">
                                                    <a href="{{ link }}" class="text-mine-shaft">
                                                        {{ experience.getNameLocale }}
                                                    </a>
                                                </h3>

                                                <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-map-marker"></i> {% trans %}Place{% endtrans %}: </b> {{ experience.getPlaceLocale }}
                                                <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-dollar"></i> {% trans %}Price{% endtrans %}: </b> {% trans %}since{% endtrans %} {{ experience.getPriceLocale | split('\r\n') | first }}<br/></p>

                                                <div class="offset-top-40">
                                                    <a href="{{ link }}" class="btn btn-calypso btn-icon btn-icon-left">
                                                        <span class="icon icon-xs fa fa-info-circle"></span>
                                                        {% trans %}More{% endtrans %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>

    {% include '@App/Front/index/_services.html.twig' %}

    {% include '@App/Front/index/_about_us.html.twig' %}

    {% include '@App/Front/index/_infography.html.twig' %}

    {% include '@App/Front/index/_testimonial.html.twig' %}

    {% include '@App/Front/index/_contact.html.twig' %}
    </main>

{% endblock %}


{% block javascript %}
    {{ parent() }}

    {#
    <script>
        var google;
        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions

            {% for place in places %}
                {% set name = "mypos_"~loop.index %}

                var {{ name }} = new google.maps.LatLng({{ place.getLatlong }});
            {% endfor %}

            var mycenter = new google.maps.LatLng(22.5267186, -81.12788139999998);

            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 8,

                // The latitude and longitude to center the map (always required)
                center: mycenter,

                // How you would like to style the map.
                scrollwheel: false,
                styles: [{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"simplified"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"hue":"#f49935"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"hue":"#fad959"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#a1cdfc"},{"saturation":30},{"lightness":49}]}]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using out element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);

            {% for place in places %}
                {% set name = "mypos_"~loop.index %}

                new google.maps.Marker({
                    position: {{ name }},
                    map: map
                });

            {% endfor %}

        }
        google.maps.event.addDomListener(window, 'load', init);
    </script>
    #}

<script async src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=245&amp;locationId=13554747&amp;lang={{ locale }}&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2"></script>

{#<script >#}
    {#$(".lazy-tripadvisor").Lazy({#}
        {#afterLoad: function(element) {#}
            {#console.log(element);#}
            {#(function(t,r,i,p){i=t.createElement(r);i.src="https://www.tripadvisor.com/WidgetEmbed-selfserveprop?amp;locationId=13554747&amp;writereviewlink=true&amp;rating=true&amp;border=true&amp;uniq=245&amp;iswide=false&amp;popIdx=true&amp;lang=es&amp;nreviews=5&amp;display_version=2";i.async=true;p=t.getElementsByTagName(r)[0];p.parentNode.insertBefore(i,p)})(document,"script");#}
        {#}#}
    {#});#}
{#</script>#}
{% endblock %}
