{% extends 'AppBundle:Front:base.html.twig' %}

{% set title = 'Home' %}
{% set description = content.getSiteDescriptionLocale %}


{% block header %}

    <!-- Page Header-->
    <header class="page-header">

        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" class="rd-navbar rd-navbar-panel">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand veil reveal-md-block veil-tablet-md">
                            <a href="{{ path("home") }}" class="brand-name">
                                <img class="logo" width="auto" src="{{ logo_wide }}" alt="Logo Taxi Drivers Cuba">
                            </a>
                        </div>
                        <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block">
                            <a href="{{ path("home") }}" class="brand-name">
                                <img style="margin-top: -7px;" width="182" height="34" src="{{ logo_wide }}" alt="logo Taxi Drivers Cuba">
                            </a>
                        </div>
                        <!-- RD Navbar Toggle-->
                        <button data-rd-navbar-toggle=".rd-navbar-collapse-wrap" class="rd-navbar-collapse"><span></span></button>
                    </div>
                    <div class="rd-navbar-right-side">
                        <div class="pull-md-left veil reveal-lg-inline-block">
                            <ul class="rd-navbar-nav">
                                <li>
                                    <a class="btn-book" href="{{ path("add_booking") }}">
                                        <i class="fa fa-shopping-cart"></i>
                                        {% trans %}Book Now{% endtrans %}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!--- Links --->
                        <div class="rd-navbar-nav-wrap reveal-md-inline-block">
                            <ul class="rd-navbar-nav">
                                <!-- RD Navbar Nav-->
                                <li><a href="{{ path("home") }}#home">{% trans %}home{% endtrans %}</a></li>
                                <li><a href="{{ path("home") }}#services">{% trans %}services{% endtrans %}</a></li>
                                <li><a href="{{ path("home") }}#about">{% trans %}about us{% endtrans %}</a></li>
                                <li><a href="{{ path("home") }}#contact">{% trans %}contacts{% endtrans %}</a></li>
                                <li><a href="{{ path("blog") }}">blog</a></li>
                            </ul>
                        </div>

                        <div class="pull-md-right">

                            <!-- Social Network --->
                            <div class="rd-navbar-collapse-wrap reveal-md-inline-block">
                                <ul class="list-inline list-inline-0 list-social">
                                    {% for socialNetwork in socialNetworks %}
                                        <li class="text-center">
                                            <a href="{{ socialNetwork.getProfilelink }}" target="_blank" class="text-white">
                                                <i class="fa fa-{{ socialNetwork.getName }}"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="rd-navbar-collapse-wrap reveal-md-inline-block">

                                <ul class="list-inline list-inline-2 flags">
                                    <li class="text-center">
                                        <a href="{{ path("home", {"_locale":"en"}) }}">
                                            <img src="{{ asset('images/flags/uk-flags.svg') }}" alt="{% trans %}change language to english{% endtrans %}">
                                        </a>
                                    </li>
                                    <li class="text-center">
                                        <a href="{{ path("home", {"_locale":"es"}) }}">
                                            <img src="{{ asset('images/flags/spana-flags.svg') }}" alt="{% trans %}change languaje to spanish{% endtrans %}">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Swiper Gallery-->
        <div  id="home" class="swiper-container gallery-top">

            <div class="swiper-wrapper">

                {% for blogEntry in blogEntries %}

                    <div style="background-image:url( {{ asset(blogEntry.getFullImageWebPath) }} )" class="swiper-slide">
                        <div class="shell">
                            <div class="range range-xs-center">
                                <div class="cell-sm-10">
                                    <div class="text-extra-big font-accent text-bold text-spacing-inverse-50 text-white">
                                        {{ blogEntry.getTitleLocale }}
                                    </div>
                                    <h5 class="offset-top-10 text-white text-spacing-0 text-transform-none">
                                        {{ blogEntry.getQuoteLocale }}
                                    </h5>
                                    <div style="max-width:510px;" class="btn-both-lines offset-top-30 center-block">
                                        <a href="{{ path("blogEntry",{"_id":blogEntry.getId, "_name":blogEntry.getTitleLocale}) }}" style="min-width:240px;" class="btn btn-primary">
                                            {% trans %}read more{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                {% for blogEntry in blogEntries %}
                    <div style="background-image:url({{ asset(blogEntry.getWebPath) }})" class="swiper-slide"></div>
                {% endfor %}

            </div>
        </div>

    </header>

{% endblock %}

{% block content %}

    <!-- Page Content-->
    <main class="page-content">

        <!-- Routes-->
        <section id="services">
            <div class="shell offset-top-100">

                <div class="offset-top-100">
                    <h1 class="text-spacing-inverse-50">
                        {{ content.getServicestitleLocale() }}
                    </h1>
                    <div class="range range-xs-center offset-top-20">
                        <div class="cell-sm-10 cell-lg-8">
                            <p class="text-spacing-0">
                                {{ content.getServicestextLocale }}
                            </p>
                        </div>
                    </div>


                    <div class="offset-top-35"><svg width="135" height="2" viewBox="0 0 134 2"><line x1="0" y1="2" x2="134" y2="2" style="stroke: #8d8d8d; stroke-width: 4;"/></svg>
                    </div>

                    <!-- Taxi subsection -->
                    <div class="offset-top-25">
                        <!--<i class="fa fa-cab fa-3x color-sky"></i>-->
                        <img src="{{ asset("images/custom-icons/taxi-sign.svg") }}">
                        <h2 class="text-spacing-25">
                            {% trans %}Taxi{% endtrans %}
                        </h2>
                    </div>

                    <div class="range range-xs-center offset-top-20">
                        <div class="cell-sm-10 cell-lg-8">
                            <p class="text-spacing-0">
                                {{ content.getServicestaxitextLocale }}
                            </p>
                        </div>
                    </div>

                    <!--- list of taxis services -->
                    <div class="range range-xs-center offset-top-44 offset-md-top-53 text-sm-left">

                        {% for place in places %}
                            {% if not place.istour %}
                                <div class="cell-sm-10 cell-md-7 cell-lg-6 offset-top-60">
                                    <div style="max-width: 100%;" class="reveal-inline-block">
                                        <!-- Unit-->
                                        <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-left">
                                            <div class="unit-left">
                                                <a href="{{ path("booking_place", {"_id":place.id, "_name":place.getNameLocale}) }}" class="text-mine-shaft">
                                                    <img src="{{ asset(place.getWebPath) }}" width="270" height="263" alt="{{ place.getNameLocale }}" class="img-responsive center-block img-zoom">
                                                </a>
                                            </div>
                                            <div class="unit-body">
                                                <div class="place-description">
                                                    <p class="p h5 text-capitalize text-spacing-inverse-25" style="height: 3em">
                                                        <a href="{{ path("booking_place", {"_id":place.id, "_name":place.getNameLocale}) }}" class="text-mine-shaft">
                                                            {% trans %}Havana{% endtrans %} - {{ place.getNameLocale }}
                                                        </a>
                                                    </p>

                                                    <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-map-marker"></i> {% trans %}Distance{% endtrans %}: </b> {{ place.getDistance }} km <p>
                                                    <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-clock-o"></i> {% trans %}Time{% endtrans %}: </b> {{ place.getTime|date('H:i') }} {% trans %}hours{% endtrans %} </p>
                                                    <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-dollar"></i> {% trans %}Price{% endtrans %}: </b> {% trans %}since{% endtrans %} {{ place.getTrasferprice }}.00 CUC <br/></p>

                                                    <div class="offset-top-40">
                                                        <a href="{{ path("booking_place", {"_id":place.id, "_name":place.getNameLocale}) }}" class="btn btn-calypso btn-icon btn-icon-left">
                                                            <span class="icon icon-xs fa fa-shopping-cart"></span>
                                                            {% trans %}Book Now{% endtrans %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>

                    <!--- Divider -->
                    <div class="offset-top-35">
                        <svg width="135" height="2" viewBox="0 0 134 2"><line x1="0" y1="2" x2="134" y2="2" style="stroke: #8d8d8d; stroke-width: 4;"/>
                        </svg>
                    </div>

                    <!-- Taxi-Tours subsection -->
                    <div class="offset-top-25">
                        <i class="fa fa-binoculars fa-3x color-sky"></i>
                        <h2 class="text-spacing-25">
                            {% trans %}Taxi-Tours{% endtrans %}
                        </h2>
                    </div>

                    <div class="range range-xs-center offset-top-20">
                        <div class="cell-sm-10 cell-lg-8">
                            <p class="text-spacing-0">
                                {{ content.getServicestaxitourstextLocale }}
                            </p>
                        </div>
                    </div>

                    <!--List of Tours -->
                    <div class="range range-xs-center offset-top-44 offset-md-top-53 text-sm-left">

                        {% for place in places %}
                            {% if place.istour %}
                                <div class="cell-sm-10 cell-md-7 cell-lg-6 offset-top-60">
                                    <div style="max-width: 100%;" class="reveal-inline-block">
                                        <!-- Unit-->
                                        <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-left">
                                            <div class="unit-left">
                                                <a href="{{ path("booking_place", {"_id":place.id, "_name":place.getNameLocale}) }}" class="text-mine-shaft">
                                                    <img src="{{ asset(place.getWebPath) }}" width="270" height="263" alt="{{ place.NameLocale }}" class="img-responsive center-block img-zoom">
                                                </a>
                                            </div>
                                            <div class="unit-body">
                                                <div class="place-description">
                                                    <h3 class="p h5 text-capitalize text-spacing-inverse-25" style="height: 3em">
                                                        <a href="{{ path("booking_place", {"_id":place.id, "_name":place.getNameLocale}) }}" class="text-mine-shaft">
                                                            {% trans %}Havana{% endtrans %} - {{ place.getNameLocale }}
                                                        </a>
                                                    </h3>

                                                    <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-map-marker"></i> {% trans %}Distance{% endtrans %}: </b> {{ place.getDistance }} km <p>
                                                    <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-clock-o"></i> {% trans %}Time{% endtrans %}: </b> {{ place.getTime|date('H:i') }} {% trans %}hours{% endtrans %} </p>
                                                    <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-dollar"></i> {% trans %}Price{% endtrans %}: </b> {% trans %}since{% endtrans %} {{ place.getTrasferprice }}.00 CUC <br/></p>

                                                    <div class="offset-top-40">
                                                        <a href="{{ path("booking_place", {"_id":place.id, "_name":place.getNameLocale}) }}" class="btn btn-calypso btn-icon btn-icon-left">
                                                            <span class="icon icon-xs fa fa-shopping-cart"></span>
                                                            {% trans %}Book Now{% endtrans %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>

        <!-- Map-->
        <section class="section-md-top-40">
            <div id="map"></div>
        </section>

        <!-- Make your own Tour-->
        <section class="context-dark offset-top-0" style="margin-top: -8px;">
            <!-- RD Parallax-->
            <div data-on="false" data-md-on="true" class="own-route rd-parallax">
                <div data-speed="0.25" data-type="media" data-url="{{ asset(random(content.ownRoutePathImages)) }}" class="rd-parallax-layer"></div>
                <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
                    <div class="shell section-75 section-md-top-103 section-md-bottom-110">
                        <div class="range range-xs-center">
                            <div class="cell-sm-10">
                                <div style="margin-bottom:17px;" class="veil reveal-sm-inline-block text-bottom">
                                    <img src="{{ divider }}" width="135" height="2" alt="" style="opacity: .5;" class="img-responsive center-block"></div>
                                <div class="veil reveal-sm-inline-block">
                                    <span class="fa fa-map-o fa-3x text-white"></span>
                                </div>
                                <div style="margin-bottom:17px;" class="veil reveal-sm-inline-block text-bottom">
                                    <img src="{{ divider }}" width="135" height="2" alt="" style="opacity: .5;" class="img-responsive center-block"></div>
                                <div class="offset-top-15 offset-md-top-30">
                                    <h2 class="text-spacing-0">
                                        {{ content.getServicesmakeroutetextLocale }}
                                    </h2>
                                    <div class="offset-top-30 offset-md-top-60">
                                        <a href="{{ path("bookingOwnTour") }}" style="min-width:240px;" class="btn btn-calypso">
                                            <i class="fa fa-heart"></i>
                                            {% trans %}Make your own way!{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Other Services-->
        <section class="section-75 section-md-top-103 section-md-bottom-40">
            <div class="shell">
                <h2 class="text-spacing-inverse-25">
                    {% trans %}Other services{% endtrans %}
                </h2>

                <div class="range range-xs-center list-index-lg offset-md-top-15">

                    {% for infography in infographys %}
                        {% if infography.isservices %}
                            <div class="cell-sm-10 cell-md-4">
                                <div class="inset-lg-left-30 inset-lg-right-10">
                                    <div class="h2 text-spacing-inverse-50 color-sky">
                                        {% if 'horse' in infography.getIcon %}
                                            <a href="https://www.horseridinginvinales.com/"  target="_blank">
                                                <img src="{{ asset("images/custom-icons/horse.svg") }}" style="height: 2em;">
                                            </a>
                                        {% elseif  'diving' in infography.getIcon %}
                                            <img src="{{ asset("images/custom-icons/diving.svg") }}" style="height: 2em;">
                                        {% else %}
                                            <i class="{{ infography.getIcon }} fa-2x"></i>
                                        {% endif %}

                                    </div>
                                    <div class="offset-top-10">
                                        <p class="font-accent text-spacing-50 text-bold text-uppercase text-gray-base">
                                            {% if 'horse' in infography.getIcon %}
                                                <a href="https://www.horseridinginvinales.com/"  target="_blank">
                                                {{ infography.getTitleLocale }}
                                                </a>
                                            {% else %}
                                                {{ infography.getTitleLocale }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="offset-top-20">
                                        <p class="text-spacing-0">
                                            {{ infography.getTextLocale }}
                                        </p>
                                    </div>
                                    <div class="offset-top-10">
                                        <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </section>


        <!-- About Us-->
        <section id="about" style="padding-top: 1%;" class="context-dark">
            <!-- RD Parallax-->
            <div data-on="false" data-md-on="true" class="rd-parallax offset-top-100">
                <div data-speed="0.15" data-type="media" data-url="{{ asset("images/banners/about-us.jpg") }}" class="rd-parallax-layer"></div>
                <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
                    <div class="shell section-75 section-md-top-103 section-md-bottom-110">
                        <div class="range range-xs-center">
                            <div class="cell-sm-10">
                                <div style="margin-bottom:17px;" class="veil reveal-sm-inline-block text-bottom">
                                    <img src="{{ divider }}" width="135" height="2" alt="" style="opacity: .5;" class="img-responsive center-block">
                                </div>
                                <div class="veil reveal-sm-inline-block"><span class="fa fa-cab fa-3x text-white"></span></div>
                                <div style="margin-bottom:17px;" class=" veil reveal-sm-inline-block text-bottom">
                                    <img src="{{ divider }}" width="135" height="2" alt="" style="opacity: .5;" class="img-responsive center-block">
                                </div>
                                <div class="offset-top-15 offset-md-top-30">
                                    <h1 class="text-spacing-0 text-uppercase">
                                        {{ content.getAbouttitleLocale }}
                                    </h1>
                                    <div class="offset-top-20 offset-md-top-44">
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Us-->
        <section class="section-75 section-md-top-40 section-md-bottom-20">
            <div class="shell">

                <!-- Who we are-->
                <div class="offset-top-10">
                    <h2 class="text-spacing-25 text-center">
                        {% trans %}Who we are?{% endtrans %}
                    </h2>
                </div>

                <div class="range range-xs-center offset-top-30 text-left">
                    <div class="cell-sm-12 cell-md-10">
                        <p class="text-spacing-0 two-columns">
                            {{ content.getAbouttextLocale()|nl2br }}
                        </p>
                    </div>
                </div>

                {#
                <!-- Members-->
                <div class="offset-top-64 offset-md-top-95">
                    <h2 class="text-spacing-25 text-center">
                        {% trans %}Our Team{% endtrans %}
                    </h2>
                </div>

                <!-- Text about team -->
                <div class="range range-xs-center offset-top-30 text-left">
                    <div class="cell-sm-12 cell-md-10">
                        <p class="text-spacing-0">
                            {{ content.getAboutteamtextLocale() }}
                        </p>
                    </div>
                </div>

                <!-- list of team members -->
                <div class="range range-condensed">
                    {% for driver in drivers %}
                        <div class="cell-xs-6 cell-md-4 {% if loop.index is odd %}col-md-offset-2{% endif %}">
                            <!-- Box Member-->
                            <div class="box-member">
                                <div class="box-member-img-wrap">
                                    <img src="{{ asset(driver.webPath) }}"
                                         alt="{{ driver.fullname }} - {{ driver.enterprisetitle }}" width="480" height="492" class="img-responsive center-block">
                                </div>
                                <div class="box-member-caption">
                                    <div>
                                        <p class="h5 text-spacing-inverse-25 text-white text-capitalize">
                                            {{ driver.fullname }}
                                        </p>
                                    </div>
                                    <div class="offset-top-4">
                                        <p class="font-accent text-bold text-white text-spacing-inverse-25">
                                            ({{ driver.enterprisetitle }})
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                #}

            </div>
        </section>

        <!--Taxi Drivers Numbers-->
        <section class="section-75 section-md-top-40 section-md-bottom-40">
            <div class="shell">

                <h2 class="text-spacing-inverse-25">
                    {{ content.getAboutinfographtitleLocale }}
                </h2>

                <div class="range range-xs-center offset-top-20">
                    <div class="cell-sm-10 cell-lg-8">
                        <p class="text-spacing-0">
                            {{ content.getAboutinfographtextLocale }}
                        </p>
                    </div>
                </div>

                <div class="range range-xs-center list-index-lg offset-md-top-15">

                    {% for infography in infographys %}
                        {% if not infography.isservices %}
                            <div class="cell-sm-10 cell-md-4">
                                <div class="inset-lg-left-30 inset-lg-right-10">
                                    <div class="h2 text-spacing-inverse-50 color-sky">
                                        <i class="{{ infography.getIcon }} fa-2x"></i>
                                    </div>
                                    <div class="offset-top-10">
                                        <p class="font-accent text-spacing-50 text-bold text-uppercase text-gray-base">
                                            {{ infography.getTitleLocale }}
                                        </p>
                                    </div>
                                    <div class="offset-top-20">
                                        <p class="text-spacing-0">
                                            {{ infography.getTextLocale }}
                                        </p>
                                    </div>
                                    <div class="offset-top-10">
                                        <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>
        </section>

        <!-- Testimonials-->
        <section class="section-75 section-md-top-40 section-md-bottom-20">
            <div class="shell">
                <h2>{% trans %}Testimonials{% endtrans %}</h2>
                <div class="range range-xs-center offset-top-20">
                    <div class="cell-sm-10 cell-md-12">
                        <div data-items="1" data-md-items="3" data-xs-stage-padding="5" data-loop="true" data-margin="30" data-mouse-drag="false" data-nav="true" data-dots="true" class="owl-carousel owl-nav-absolute owl-nav-primary owl-nav-top">

                            {% for testimony in testimonials %}
                                <div class="owl-item">
                                    <!-- Blockquote-->
                                    <blockquote class="quote">
                                        <img src="{{ testimony.getAvatar }}" width="169" height="169" alt="{{ testimony.getName }}" class="img-circle img-responsive center-block">
                                        <div class="offset-top-15 offset-md-top-30">
                                            <p >
                                                {{ testimony.getTextLocale|striptags|slice(0, 250) }}
                                                {% if testimony.getTextLocale|striptags|length > 250 %}
                                                    ...
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="offset-top-10 offset-md-top-25">
                                            <p>
                                                <cite class="font-accent text-bold text-spacing-inverse-25 text-primary">
                                                    <span class="text-mine-shaft">{{ testimony.getName }}</span>
                                                </cite>
                                            </p>
                                        </div>
                                        <div class="offset-top-10">
                                            <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                                        </div>
                                    </blockquote>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="TA_selfserveprop933" class="TA_selfserveprop"><ul id="EpKfuzYl" class="TA_links rVR3wREK"><li id="hTomamWenY" class="LmGhOpG"><a target="_blank" href="https://www.tripadvisor.es/"><img src="https://www.tripadvisor.es/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a></li></ul></div><script async src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=933&amp;locationId=13554747&amp;lang={{ locale }}&amp;rating=true&amp;nreviews=0&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=false&amp;display_version=2"></script>

                </div>

                {% for socialNetwork in socialNetworks %}
                    {% if socialNetwork.getName=="tripadvisor" %}
                        <div style="max-width:560px;" class="btn-both-lines btn-both-lines-gray-lighter offset-top-30 center-block">
                            <a href="{{ socialNetwork.getProfilelink }}" target="_blank" style="min-width:260px;" class="btn btn-calypso">more testimonials from
                                <i class="fa fa-tripadvisor"></i>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>


        <!--Contact-->
        <section id="contact" style="padding-top: 1%;"  class="section-md-bottom-40">
            <div class="shell offset-top-100">
                <h1>{% trans %}Contact{% endtrans %}</h1>

                <div class="range range-xs-center offset-top-50">

                    <div class="cell-sm-6 cell-lg-4">

                        {{ form_start(messageForm, {'attr':{'class':'text-left',
                            'data-form-type':'contact',
                            'data-form-output':'form-output-global'}}) }}
                            <div class="form-group">

                                <label for="{{ messageForm.name.vars.id }}" class="form-label">Name</label>
                                <input id="{{ messageForm.name.vars.id }}" type="text" name="{{ messageForm.name.vars.full_name }}" data-constraints="@Required" class="form-control">
                            </div>
                            <div class="form-group offse-top-5">
                                <label for="{{ messageForm.message.vars.id }}" class="form-label">Message</label>
                                <textarea id="{{ messageForm.message.vars.id }}" name="{{ messageForm.message.vars.full_name }}" data-constraints="@Required" style="height: 140px;" class="form-control"></textarea>

                            </div>
                            <div class="form-group offse-top-5">
                                <label for="{{ messageForm.email.vars.id }}" class="form-label">Email</label>
                                <input id="{{ messageForm.email.vars.id }}" type="email" name="{{ messageForm.email.vars.full_name }}" data-constraints="@Email @Required" class="form-control">
                            </div>
                            <div class="text-center text-sm-right offse-top-5">
                                {% if sended_email %}
                                    <div class="alert alert-succes text-align: center;">
                                        <a href="#" class="alert-link">{{ "Your message have been sended, thanks a lot!" | trans }}</a>
                                    </div>
                                    {% else %}
                                        <button type="submit" style="min-width: 210px;" class="btn btn-primary">send a message</button>
                                {% endif %}

                            </div>
                        {{ form_widget(messageForm._token)}}
                        </form>
                    </div>

                    <div class="cell-sm-6 cell-lg-4 offset-top-64 offset-sm-top-0 text-left">
                        <!-- Contact Info-->
                        <address class="contact-info">
                            <dl>
                                <dt class="font-accent text-bold text-uppercase text-mine-shaft">address</dt>
                                <dd class="offset-top-4">O street, Havana, Cuba</dd>
                            </dl>
                            <dl class="offset-top-25">
                                <dt class="font-accent text-bold text-uppercase text-mine-shaft">OPENING HOURS</dt>
                                <dd>8.00-18.00 Mon-Sat</dd>
                            </dl>
                            <dl class="offset-top-30">
                                <dt class="font-accent text-bold text-uppercase text-mine-shaft">phone</dt>
                                <dd><a href="tel://+53 55864523" class="text-silver-chalice">+53 55864523</a>
                                </dd>
                            </dl>
                            <dl class="offset-top-30">
                                <dt class="font-accent text-bold text-uppercase text-mine-shaft">email</dt>
                                <dd class="offset-top-5">
                                    <a href="mailto:{{ content.getContactemail() }}" class="font-accent text-bold text-primary">{{ content.getContactemail() }}</a></dd>
                            </dl>
                        </address>
                    </div>
                </div>

            </div>
        </section>
    </main>

{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script>
        var google;
        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions

            {% for place in places %}
                {% set name = "mypos_"~loop.index %}

                var {{ name }} = new google.maps.LatLng({{ place.getLatlong }});
            {% endfor %}

            var mycenter = new google.maps.LatLng(22.5267186, -81.12788139999998);

            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 8,

                // The latitude and longitude to center the map (always required)
                center: mycenter,

                // How you would like to style the map.
                scrollwheel: false,
                styles: [{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"simplified"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"hue":"#f49935"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"hue":"#fad959"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#a1cdfc"},{"saturation":30},{"lightness":49}]}]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using out element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);

            {% for place in places %}
                {% set name = "mypos_"~loop.index %}

                new google.maps.Marker({
                    position: {{ name }},
                    map: map
                    //icon: 'images/loc.png'
                });

            {% endfor %}

        }
        google.maps.event.addDomListener(window, 'load', init);
    </script>
{% endblock %}
