{% extends 'AppBundle:Front:base.html.twig' %}
{% spaceless %}
{% set title = "Purchase details "%}
{% if locale=='es' %}
    {% set title = "Detalles de la compra " %}
{% endif %}

{% set featureImage = asset(content.getHeaderimage.getWideImageWebPath) %}
{% set description =  ''%}

{% if paypalCallback is empty %}
    {% set title = "Your booking is ready" %}
{% else %}
    {% set title = "Your transaction was " %}
{% endif %}

{% if paypalCallback == 'success' or paypalCallback == 'cash' %}
    {% set title = title~"success" %}
{% elseif paypalCallback == 'cancel' %}
    {% set title = title~"cancel" %}
{% endif %}

{% if locale == 'es' %}
    {% if paypalCallback is empty %}
        {% set title = "Su reserva está lista" %}
    {% else %}
        {% set title = "Su transacción fue " %}
    {% endif %}

    {% if paypalCallback == 'success' or paypalCallback == 'cash' %}
        {% set title = title~"exitosa" %}
    {% elseif paypalCallback == 'cancel' %}
        {% set title = title~"cancelada" %}
    {% endif %}
{% endif %}

{% set spanish_page = path("purchase_details", {"_locale":"es", "_token":purchase.getToken}) %}
{% set english_page = path("purchase_details", {"_locale":"en", "_token":purchase.getToken}) %}

{% block hreflang %}
    <link rel="alternate" hreflang="en" href="{{ absolute_url(english_page) }}" />
    <link rel="alternate" hreflang="es" href="{{ absolute_url(spanish_page) }}" />
    <link rel="alternate" hreflang="x-default" href="{{ absolute_url(english_page) }}" />
{% endblock %}

{% block content %}

    {% set price_usd = purchase.price %}

    <!-- Page Content-->
    <main class="page-content">

        <section class="section-75 section-md-top-90 section-md-bottom-95">
            <div class="shell">

                {% if paypalCallback == 'success' or paypalCallback == 'cash' %}
                    <i class="fa fa-check-circle-o fa-5x color-sky"></i>
                {% elseif paypalCallback == 'cancel' %}
                    <i class="fa fa-times-circle-o fa-5x color-sky"></i>
                {% endif %}

                <h2>
                    {% trans %}Hi!{% endtrans %} {{ purchase.fullname }}, {% trans %}these are the details of your reservation{% endtrans %}
                </h2>

                <div class="offset-top-50">

                    <!--- Simple Path -->
                    <div class="row section-bottom-40">

                        <div class="well-row well-row-bg">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% if purchase.experience %}
                                    {% trans %}You want the experience{% endtrans %}:
                                {% else %}
                                    {% trans %}You want to visit{% endtrans %}:
                                {% endif %}
                            </p>
                            <!-- List-->
                            <ul class="p text-bold text-spacing-25 font-accent text-gray-dark">
                                {% if purchase.ownroute is not empty %}
                                    {% for _place in purchase.ownrouteFormated %}
                                        <li>{{ _place }}</li>
                                    {% endfor %}

                                {% elseif place is not null %}
                                    <li class="offset-top-10">
                                        <p class="text-gray-dark">{{ place.getNameLocale }}</p>
                                    </li>
                                {% else %}
                                    <li class="offset-top-10">
                                        <p class="text-gray-dark">{{ experience.getNameLocale }}</p>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>

                        <div class="well-row">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}The number of people is{% endtrans %}: {{ purchase.getNumpeople }}
                            </p>
                        </div>

                        {% if purchase.experience  %}
                        <div class="well-row">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}You'll be there for about{% endtrans %} {{ purchase.experienceTime }} {% trans %}hours{% endtrans %}.
                            </p>
                        </div>
                        {% endif %}

                        {% if purchase.isAnAirport or purchase.isACruise or purchase.getDetails  %}
                            <div class="well-row well-row-bg">
                                <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                    {% trans %}We will pickup you{% endtrans %}

                                    {% if purchase.isAnAirport %}
                                        {% trans %}at the exit of the{% endtrans %} {{ purchase.airportName.nameLocale }} {% trans %}with his name written on a paper, looking for the flight with number{% endtrans %}: {{ purchase.flynumber }}
                                    {% elseif purchase.isACruise %}
                                        {% trans %}in the departure of the cruisers in the "Plaza de San Francisco" looking for the cruise with name{% endtrans %}: {{ purchase.flynumber }}
                                    {% else %}
                                        {% trans %}in{% endtrans %}: {{ purchase.getDetails }}
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}

                        <div class="well-row">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}At{% endtrans %}: {{ purchase.getPickuptime|date("l, d F Y - H:i")  }}
                            </p>
                        </div>

                        {% if not purchase.isExperienceTaxi %}
                        <div class="well-row well-row-bg">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}The type of service is{% endtrans %}:
                                {% if purchase.experience %}
                                    {% trans %}Experience{% endtrans %}
                                {% elseif not purchase.isTour %}
                                        Taxi
                                    {% else %}
                                        Taxi Tour
                                    {% endif %}
                            </p>
                        </div>
                        {% endif %}

                        {% if not purchase.experience %}
                            <div class="well-row">
                                <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                    {% trans %}The price of the service is{% endtrans %}:
                                    {{ purchase.price }} USD
                                </p>

                            </div>
                        {% endif %}

                        {% if purchase.returnpickup %}
                        <div class="well-row well-row-bg">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}We will pick it up for the return{% endtrans %}:
                                {% trans %}at{% endtrans %} {{ purchase.returnpickuptime|date("l, d F Y - H:i") }} {% trans %}in{% endtrans %} {{ purchase.returnpickupplacce }}
                            </p>

                        </div>
                        {% endif %}

                    </div>

                    {% if paypalCallback is empty and purchase.idpaypal == null%}
                        <div class="row section-bottom-40">
                            {% if not purchase.accepted %}
                                <div class="cell-md-6 col-md-6 col-md-offset-3">
                                    <i class="fa fa-clock-o fa-5x color-sky"></i>
                                    <p class="text-spacing-25 offset-top-15 font-accent text-gray-dark text-center">
                                        {% trans %}We are processing your reservation. As soon we have all resources confirm, we will get in touch with you, usually this take less than a day.{% endtrans %}
                                    </p>
                                </div>
                            {% endif %}
                            <hr style="margin-bottom: 1em;">
                                <!-- simple purchase -->
                                    <div class="center-block">

                                        {% if config['paypal.url'] != 'null' %}
                                        <a href="{{ path('paypal_redirection', {'_token': purchase.token}) }}" class="btn btn-primary">
                                            <i class="fa fa-paypal"></i>
                                            {% trans %}Pay with PayPal{% endtrans %} <b>{{ purchase.price }} USD </b>
                                        </a>
                                        {% endif %}

                                        <p class="offset-top-15 text-extra-small">
                                            {% trans %}You can pay in Cuba with cash to your driver.{% endtrans %}
                                        </p>
                                    </div>



                        </div>
                    {% endif %}

                    <div class="row section-bottom-40">
                        {#% if purchase.price > 0 %}
                        <div class="col-md-6 col-md-offset-3">
                            <p> <a href="http://westernunion.com/" target="_blank">
                                    <img src="{{ asset('images/logo.wu.big.svg') }}" alt="wester union logo">
                                </a>
                                <br/>
                                {% trans %}You can pay in advance, making a transfer of{% endtrans %} {{ price_usd }} USD
                                {% trans %}through{% endtrans %} <a href="http://westernunion.com/" target="_blank">Western Union</a> {% trans %}to this bank account{% endtrans %} <strong>1500812414776</strong>.</p>
                        </div>
                        {% endif %#}

                        <div class="col-md-12 section-xs-top-40">
                            <p>{% trans %}Please, if you need to cancel your reservation, you must notify us at least 2 days in advance{% endtrans %}.</p>
                            <p>{% trans %}We have sent you an email with these details{% endtrans %}.</p>
                        </div>
                    </div>


                    <div class="row section-bottom-40">
                        <div class="col-md-4">
                            <a href="{{ path("home", {'locale':locale}) }}" class="btn btn-border">
                                <i class="fa fa-arrow-circle-left"></i>
                                {% trans %}Go back to home{% endtrans %}
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path("add_booking", {'locale':locale}) }}" class="btn btn-border btn-lg">
                                <i class="fa fa-shopping-cart"></i>
                                {% trans %}Select more places{% endtrans %}
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path("home") }}#contact" class="btn btn-border">
                                <i class="fa fa-map-signs"></i>
                                {% trans %}Make my own tour{% endtrans %}
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main>

{% endblock %}
{% endspaceless %}