{% extends 'AppBundle:Front:base.html.twig' %}

{% set title = "Purchase details "%}
{% if locale=='es' %}
    {% set title = "Detalles de la compra " %}
{% endif %}

{% set featureImage = asset(content.getHeaderimage.getWideImageWebPath) %}
{% set description =  ''%}

{% if paypalCallback is empty %}
    {% set title = "Your transaction is almost done" %}
{% else %}
    {% set title = "Your transaction was " %}
{% endif %}
{% if paypalCallback == 'success' or paypalCallback == 'cash' %}
    {% set title = title~"success" %}
{% elseif paypalCallback == 'cancel' %}
    {% set title = title~"cancel" %}
{% endif %}

{% if locale == 'es' %}
    {% if paypalCallback is empty %}
        {% set title = "Su transacción esta casi lista" %}
    {% else %}
        {% set title = "Su transacción fue " %}
    {% endif %}

    {% if paypalCallback == 'success' or paypalCallback == 'cash' %}
        {% set title = title~"exitosa" %}
    {% elseif paypalCallback == 'cancel' %}
        {% set title = title~"cancelada" %}
    {% endif %}
{% endif %}

{% set spanish_page = path("purchase_details", {"_locale":"es", "_token":purchase.getToken}) %}
{% set english_page = path("purchase_details", {"_locale":"en", "_token":purchase.getToken}) %}


{% block content %}

    <!-- Page Content-->
    <main class="page-content">

        <section class="section-75 section-md-top-90 section-md-bottom-95">
            <div class="shell">

                {% if paypalCallback == 'success' or paypalCallback == 'cash' %}
                    <i class="fa fa-check-circle-o fa-5x color-sky"></i>
                {% elseif paypalCallback == 'cancel' %}
                    <i class="fa fa-times-circle-o fa-5x color-sky"></i>
                {% endif %}
                <h2>
                    {% trans %}Hi{% endtrans %} {{ purchase.fullname }}, {% trans %}these are yours purchase details{% endtrans %}
                </h2>

                <div class="offset-top-50">

                    <!--- Simple Path -->
                    <div class="row section-bottom-40">

                        <div class="well-row well-row-bg">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}You want to visit{% endtrans %}:
                            </p>
                            <!-- List-->
                            <ul class="p">
                                {% if purchase.ownroute is not empty %}
                                    {% for _place in purchase.ownrouteFormated %}
                                        <li>{{ _place }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li class="offset-top-10">
                                        <p class="text-gray-dark">{{ place.getNameLocale }}</p>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>

                        <div class="well-row">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}No. of passengers{% endtrans %}: {{ purchase.getNumpeople }}
                            </p>
                        </div>
                        <div class="well-row well-row-bg">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}We will pickup you in{% endtrans %}

                                {% if purchase.airport %}
                                    {% trans %}airport or cruise looking for{% endtrans %}: {{ purchase.flynumber }}
                                {% else %}
                                    : {{ purchase.getDetails }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="well-row">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}At{% endtrans %}: {{ purchase.getPickuptime|date("l, d F Y - H:i")  }}
                            </p>
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                               {{ purchase.details  }}
                            </p>
                        </div>

                    </div>

                    {% if paypalCallback is empty %}
                        <div class="row section-bottom-40">
                            {% if not purchase.accepted %}
                                <div class="cell-md-6 col-md-6 col-md-offset-3">
                                    <i class="fa fa-clock-o fa-5x color-sky"></i>
                                    <p class="text-spacing-25 offset-top-15 font-accent text-gray-dark text-center">
                                        {% trans %}We are processing your reservation.
                                        As soon we have all resources confirm, we will get in touch with you,
                                        usually this take less than a day.{% endtrans %}
                                    </p>
                                </div>
                            {% else %}
                                <!-- simple purchase -->
                                <div class="row">
                                    <p>{% trans %}Please, if you need to cancel your reservation, you must notify us at least 2 days in advance{% endtrans %}.</p>
                                    {#todo: poner el botton de paypal luego#}
                                    {#<div class="col-md-6">
                                        <a href="{{ path('paypal_redirection', {'_token': purchase.token}) }}" class="btn btn-lg btn-primary">
                                            <i class="fa fa-paypal"></i>
                                            {% trans %}Pay with PayPal{% endtrans %} - {{ (purchase.price / config['tasa.usd']) | number_format(2,'.') }} USD
                                        </a>
                                        <p class="offset-top-15 text-extra-small">
                                            {% trans %}The exchange rate in Cuba is 1 CUC{% endtrans %}  = {{ config['tasa.usd'] }} USD
                                        </p>
                                    </div>#}
                                    <div class="col-md-6">
                                        <a href="{{ path('purchase_details_paypal', {'_token': purchase.token, '_paypalCallback':'cash'}) }}" class="btn btn-border">
                                            <i class="fa fa-dollar"></i>
                                            {% trans %}Pay with cash{% endtrans %} - {{ purchase.price }} CUC
                                        </a>
                                        <p class="offset-top-15 text-extra-small">
                                            {% trans %}You can always pay in Cuba with cash.{% endtrans %}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            <a href="{{ path("home", {'locale':locale}) }}" class="btn btn-border">
                                <i class="fa fa-arrow-circle-left"></i>
                                {% trans %}Go back to home{% endtrans %}
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path("add_booking", {'locale':locale}) }}" class="btn btn-primary btn-lg">
                                <i class="fa fa-shopping-cart"></i>
                                {% trans %}Select more places{% endtrans %}
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path("bookingOwnTour", {'locale':locale}) }}" class="btn btn-border">
                                <i class="fa fa-map-signs"></i>
                                {% trans %}Make my own tour{% endtrans %}
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>

        </section>

    </main>

{% endblock %}
