{% extends 'AppBundle:Front:base.html.twig' %}

{% set title = "Purchase details "%}
{% if locale=='es' %}
    {% set title = "Detalles de la compra " %}
{% endif %}

{% set featureImage = asset(content.getHeaderimage.getWebPath) %}
{% set description =  ''%}

{% block content %}

    <!-- Page Content-->
    <main class="page-content">

        <section class="section-75 section-md-top-90 section-md-bottom-95">
            <div class="shell">

                <h2>
                    {% trans %}Check yours purchase details{% endtrans %}
                </h2>

                <div class="offset-top-50">

                    <!--- Simple Path -->
                    <div class="row section-bottom-40">

                        <div class="well-row well-row-bg">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}You have been selected{% endtrans %}:
                            </p>
                            <!-- List-->
                            <ul class="p">
                                {% for place in selectedPlaces %}
                                <li class="offset-top-10">
                                    <p class="text-gray-dark">{{ place.getNameLocale }}</p>
                                </li>
                                {% else %}
                                    {% if purchase.ownroute is not empty %}
                                        {#own route#}
                                    {% else %}
                                        <li class="offset-top-10">
                                            <p class="text-gray-dark">{{ place.getNameLocale }}</p>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="well-row">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}No. of passengers{% endtrans %}: {{ purchase.getNumpeople }}
                            </p>
                        </div>
                        <div class="well-row well-row-bg">
                            <p class="text-bold text-spacing-25 font-accent text-gray-dark">
                                {% trans %}At{% endtrans %}: time
                            </p>
                        </div>

                    </div>

                    <div class="row section-bottom-40">
                        {% if selectedPlaces or purchase.ownroute %}
                            <div class="cell-md-6 col-md-6 col-md-offset-3">
                                <i class="fa fa-clock-o fa-5x color-sky"></i>
                                <p class="text-spacing-25 offset-top-15 font-accent text-gray-dark text-center">
                                    {% trans %}We are process your reservation.
                                    As soon we have all resources confirm, we get in touch we you,
                                    usually this take less than a day.{% endtrans %}
                                </p>
                            </div>
                        {% else %}
                            <!-- simple purchase -->
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{{ path('paypal_redirection', {'_token': purchase.token}) }}" class="btn btn-primary">
                                        <i class="fa fa-paypal"></i>
                                        {% trans %}Pay with PayPal{% endtrans %} - 340 usd
                                    </a>
                                    <p class="offset-top-15 text-extra-small">
                                        <strong>if you pay using paypal you have access to a 10% discount.</strong>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('paypal_redirection', {'_token': purchase.token}) }}" class="btn btn-border">
                                        <i class="fa fa-dollar"></i>
                                        {% trans %}Pay with cash{% endtrans %} - 360 usd
                                    </a>
                                    <p class="offset-top-15 text-extra-small">
                                        You can always pay in Cuba with cash.
                                    </p>
                                </div>

                            </div>

                        {% endif %}
                    </div>

                </div>
            </div>

            {% if purchase.accepted %}
                {# lester TRUE, a Paypal ...#}
            {% else %}
                {# lester FALSE, aun no hay confirmacion, procesando.... #}
            {% endif %}

        </section>

    </main>

{% endblock %}
