<!--Taxi Drivers Numbers-->
<section class="section-75 section-md-top-40 section-md-bottom-40">
    <div class="shell">

        <h2 class="text-spacing-inverse-25">
            {{ content.getAboutinfographtitleLocale }}
        </h2>

        <div class="range range-xs-center offset-top-20">
            <div class="cell-sm-10 cell-lg-8">
                <p class="text-spacing-0">
                    {{ content.getAboutinfographtextLocale }}
                </p>
            </div>
        </div>

        <div class="range range-xs-center list-index-lg offset-md-top-15">

            {% for infography in infographys %}
                {% if not infography.isservices %}
                    <div class="cell-sm-10 cell-md-4">
                        <div class="inset-lg-left-30 inset-lg-right-10">
                            <div class="h2 text-spacing-inverse-50 color-sky">
                                <i class="{{ infography.getIcon }} fa-2x"></i>
                            </div>
                            <div class="offset-top-10">
                                <p class="font-accent text-spacing-50 text-bold text-uppercase text-gray-base">
                                    {{ infography.getTitleLocale }}
                                </p>
                            </div>
                            <div class="offset-top-20">
                                <p class="text-spacing-0">
                                    {{ infography.getTextLocale }}
                                </p>
                            </div>
                            <div class="offset-top-10">
                                <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>

    </div>
</section>
