
<!-- Experiences subsection -->
<div class="offset-top-25">
    <i class="fa fa-binoculars fa-3x color-sky"></i>
    <h2 class="text-spacing-25">
        {% trans %}Experiences{% endtrans %}
    </h2>
</div>

<div class="range range-xs-center offset-top-20">
    <div class="cell-sm-10 cell-lg-8">
        <p class="text-spacing-0">
            {{ content.getExperiencesTextLocale |raw }}
        </p>
    </div>
</div>

<!--List of Experiences -->
<div class="range range-xs-center offset-top-44 offset-md-top-53 text-sm-left">

    {% for experience in experiences %}
        {% set link = path("show_experience", {"id":experience.getId, "_name":utils.slugify(experience.getNameLocale)}) %}
        <div class="cell-sm-10 cell-md-7 cell-lg-6 offset-top-60">
            <div style="max-width: 100%;" class="reveal-inline-block">
                <!-- Unit-->
                <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-left">

                    <div class="unit-left">
                        <a href="{{ link }}" class="text-mine-shaft">
                            <img data-srcset="
                                              {{ asset(experience.getWebPath | imagine_filter('min_width_600')) }} 600w,
                                              {{ asset(experience.getWebPath | imagine_filter('min_width_400')) }} 400w,
                                              {{ asset(experience.getWebPath | imagine_filter('min_width_300')) }} 300w"
                                 sizes="(min-width: 1200px) 30vw, 50vw"
                                 src="{{ asset(experience.getWebPath | imagine_filter('thumbnail')) }}"
                                 width="270" alt="{{ experience.getNameLocale }}"
                                 class="img-responsive center-block img-zoomm lazy">
                            <noscript>
                                <img src="{{ asset(experience.getWebPath) }}" width="270" alt="{{ experience.getNameLocale }}" class="img-responsive center-block">
                            </noscript>
                        </a>
                    </div>

                    <div class="unit-body">
                        <div class="place-description">
                            <h3 class="p h5 text-capitalize text-spacing-inverse-25" style="height: 3em">
                                <a href="{{ link }}" class="text-mine-shaft">
                                    {{ experience.getNameLocale }}
                                </a>
                            </h3>

                            <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-map-marker"></i> {% trans %}Place{% endtrans %}: </b> {{ experience.targetPlace }}
                            {% if experience.basePrice > 0 %}
                                <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-dollar"></i> {% trans %}Price{% endtrans %}: </b> {% trans %}since{% endtrans %} {{ experience.basePrice | number_format(2,'.') }} USD<br/></p>
                            {% endif %}
                            {% if experience.durationTime %}
                                <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-clock-o"></i> {% trans %}Time{% endtrans %}: </b> {{ experience.durationTime }}<br/></p>
                            {% endif %}
                            <div class="offset-top-40">
                                <a href="{{ link }}" class="btn btn-calypso btn-icon btn-icon-left">
                                    <span class="icon icon-xs fa fa-info-circle"></span>
                                    {% trans %}See details{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

</div>