<!-- Experiences subsection -->
<div class="offset-top-25">
    <i class="fa fa-binoculars fa-3x color-sky"></i>
    <h2 class="text-spacing-25">
        {{ content.getAirportTransferTitleLocale }}
    </h2>
</div>

<div class="range range-xs-center offset-top-20">
    <div class="cell-sm-10 cell-lg-8">
        <p class="text-spacing-0">
            {{ content.getAirportTransferTextLocale |raw }}
        </p>
    </div>
</div>

<!--- list of taxis services -->
<div class="range range-xs-center offset-top-44 offset-md-top-53 text-sm-left">

    {% for transfer in airport_transfers %}
            <div class="cell-sm-10 cell-md-7 cell-lg-6 offset-top-60">
                <div style="max-width: 100%;" class="reveal-inline-block">
                    <!-- Unit-->
                    <div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-left">
                        <div class="unit-left">
                            <a href="{{ path("booking_place", {"_id":transfer.id, "_name": utils.slugify(transfer.getNameLocale) }) }}" class="text-mine-shaft">
                                <img data-src="{{ asset(transfer.getWebPath) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=" width="270" alt="{{ transfer.getNameLocale }}" class="img-responsive center-block img-zoom lazy">
                                <noscript>
                                    <img src="{{ asset(transfer.getWebPath) }}" width="270" alt="{{ transfer.getNameLocale }}" class="img-responsive center-block">
                                </noscript>
                            </a>
                        </div>
                        <div class="unit-body">
                            <div class="place-description">
                                <p class="p h5 text-capitalize text-spacing-inverse-25" style="height: 3em">
                                    <a href="{{ path("booking_place", {"_id":transfer.id, "_name": utils.slugify(transfer.getNameLocale) }) }}" class="text-mine-shaft">
                                        {{ transfer.getNameLocale }}
                                    </a>
                                </p>
                                <p style="line-height: 22px;" class="offset-top-15"> <b><i class="fa fa-dollar"></i> {% trans %}Price{% endtrans %}: </b>{{ transfer.basePrice | number_format(2,'.') }} USD <br/></p>

                                <div class="offset-top-40">
                                    <a href="{{ path("booking_place", {"_id":transfer.id, "_name": utils.slugify(transfer.getNameLocale) }) }}" class="btn btn-calypso btn-icon btn-icon-left">
                                        <span class="icon icon-xs fa fa-info-circle"></span>
                                        {% trans %}See details{% endtrans %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}

</div>
