<!-- Testimonials_partial-->
<div class="owl-item grid-testimony-container">
    <!-- Blockquote-->
    <blockquote class="quote grid-testimony" style="display: grid">
        {% set alt = locale=='en'? "TripAdvisor Testimony by" : "Testimonio de TripAdvisor por" %}
        <img alt="{{ alt }} {{ testimony.getName }}"
             src="{{ asset(testimony.getFullImageWebPath | imagine_filter('thumbnail_testimonio')) }} "
             width="169" height="169" class="p img-circle img-responsive center-block">
        <div class="">
            <b>{{ testimony.titleLocale }}</b>
            <p >
                {{ testimony.getTextLocale|striptags|slice(0, 190) }}
                {% if testimony.getTextLocale|striptags|length > 190 %}
                    ...
                {% endif %}
            </p>

        </div>
        <div class="">
            {% if testimony.points %}
                <span class="badge">
                    {% for i in 1 .. testimony.points %}
                        <i class="fa fa-star" style="color: gold; font-size: .8em"></i>
                    {% endfor %}
                </span>
            {% endif %}
            <p>
                <cite class="font-accent text-bold text-spacing-inverse-25 text-primary">
                    <span class="text-mine-shaft">{{ testimony.getName }}</span>
                </cite>
            </p>
        </div>
        <div class="">
            <h5 class="text-spacing-20 text-silver-chalice">...</h5>
        </div>
    </blockquote>
    </div>
