{% extends 'AppBundle:Dash:base.html.twig' %}
{% block pagetitle %}Reservaciones{% endblock pagetitle %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-book"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Tours reservados</p>
                                {#{ all_books|length }#}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Experiencias r.</p>
                                {#{ experiences_books|length }#}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-dropbox-alt"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Total Reserv.</p>
                                +{{ all_books|length }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                        <a href="{{ path('dash_bookings_index')}}">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-pencil-alt"></i>
                                </div>
                            </div>
                             
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Todas las reservaciones</p>
                                
                                </div>
                            </div>

                        </div>
                            </a>
                    </div>
                </div>
            
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Resumen de Reservaciones</h4>

                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped table-hover">
                        <thead>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Lugar</th>
                        <th>Fecha/Hora del Viaje</th>
                        <th>Precio</th>
                        <th>Recogida</th>
                        </thead>
                        <tbody>
                        {% for item in booking %}
                        <tr>
                            <td><a href="{{ path('booking_details', {'booking': item.id}) }}">{{ item.id }}</a>
                                {% if item.bookingTime | date('Y') > 2000 %}
                                    <br>
                                    <abbr title="{{ item.bookingTime | date('d/M/Y H:i') }}">
                                        {{ item.bookingTime | date('d/M/Y') }}
                                    </abbr>
                                {% endif %}

                            </td>
                            <td>{{ item.fullname }}</td>
                            <td>{% if item.experience %}
                                    {{ item.getExperience.getName }} ({{ item.getExperience.targetPlace }})
                                {% elseif item.transfer %}
                                    {{ item.transfer.targetPlace }}
                                {% elseif item.airportTransfer %}
                                    {{ item.airportTransfer.targetAirport }}
                                {% endif %}
                                -{{ item.targetPlace }}
                            </td>
                            <td>{{ item.pickuptime | date("Y/M/d - H:i")}}</td>
                            <td>
                                {% if item.price > 0 %}
                                {{  item.price }}
                                    USD
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>

                            <td>{{ item.details }}<a style="float: right" class="booking-details-modal btn btn-sm btn-{% if item.accepted %}success{% else %}danger{% endif %}" data-id="{{ item.id }}"> <i class="ti-search"></i> </a> </td>
                            <td><a href="{{ path('dash_bookings_pdf_export', {'id':item.id}) }}" style="float: right" class="booking-details-modal btn btn-sm btn-primary"> <i class="ti-printer"></i> </a> </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>

<!-- Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Detalles de reservaci&oacute;n <i class="modal fa fa-spinner fa-spin" style="position: relative"></i></h4>
      </div>
      <div class="modal-body" id="modalBodyContainer">

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $('document').ready(function() {
        console.log('ok');

      $("a.booking-details-modal").click(function(e) {
          e.preventDefault();
          var AjaxDetailsRoute = "{{ path('booking_details', {'booking': '123454321'}) }}"

          $('.modal.fa').show();
          $('#modalBodyContainer').fadeOut();
        $("#bookingModal").modal({
            backdrop: false
        });
        console.log(this.dataset['id'])
          _route = AjaxDetailsRoute.replace('123454321',this.dataset['id']);
        $("#modalBodyContainer").load(_route, function () {
            $('.modal.fa').hide();
            $('#modalBodyContainer').fadeIn();
        })
      });

    });
</script>
{% endblock %}