{% extends 'AppBundle:Dash:base.html.twig' %}
{% block pagetitle %}Detalles de la reservaci&oacute;n{% endblock pagetitle %}
{% set pagename = 'booking' %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Reservaci&oacute;n de {{ booking.fullname}}</h4>
              </div>
            <div class="content">
                {{ form_start(form) }}

                {%  if place %}
                    <h5>{{ place.name }}</h5>
                {% else %}
                    <h5>Ruta personalizada</h5>

                {%  endif %}


                <p>Nombre: {{ booking.fullname }}. <small>( {{ booking.numpeople }} personas)</small></p>
                <p>Su correo: <a href="mailto:{{ booking.email }}">{{ booking.email }}</a>
                </p>

                {% if booking.isAnAirport %}
                    <p>Recogida al aereopuerto,<br/>
                        numero de vuelo: <strong>{{ booking.flynumber }}</strong>
                    </p>
                {% elseif booking.aCruise %}
                    <p>Recogida en la terminal de crucero,<br/>
                        nombre del crucero: <strong>{{ booking.flynumber }}</strong></p>
                {% endif %}


                <h4>Sobre la recogida</h4>
                <p>Hora y fecha:<br>
                    {{ booking.pickuptime | date("l d/m/Y H:i") }}</p>
                <p>Detalles de recogida:<br>
                    {{ booking.details}}
                </p>


                {% if booking.returnpickup %}
                    <h4>Sobre el regreso</h4>
                    <p>Hora y fecha:<br>
                        {{ booking.returnpickuptime | date("l d/m/Y H:i") }}</p>
                    <p>Detalles de recogida:<br>
                        {{ booking.returnpickupplacce}}
                    </p>
                {% endif %}


                {% if not place %}
                    <hr>
                    {% if booking.ownroute %}
                        <h4 class="modal-title">Lugares</h4>
                        <ul>
                            {% for _place in booking.ownrouteFormated %}
                                <li>{{_place}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
                {% if booking.accepted %}
                    (Ya este precio se acept&oacute; por ambas partes).
                {% else %}
                    Debe especificar un precio.
                {% endif %}
                {% if booking.idpaypal %}
                   <p>
                       Pagado mediante PayPal: <b>{{ booking.price }} USD</b>.<br>
                           ID PAYPAL<b> {{ booking.idpaypal }}</b>
                   </p>
                {% else %}
                    {{ form_row(form.price)}}
                {% endif %}


                {{ form_widget(form._token)}}

                <p>{{ booking.comment }}</p>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="{{ path('dash_booking_delete', {'id': booking.id}) }}" class="btn btn-default">Eliminar</a>


                </div>
                </form>

            </div>
        </div>
    </div>


{% endblock %}
