{% extends 'AppBundle:Dash:base.html.twig' %}
{% block pagetitle %}Detalles de la reservaci&oacute;n{% endblock pagetitle %}
{% set pagename = 'booking' %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Reservaci&oacute;n de {{ booking.fullname}}</h4>
              </div>
            <div class="content">
                {{ form_start(form) }}

                {%  if place %}
                    <h5>{{ place.name }}</h5>
                {% else %}
                    <h5>Ruta personalllizada</h5>

                {%  endif %}


                <p>Nombre: {{ booking.fullname }}</p>
                {% if booking.airport %}
                    <p>Recogida al aereopuerto o crucero ({{ booking.flynumber }})</p>
                {% endif %}
                <p>{{ booking.pickuptime | date("l, d F Y - H:i") }}</p>
                <p>Su correo: <a href="mailto:{{ booking.email }}">{{ booking.email }}</a>
                </p>

                {% if not place %}
                    <hr>
                    {{ booking.ownrouteFormated }}
                {% endif %}
                {% if booking.accepted %}
                    (Ya este precio se acept&oacute; por ambas partes).
                    {% if booking.idpaypal %}
                        {{ booking.idpaypal }}
                    {% endif %}
                {% else %}
                    Debe especificar un precio
                {% endif %}
                {{ form_row(form.price)}}
                {{ form_widget(form._token)}}

                <p>{{ booking.comment }}</p>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                </div>
                </form>

            </div>
        </div>
    </div>


{% endblock %}
