{% extends 'AppBundle:Dash:base.html.twig' %}
{% block content %}
    <!-- Modal UploadImage -->
    <div class="modal fade" id="newImgModal" tabindex="-1" role="dialog" aria-labelledby="newImgModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="newImgModalLabel">Subir imagen a la Galer&iacute;a</h4>
                </div>
                {{ form_start(image_form) }}
                <div class="modal-body">

                    {{ form_widget(image_form) }}



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Añadir" class="btn btn-primary"/>
                </div>
                {{ form_end(image_form) }}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="row  animated bounceInUp">
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="ti-server"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Galeria</p>
                                105GB
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> Actualizado ahora
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-image"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Im&aacute;genes</p>
                                23
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-upload"></i> <a href="#" data-toggle="modal" data-target="#newImgModal" data-backdrop="false"> Subir una nueva im&aacute;gen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-video-clapper"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Videos</p>
                                +45
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-plus"></i> <a href="#">Agregar enlace de Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12  animated bounceInUp">
            <div class="card">
                <div class="header">
                    <h4 class="title">Im&aacute;genes recientes</h4>
                    <p class="category">24 Hours performance</p>
                </div>
                <div class="content" id="gallery">
                    <div class="row">
                        <div class="col-md-8 ">
                            <img src="{{ asset('uploads/0.jpg') }}" class="img-responsive img-rounded">
                        </div>

                        <div class="col-md-4" id="gallery-details">
                            <h5>Detalles de la imagen</h5>
                            {{ form_start(image_form) }}
                            {{ form_widget(image_form) }}
                            {{ form_end(image_form) }}
                            <p>Hola mundo</p>
                        </div>

                    </div>
                    <div class="row">
                        {% for i in range(0,12) %}
                            <div class="col-md-2 col-xs-6">
                                <div class="card">
                                    <img src="{{ asset('uploads/'~loop.index~'.jpg') }}" class="img-responsive">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="ti-info-alt"></i> Open
                            <i class="ti-info-alt text-danger"></i> Click
                            <i class="ti-info-alt text-warning"></i> Click Second Time
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-reload"></i> Updated 3 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        /*     $('document').ready(function(){
         $('#gallery .col-md-4').click(function(e){
         e.preventDefault();
         if ($('#gallery .active').length > 0)
         $('#gallery .active')[0].classList.remove('active');
         this.classList.add('active');
         });
         });

         */
    </script>
{% endblock %}