{% extends 'AppBundle:Dash:base.html.twig' %}
{% block pagetitle %}Contenido de la Galer&iacute;a{% endblock pagetitle %}
{% block content %}
    <!-- Modal UploadImage -->
    <div class="modal fade" id="newImgModal" tabindex="-1" role="dialog" aria-labelledby="newImgModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="newImgModalLabel">Subir imagen a la Galer&iacute;a</h4>
                </div>
                {{ form_start(new_image_form) }}
                <div class="modal-body">

                    {{ form_widget(new_image_form) }}



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" value="Añadir" class="btn btn-primary"/>
                </div>
                {{ form_end(new_image_form) }}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="row  animated bounceInUp">

        <div class="col-lg-6 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-image"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Imagenes</p>
                                {{ image_list|length }}
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-upload"></i> <a href="#" data-toggle="modal" data-target="#newImgModal" data-backdrop="false"> Subir una nueva im&aacute;gen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-lg-6 col-sm-6 disabled">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-video-clapper"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Videos</p>
                                +45
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-plus"></i> <a href="#">Agregar enlace de Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="row">

        <div class="col-md-12  animated bounceInUp">
            <div class="card">
                <div class="header">
                    <h4 class="title">Im&aacute;genes recientes</h4>
                </div>
                <div class="content" id="gallery">
                    <div class="row card" style="margin-bottom: 3em;">
                        <div class="col-md-8">
                            <img src="{{ asset('images/faces/face-0.jpg') }}" class="img-responsive img-rounded" id="img-preview">
                        </div>

                        <div class="col-md-4" id="gallery-details">
                            <div class="well">Haga click en una imagen para ver sus detalles, editarla o eliminarla.</div>
                        </div>

                    </div>
                    <div class="row card" style="padding-top: 30px;">
                        {% for image in image_list %}
                            <div class="col-md-2 col-xs-6">
                                <div class="card">
                                    <img src="{{ asset(image.WebPath) }}" data-dbid="{{ image.id }}" class="img-responsive">
                                    <div class="footer">
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-info-alt"></i> <a href="#">{{ image.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="well">A&uacute;n no hay imagenes para mostrar aqu&iacute;</div>
                        {% endfor %}
                    </div>
                    <div class="footer">

                        <hr>
                        <div class="stats">
                            <i class="ti-reload"></i> Actualizado hace {{ random(3) }} minutos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
         $('document').ready(function(){
                 $('div#gallery div.row div.card').click(function(e){
                     e.preventDefault();
                     if ($('#gallery .active').length > 0)
                        $('#gallery .active')[0].classList.remove('active');
                     this.classList.add('active');
                     img_path = $('div#gallery .active img')[0].src;
                     img_id = $('div#gallery .active img')[0].dataset['dbid']
                     edit_path = "{{ path('dash_gallery_image_edit', {'id':'dbidplaceholder'}) }}"

                     current_edit_path = edit_path.replace('dbidplaceholder',img_id)

                     $('#img-preview')[0].src = img_path;

                     $('#gallery-details').load(current_edit_path)

                 });

         });


    </script>
{% endblock %}
