<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Iniciar secci&oacute;n - TaxiDriver's Admin</title>
    <link href="{{ asset("/css/bootstrap.min.css") }}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{ asset("/css/animate.min.css") }}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{{ asset("/css/paper-dashboard.css") }}" rel="stylesheet"/>
    <link href="{{ asset("/css/paper-dashboard-custom.css") }}" rel="stylesheet"/>

</head>
<body class="login">

<div class="container">

    {# % if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif % #}
    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Iniciar secci&oacute;n</h2>
        <input type="text" class="form-control" placeholder="Username" autofocus value="{{ last_username }}" name="_username">
        <input type="password" class="form-control" placeholder="Password" name="_password">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"
        <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
    </form>

</div> <!-- /container -->

</body>
</html>