<div class="header">
    <h4 class="title">Editar un destino<small> ({{ route_form.vars.value.name }})<i class="fa-spin fa fa-spinner hidden formLoader" style="float: right"></i></small></h4>
</div>
<div class="content">

{{ form_start(route_form) }}

    <div class="col-md-12">
        <label>Seleccione el Destino</label>
        <div class="form-group">
            <input class="end-point placepicker form-control" data-map-container-id="collapseEndPlaceMap"/>
        </div>
        <div id="collapseEndPlaceMap" class="collapse">
            <div class="placepicker-map thumbnail"></div>
        </div>
        {{ form_row(route_form.name) }}
        {{ form_row(route_form.nameEn) }}
        <hr>
        {{ form_row(route_form.weight) }}
    </div>

    <div class="col-md-12">
        <hr>
        <h5 data-toggle="collapse" data-target="#galleryCollapse">Imagenes de la Galeria <i class="fa fa-angle-double-down"></i></h5>
        <div class="row collapse" id="galleryCollapse">
            <p>Debe presionar el bot&oacute;n de Guardar para mostrar los cambios</p>
            <div class="col-md-12">
                {{ form_row(route_form.file) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(route_form.galleryImage0) }}
                {% if route_form.galleryImage0.vars.data %}
                    <img src="{{ asset(route_form.galleryImage0.vars.data.getwebpath) }}" style="height: 5em;">
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form_widget(route_form.galleryImage1) }}
                {% if route_form.galleryImage1.vars.data %}
                    <img src="{{ asset(route_form.galleryImage1.vars.data.getwebpath) }}" style="height: 5em;">
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form_widget(route_form.galleryImage2) }}
                {% if route_form.galleryImage2.vars.data %}
                    <img src="{{ asset(route_form.galleryImage2.vars.data.getwebpath) }}" style="height: 5em;">
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form_widget(route_form.galleryImage3) }}
                {% if route_form.galleryImage3.vars.data %}
                    <img src="{{ asset(route_form.galleryImage3.vars.data.getwebpath) }}" style="height: 5em;">
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form_widget(route_form.galleryImage4) }}
                {% if route_form.galleryImage4.vars.data %}
                    <img src="{{ asset(route_form.galleryImage4.vars.data.getwebpath) }}" style="height: 5em;">
                {% endif %}
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <hr>
        {{ form_row(route_form.placedesc) }}
        {{ form_row(route_form.placedescen) }}
        {{ form_row(route_form.istour) }}

    </div>

    <div class="col-md-12">
        <hr>
        <h5 data-toggle="collapse" data-target="#basePriceCollapse">Precios Base, desde la Habana <i class="fa fa-angle-double-down"></i></h5>
        <div class="row collapse" id="basePriceCollapse">
            <div class="col-md-12">

            {{ form_row(route_form.price) }}
            {{ form_row(route_form.trasferprice) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <hr>
        <h5 data-toggle="collapse" data-target="#airportsCollapsePrice">Precios desde los Aereopuertos <i class="fa fa-angle-double-down"></i></h5>
        <div class="row collapse" id="airportsCollapsePrice">
            <div class="col-md-12">
                {{ form_widget(route_form) }}
            </div>
        </div>
    </div>


        <div class="col-md-12">

    {{ form_widget(route_form) }}
        <div class="text-center"  id="placeRouteSubmit">
            <button type="submit" class="btn btn-info btn-fill btn-wd btn-save">Guardar</button>
        </div>

        {{ form_end(route_form) }}
        {% if route_delete_form is not empty %}
            {{ form_start(route_delete_form) }}

            {{ form_widget(route_delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-danger unpressed" id="deletebtn"/>
            {{ form_end(route_delete_form) }}
        {% endif %}
    </div>
</div>




    <div class="clearfix"></div>
</div>
<script> //previene eliminar imagenes sin confirmarlo
    $("#deletebtn.unpressed").click(function(e){
        console.log('click');
        if(this.classList.contains('unpressed'))
        {
            e.preventDefault();
            this.classList.remove('unpressed');
            this.value = "¿En serio, eliminar?"
        }

    });

    $(".placepicker").placepicker({
        mapIconClass: "ti-map-alt",
        placeChanged: function(place) {
            $("#appbundle_place_name")[0].value = place.name;
            $("#appbundle_place_latlong")[0].value = this.getLocation().latitude + ', '+this.getLocation().longitude;
            $("#appbundle_place_googlename")[0].value = place.formatted_address;
            var pStart = new google.maps.LatLng(23.143056, -82.38055600000001);//habana, hotel nacional
            var pEnd = new google.maps.LatLng(this.getLocation().latitude, this.getLocation().longitude);
            serviceDistance.getDistanceMatrix(
                {
                    origins: [pStart],
                    destinations: [pEnd],
                    travelMode: 'DRIVING',
                    avoidHighways: false,
                    avoidTolls: false,
                }, callbackDistance);

            $('#appbundle_place_distance')[0].value = calcDistance(pStart, pEnd);
        },
        mapOptions: {
            zoom: 15,
            center: {lat: 23.143056, lng: -82.38055600000001}
        }
    }).data('placepicker');
    

</script>