{% extends 'AppBundle:Dash:base.html.twig' %}
{% block pagetitle %}Servicios de Taxi{% endblock pagetitle %}
{% block content %}



<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Lugares disponibles</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="btn-list">
                            {% for place in places %}
                                <li> {{ place.name }}</a> <a class="btn btn-danger btn-sm" href="{{ path('dash_services_place_delete', {'id':place.id}) }}" title="Eliminar"><i class="ti-trash"></i> </a> </li>
                            {% else %}
                                No hay lugares a&uacute;n
                            {% endfor %}
                        </ul>

                    </div>


                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
            <div class="header">
                <h4 class="title">Rutas disponibles</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="btn-list">
                            {% for service in services %}
                                <li> {{ service }}</a> <a href="#" class="btn btn-sm btn-info editbtn" title="Editar" data-routeid="{{ service.id }}"><i class="ti-pencil"></i> </a> {# <a class="btn btn-danger btn-sm" href="{{ path('dash_services_route_delete', {'id':service.id}) }}" title="Eliminar"><i class="ti-trash"></i> </a> #} </li>
                            {% else %}
                                No hay rutas a&uacute;n
                            {% endfor %}
                        </ul>

                    </div>


                </div>
                <div class="clearfix"></div>

            </div>
        </div>

        </div>
    </div>


<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title"  data-toggle="collapse" data-target="#addPlace">Agregar un lugar<i class="ti-angle-down" style="float:right;"></i></h4>
            </div>
            <div class="content">

                {{ form_start(placeForm) }}
                <div class="row"  id="addPlace">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="placepicker form-control" data-map-container-id="collapsePlaceMap"/>
                        </div>
                        <div id="collapsePlaceMap" class="collapse">
                            <div class="placepicker-map thumbnail"></div>
                        </div>

                        {{ form_row(placeForm.name) }}

                        {{ form_widget(placeForm) }}

                    </div>


                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">Guardar</button>
                </div>

                {{ form_end(placeForm) }}
                <div class="clearfix"></div>

            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="card" id="routeForm">
            <div class="header">
                <h4 class="title" data-toggle="collapse" data-target="#addRoute">Agregar una ruta de servicio<i class="ti-angle-down" style="float:right;"></i></h4>
            </div>
            <div class="content">

                {{ form_start(serviceForm) }}
                <div class="row" id="addRoute">
                    <div class="col-md-12">

                        {{ form_widget(serviceForm) }}

                    </div>


                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">Guardar</button>
                </div>

                {{ form_end(serviceForm) }}
                <div class="clearfix"></div>

            </div>
        </div>
    </div>

</div>










{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/jquery.placepicker.js") }}"></script>

    <script>
        $('document').ready(function(){
            $('div.card  .btn.editbtn').click(function(e){
                e.preventDefault();
                edit_path = "{{ path('dash_services_route_edit', {'id':'routeidplaceholder'}) }}"

                route_id = this.dataset['routeid']
                current_edit_path = edit_path.replace('routeidplaceholder',route_id)

                $('#routeForm').load(current_edit_path)

            });
        //    if(typeof google === 'undefined' || google === null)
            $(".placepicker").placepicker({
                mapIconClass: "ti-map-alt",
                placeChanged: function(place) {
                    $("#appbundle_place_name")[0].value = place.name;
                    $("#appbundle_place_latlong")[0].value = this.getLocation().latitude + '; '+this.getLocation().longitude;
                    $("#appbundle_place_googlename")[0].value = place.formatted_address;
                },
                mapOptions: {
                    zoom: 15,
                    center: {lat: 23.143056, lng: -82.38055600000001}
                }
            }).data('placepicker');
        console.log("final")

        });


    </script>
{% endblock %}