{% extends 'AppBundle:Dash:base.html.twig' %}

{% set pagename = 'blog' %}

{% block content %}
    <h2>Entradas del Blog<a href="{{ path('dash_blog_new') }}" class="btn btn-primary" style="float: right">Nuevo Post</a></h2>

    {% for blogentrie in blogentries %}
    <div class="col-md-12 card">
        <div class="content">
            <h2><a href="{{ path('dash_blog_show', { 'id': blogentrie.id }) }}">{{ blogentrie.title }}</a></h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset(blogentrie.picture.getWebPath) }}" class="img-thumbnail">
                </div>
                <div class="col-md-8">
                    <p>{{ blogentrie.teaser | striptags | slice(0, 400)}}...</p>
                </div>
            </div>
            
            <div class="footer">


                <hr>
                <div class="chart-legend">
                    <i class="ti-eye text-info"></i> <a href="{{ path('dash_blog_show', { 'id': blogentrie.id }) }}">Ver</a>
                    <i class="ti-pencil-alt text-success"></i> <a href="{{ path('dash_blog_edit', { 'id': blogentrie.id }) }}">Editar</a>

                </div>
                <div class="stats" style="float: right">
                    <i class="ti-timer"></i> Publicado el {{ blogentrie.publisheddate | date('d/m/Y') }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
