{% extends 'AppBundle:Dash:base.html.twig' %}

{% set pagename = 'blog' %}




{% block content %}
    <h1>Nuevo Post
        <a href="#" class="btn btn-circle active" id="langEs">Español</a>
        <a href="#" class="btn btn-circle" id="langEn">Ingles</a>
    </h1>

    {{ form_start(form) }}
<div class="row card">
    <div class=" col-md-8">
        {{ form_row(form.title) }}
        {{ form_row(form.titleen) }}
        {{ form_row(form.teaser) }}
        {{ form_row(form.teaseren) }}
        <div class="form-group">
            {{ form_widget(form.posttext) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.posttexten) }}
        </div>
    </div>
    <div class="col-md-4">
        {{ form_row(form.publisheddate) }}
        {{ form_row(form.likes) }}
        {{ form_row(form.file) }}
        {{ form_row(form.quote) }}

        {{ form_row(form.quoteen) }}

        {{ form_row(form.secondaryPicture) }}
        {{ form_row(form.place) }}


        {{ form_row(form.weight) }}

        <h3>Etiquetas</h3>
        <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for tag in form.tags %}
                <li>{{ form_widget(tag) }}</li>
            {% endfor %}
        </ul>
        <a href="#" class="" id="deleteTag"><i class=" fa fa-2x fa-minus-circle"></i> </a>


    </div>





    <div class="col-md-4">

        <input type="submit" class="btn btn-primary" value="Guardar" />

        <div class="hidden">{{ form_end(form) }}</div>


    </div>


{% endblock %}
  
{% block stylesheets %}
{{ parent() }}
<!-- Include Editor style. -->
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/plugins/table.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/plugins/video.min.css' rel='stylesheet' type='text/css' />
{% endblock stylesheets %}
  
{% block javascripts %}
 {{ parent() }}
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/align.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/video.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/entities.min.js"></script>

    <script>
        var $collectionHolder;
        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link" id="addtagbtn"><i class=" fa fa-2x fa-plus-circle"></i> </a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);
        jQuery(document).ready(function() {
// Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');
// add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
// count the current form inputs we have (e.g. 2), use that as the new
// index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function(e) {
// prevent the link from creating a "#" on the URL
                e.preventDefault();
// add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
                updateLangFields();
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
// Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
// get the new index
            var index = $collectionHolder.data('index');
// Replace '__name__' in the prototype's HTML to
// instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
// increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>


    <script>
        function goSpanish(){
            $('[reflang="en"]').parent().hide();
            $('[reflang="es"]').parent().show();
            $("#langEn")[0].classList.remove('active')
            $("#langEs")[0].classList.add('active')
        }

        function goEnglish(){
            $('[reflang="es"]').parent().hide();
            $('[reflang="en"]').parent().show();
            $("#langEs")[0].classList.remove('active')
            $("#langEn")[0].classList.add('active')
        }

        function updateLangFields(){
            if( $("#langEn")[0].classList.contains('active'))
                goEnglish();
            if( $("#langEs")[0].classList.contains('active'))
                goSpanish();
        }

        $('document').ready(function(){
            goSpanish();

            $("#langEs").click(function () {
                goSpanish();
            });
            $("#langEn").click(function () {
                goEnglish();
            });

            $('#deleteTag').click(function (e) {
                if($('ul.tags li').children().length > 1)
                {
                    items = $('ul.tags li').children()
                    items[items.length-2].remove();
                }
            });
        });
      
         
      $(function(){
        $('#appbundle_blogentries_teaser')
          .froalaEditor({enter: $.FroalaEditor.ENTER_P, placeholderText: null, initOnClick: true})
        
        $('#appbundle_blogentries_teaseren')
          .froalaEditor({enter: $.FroalaEditor.ENTER_P, placeholderText: null, initOnClick: true})

      $('#appbundle_blogentries_posttext')
          .froalaEditor({enter: $.FroalaEditor.ENTER_P, placeholderText: null, initOnClick: true})
      
      $('#appbundle_blogentries_posttexten')
          .froalaEditor({enter: $.FroalaEditor.ENTER_P, placeholderText: null, initOnClick: true})
      });
    </script>

{% endblock %}
